<div>
    <h2 data-translate="bioBankApp.stockIn.home.title">Storage Ins</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="storage-in.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.stockIn.home.createLabel">
                        Create new Storage In
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projectCode"><span data-translate="bioBankApp.stockIn.projectCode">Project Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="project_site_code"><span data-translate="bioBankApp.stockIn.project_site_code">Project Site Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiveDate"><span data-translate="bioBankApp.stockIn.receiveDate">Receive Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiveId"><span data-translate="bioBankApp.stockIn.receiveId">Receive Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiveName"><span data-translate="bioBankApp.stockIn.receiveName">Receive Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storageInType"><span data-translate="bioBankApp.stockIn.storageInType">Storage In Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storageInPersonId1"><span data-translate="bioBankApp.stockIn.storageInPersonId1">Storage In Person Id 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storageInPersonName1"><span data-translate="bioBankApp.stockIn.storageInPersonName1">Storage In Person Name 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storageInPersonId2"><span data-translate="bioBankApp.stockIn.storageInPersonId2">Storage In Person Id 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storangeInPersonName2"><span data-translate="bioBankApp.stockIn.storangeInPersonName2">Storange In Person Name 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storageInDate"><span data-translate="bioBankApp.stockIn.storageInDate">Storage In Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleNumber"><span data-translate="bioBankApp.stockIn.sampleNumber">Sample Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="signId"><span data-translate="bioBankApp.stockIn.signId">Sign Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="signName"><span data-translate="bioBankApp.stockIn.signName">Sign Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="signDate"><span data-translate="bioBankApp.stockIn.signDate">Sign Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.stockIn.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.stockIn.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transhipId"><span data-translate="bioBankApp.stockIn.tranship">Tranship</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projectId"><span data-translate="bioBankApp.stockIn.project">Project</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projectSiteId"><span data-translate="bioBankApp.stockIn.projectSite">Project Site</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockIn in vm.stockIns track by stockIn.id">
                    <td><a ui-sref="storage-in-detail({id:stockIn.id})">{{stockIn.id}}</a></td>
                    <td>{{stockIn.projectCode}}</td>
                    <td>{{stockIn.project_site_code}}</td>
                        <td>{{stockIn.receiveDate | date:'mediumDate'}}</td>
                    <td>{{stockIn.receiveId}}</td>
                    <td>{{stockIn.receiveName}}</td>
                    <td>{{stockIn.storageInType}}</td>
                    <td>{{stockIn.storageInPersonId1}}</td>
                    <td>{{stockIn.storageInPersonName1}}</td>
                    <td>{{stockIn.storageInPersonId2}}</td>
                    <td>{{stockIn.storangeInPersonName2}}</td>
                        <td>{{stockIn.storageInDate | date:'mediumDate'}}</td>
                    <td>{{stockIn.sampleNumber}}</td>
                    <td>{{stockIn.signId}}</td>
                    <td>{{stockIn.signName}}</td>
                        <td>{{stockIn.signDate | date:'mediumDate'}}</td>
                    <td>{{stockIn.memo}}</td>
                    <td>{{stockIn.status}}</td>
                    <td>
                        <a ui-sref="tranship-detail({id:stockIn.transhipId})">{{stockIn.transhipId}}</a>
                    </td>
                    <td>
                        <a ui-sref="project-detail({id:stockIn.projectId})">{{stockIn.projectId}}</a>
                    </td>
                    <td>
                        <a ui-sref="project-site-detail({id:stockIn.projectSiteId})">{{stockIn.projectSiteId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="storage-in-detail({id:stockIn.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="storage-in.edit({id:stockIn.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="storage-in.delete({id:stockIn.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
