<div>
    <h2 data-translate="bioBankApp.projectSite.home.title">Project Sites</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="project-site.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.projectSite.home.createLabel">
                        Create new Project Site
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projectSiteCode"><span data-translate="bioBankApp.projectSite.projectSiteCode">Project Site Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projectSiteName"><span data-translate="bioBankApp.projectSite.projectSiteName">Project Site Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.projectSite.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.projectSite.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="detailedLocation"><span data-translate="bioBankApp.projectSite.detailedLocation">Detailed Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="department"><span data-translate="bioBankApp.projectSite.department">Department</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="detailedAddress"><span data-translate="bioBankApp.projectSite.detailedAddress">Detailed Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="zipCode"><span data-translate="bioBankApp.projectSite.zipCode">Zip Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="username1"><span data-translate="bioBankApp.projectSite.username1">Username 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNumber1"><span data-translate="bioBankApp.projectSite.phoneNumber1">Phone Number 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="username2"><span data-translate="bioBankApp.projectSite.username2">Username 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNumber2"><span data-translate="bioBankApp.projectSite.phoneNumber2">Phone Number 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectSite in vm.projectSites track by projectSite.id">
                    <td><a ui-sref="project-site-detail({id:projectSite.id})">{{projectSite.id}}</a></td>
                    <td>{{projectSite.projectSiteCode}}</td>
                    <td>{{projectSite.projectSiteName}}</td>
                    <td>{{projectSite.memo}}</td>
                    <td>{{projectSite.status}}</td>
                    <td>{{projectSite.detailedLocation}}</td>
                    <td>{{projectSite.department}}</td>
                    <td>{{projectSite.detailedAddress}}</td>
                    <td>{{projectSite.zipCode}}</td>
                    <td>{{projectSite.username1}}</td>
                    <td>{{projectSite.phoneNumber1}}</td>
                    <td>{{projectSite.username2}}</td>
                    <td>{{projectSite.phoneNumber2}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="project-site-detail({id:projectSite.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project-site.edit({id:projectSite.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project-site.delete({id:projectSite.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
