
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectSiteLabel" data-translate="bioBankApp.projectSite.home.createOrEditLabel">Create or edit a Project Site</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.projectSite.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.projectSite.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.projectSiteCode" for="field_projectSiteCode">Project Site Code</label>
            <input type="text" class="form-control" name="projectSiteCode" id="field_projectSiteCode"
                    ng-model="vm.projectSite.projectSiteCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.projectSiteCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.projectSiteCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.projectSiteCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.projectSiteName" for="field_projectSiteName">Project Site Name</label>
            <input type="text" class="form-control" name="projectSiteName" id="field_projectSiteName"
                    ng-model="vm.projectSite.projectSiteName"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.projectSiteName.$invalid">
                <p class="help-block"
                    ng-show="editForm.projectSiteName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.projectSiteName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.projectSite.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.projectSite.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.detailedLocation" for="field_detailedLocation">Detailed Location</label>
            <input type="text" class="form-control" name="detailedLocation" id="field_detailedLocation"
                    ng-model="vm.projectSite.detailedLocation"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.detailedLocation.$invalid">
                <p class="help-block"
                    ng-show="editForm.detailedLocation.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.department" for="field_department">Department</label>
            <input type="text" class="form-control" name="department" id="field_department"
                    ng-model="vm.projectSite.department"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.department.$invalid">
                <p class="help-block"
                    ng-show="editForm.department.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.detailedAddress" for="field_detailedAddress">Detailed Address</label>
            <input type="text" class="form-control" name="detailedAddress" id="field_detailedAddress"
                    ng-model="vm.projectSite.detailedAddress"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.detailedAddress.$invalid">
                <p class="help-block"
                    ng-show="editForm.detailedAddress.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.zipCode" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                    ng-model="vm.projectSite.zipCode"
                    ng-maxlength="20"/>
            <div ng-show="editForm.zipCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.zipCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.username1" for="field_username1">Username 1</label>
            <input type="text" class="form-control" name="username1" id="field_username1"
                    ng-model="vm.projectSite.username1"
                    ng-maxlength="20"/>
            <div ng-show="editForm.username1.$invalid">
                <p class="help-block"
                    ng-show="editForm.username1.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.phoneNumber1" for="field_phoneNumber1">Phone Number 1</label>
            <input type="text" class="form-control" name="phoneNumber1" id="field_phoneNumber1"
                    ng-model="vm.projectSite.phoneNumber1"
                    ng-maxlength="20"/>
            <div ng-show="editForm.phoneNumber1.$invalid">
                <p class="help-block"
                    ng-show="editForm.phoneNumber1.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.username2" for="field_username2">Username 2</label>
            <input type="text" class="form-control" name="username2" id="field_username2"
                    ng-model="vm.projectSite.username2"
                    ng-maxlength="20"/>
            <div ng-show="editForm.username2.$invalid">
                <p class="help-block"
                    ng-show="editForm.username2.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.projectSite.phoneNumber2" for="field_phoneNumber2">Phone Number 2</label>
            <input type="text" class="form-control" name="phoneNumber2" id="field_phoneNumber2"
                    ng-model="vm.projectSite.phoneNumber2"
                    ng-maxlength="20"/>
            <div ng-show="editForm.phoneNumber2.$invalid">
                <p class="help-block"
                    ng-show="editForm.phoneNumber2.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
