<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">
        <span ng-if="vm.allInFlag">装盒操作</span>
        <span ng-if="!vm.allInFlag">提示</span>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row m-0" ng-if="!vm.allInFlag">
        <div class="col-md-12">
            <p>有未扫码的样本，是否继续装盒？</p>
        </div>
    </div>
    <div class="" ng-if="vm.allInFlag">
        <div class="row m-0">
            <div class="pull-left col-md-6">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="col-md-5 control-label pr-5 pl-5">
                                <span class="required-field"></span>
                                临时盒编码
                            </label>
                            <div class="col-md-7 pl-5">
                                <input type="text" class="form-control" ng-model="vm.box.frozenBoxCode">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="row">
                                <label  class="col-md-3 control-label pr-5 pl-0">
                                    <span class="required-field"></span>
                                    盒类型
                                </label>
                                <div class="col-md-7 pl-5">
                                    <selectize options='vm.frozenBoxTypeOptions' config="vm.boxTypeConfig"
                                               ng-model="vm.box.frozenBoxType.id"></selectize>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" ng-click="vm.addNewBox()" ng-disabled="!vm.box.frozenBoxCode">添加新盒</button>
                        </div>
                    </div>


                </form>
            </div>
            <div class="pull-right">
                <form class="form-inline">
                    <div class="form-group">
                        <label>预装位置</label>
                        <input type="text" class="form-control" ng-model="vm.pos" ng-blur="vm.posInit()">
                    </div>
                    <button type="button" class="btn btn-default" ng-click="vm.boxIn()">装盒</button>
                    <button type="button" class="btn btn-default" ng-click="vm.recover()">复原</button>
                </form>
            </div>

        </div>
        <div class="row m-0">
            <div class="col-md-4 pl-0 pr-0">
                <table datatable="" dt-options="vm.tempBoxOptions" dt-columns="vm.tempBoxColumns" dt-instance="vm.tempBoxInstance" class=" table table-striped table-bordered"></table>
            </div>
            <div class="col-md-8 pr-0">
                <table datatable="" dt-options="vm.sampleOptions" dt-columns="vm.sampleColumns" dt-instance="vm.sampleInstance" class=" table table-striped table-bordered"></table>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-if="vm.allInFlag">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()" ng-if="vm.allInFlag">取消</button>
    <button class="btn btn-primary" type="button" ng-click="vm.yes()" ng-if="!vm.allInFlag">是</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()" ng-if="!vm.allInFlag">否</button>
</div>

