<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">
        <span ng-if="vm.status == 1">批注</span>
        <span ng-if="vm.status == 2">已出库样本批注</span>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <label>批注</label>
            <textarea ng-if="vm.status == 1" class="form-control resize-none" rows="3" ng-model="vm.memo" focus-me></textarea>
            <textarea ng-if="vm.status == 2" class="form-control resize-none" rows="3" ng-model="vm.memo" focus-me></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-disabled="!vm.memo">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>

