<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()"
            style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span>&times;</span></button>
    <h3 class="modal-title" id="modal-title">
        选择临时盒
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-3 pl-0 pr-0">
                <label>
                    <span class="required-field"></span>
                    临时盒编码
                </label>
                <input type="text" class="form-control" ng-model="vm.frozenBoxCode">
            </div>
            <div class="form-group col-md-4 pr-0">
                <label>
                    一维编码
                </label>
                <input type="text" class="form-control" ng-model="vm.box.frozenBoxCode1D" >
            </div>
            <div class="form-group col-md-3 pr-0">
                <label>
                    <span class="required-field"></span>
                    盒类型
                </label>
                <selectize options='vm.frozenBoxTypeOptions' config="vm.boxTypeConfig"
                           ng-model="vm.box.frozenBoxTypeId"></selectize>
            </div>
            <div class="col-md-2" style="margin-top: 26px">
                <button type="button" class="btn btn-default" ng-click="vm.addNewTempBox()"
                        ng-disabled="!vm.frozenBoxCode || !vm.box.frozenBoxTypeId">添加新盒
                </button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pt-0">
            <table datatable="" dt-options="vm.tempBoxOptions" dt-columns="vm.tempBoxColumns"
                   dt-instance="vm.tempBoxInstance" class=" table table-striped table-bordered"></table>
        </div>
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group position-relative" >
                    <label>预装位置</label>
                    <input type="text" class="form-control" ng-model="vm.pos" ng-click="vm.selectTubePos($event)"  readonly="readonly">
                    <div class="pos-content"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-disabled="!vm.pos">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>
