<div>
    <h2 data-translate="bioBankApp.stockOutBoxTube.home.title">Stock Out Box Tubes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stock-out-box-tube.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.stockOutBoxTube.home.createLabel">
                        Create new Stock Out Box Tube
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.stockOutBoxTube.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.stockOutBoxTube.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockOutFrozenBoxId"><span data-translate="bioBankApp.stockOutBoxTube.stockOutFrozenBox">Stock Out Frozen Box</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenTubeId"><span data-translate="bioBankApp.stockOutBoxTube.frozenTube">Frozen Tube</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockOutTaskFrozenTubeId"><span data-translate="bioBankApp.stockOutBoxTube.stockOutTaskFrozenTube">Stock Out Task Frozen Tube</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockOutBoxTube in vm.stockOutBoxTubes track by stockOutBoxTube.id">
                    <td><a ui-sref="stock-out-box-tube-detail({id:stockOutBoxTube.id})">{{stockOutBoxTube.id}}</a></td>
                    <td>{{stockOutBoxTube.status}}</td>
                    <td>{{stockOutBoxTube.memo}}</td>
                    <td>
                        <a ui-sref="stock-out-frozen-box-detail({id:stockOutBoxTube.stockOutFrozenBoxId})">{{stockOutBoxTube.stockOutFrozenBoxId}}</a>
                    </td>
                    <td>
                        <a ui-sref="frozen-tube-detail({id:stockOutBoxTube.frozenTubeId})">{{stockOutBoxTube.frozenTubeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="stock-out-task-frozen-tube-detail({id:stockOutBoxTube.stockOutTaskFrozenTubeId})">{{stockOutBoxTube.stockOutTaskFrozenTubeId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stock-out-box-tube-detail({id:stockOutBoxTube.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-out-box-tube.edit({id:stockOutBoxTube.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-out-box-tube.delete({id:stockOutBoxTube.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
