
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStockOutReqFrozenTubeLabel" data-translate="bioBankApp.stockOutReqFrozenTube.home.createOrEditLabel">Create or edit a Stock Out Req Frozen Tube</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stockOutReqFrozenTube.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stockOutReqFrozenTube.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutReqFrozenTube.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.stockOutReqFrozenTube.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutReqFrozenTube.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.stockOutReqFrozenTube.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutReqFrozenTube.tubeRows" for="field_tubeRows">Tube Rows</label>
            <input type="text" class="form-control" name="tubeRows" id="field_tubeRows"
                    ng-model="vm.stockOutReqFrozenTube.tubeRows"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.tubeRows.$invalid">
                <p class="help-block"
                    ng-show="editForm.tubeRows.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.tubeRows.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutReqFrozenTube.tubeColumns" for="field_tubeColumns">Tube Columns</label>
            <input type="text" class="form-control" name="tubeColumns" id="field_tubeColumns"
                    ng-model="vm.stockOutReqFrozenTube.tubeColumns"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.tubeColumns.$invalid">
                <p class="help-block"
                    ng-show="editForm.tubeColumns.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.tubeColumns.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.stockOutReqFrozenTube.frozenBox" for="field_frozenBox">Frozen Box</label>
            <select class="form-control" id="field_frozenBox" name="frozenBox" ng-model="vm.stockOutReqFrozenTube.frozenBoxId" ng-options="frozenBox.id as frozenBox.id for frozenBox in vm.frozenboxes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.frozenBox.$invalid">
            <p class="help-block"
                ng-show="editForm.frozenBox.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.stockOutReqFrozenTube.frozenTube" for="field_frozenTube">Frozen Tube</label>
            <select class="form-control" id="field_frozenTube" name="frozenTube" ng-model="vm.stockOutReqFrozenTube.frozenTubeId" ng-options="frozenTube.id as frozenTube.id for frozenTube in vm.frozentubes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.frozenTube.$invalid">
            <p class="help-block"
                ng-show="editForm.frozenTube.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.stockOutReqFrozenTube.stockOutRequirement" for="field_stockOutRequirement">Stock Out Requirement</label>
            <select class="form-control" id="field_stockOutRequirement" name="stockOutRequirement" ng-model="vm.stockOutReqFrozenTube.stockOutRequirementId" ng-options="stockOutRequirement.id as stockOutRequirement.id for stockOutRequirement in vm.stockoutrequirements"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.stockOutRequirement.$invalid">
            <p class="help-block"
                ng-show="editForm.stockOutRequirement.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
