<div>
    <h2 data-translate="bioBankApp.stockOutReqFrozenTube.home.title">Stock Out Req Frozen Tubes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stock-out-req-frozen-tube.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.stockOutReqFrozenTube.home.createLabel">
                        Create new Stock Out Req Frozen Tube
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.stockOutReqFrozenTube.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.stockOutReqFrozenTube.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tubeRows"><span data-translate="bioBankApp.stockOutReqFrozenTube.tubeRows">Tube Rows</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tubeColumns"><span data-translate="bioBankApp.stockOutReqFrozenTube.tubeColumns">Tube Columns</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="importingSampleId"><span data-translate="bioBankApp.stockOutReqFrozenTube.importingSampleId">Importing Sample Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenBoxId"><span data-translate="bioBankApp.stockOutReqFrozenTube.frozenBox">Frozen Box</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenTubeId"><span data-translate="bioBankApp.stockOutReqFrozenTube.frozenTube">Frozen Tube</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockOutRequirementId"><span data-translate="bioBankApp.stockOutReqFrozenTube.stockOutRequirement">Stock Out Requirement</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockOutReqFrozenTube in vm.stockOutReqFrozenTubes track by stockOutReqFrozenTube.id">
                    <td><a ui-sref="stock-out-req-frozen-tube-detail({id:stockOutReqFrozenTube.id})">{{stockOutReqFrozenTube.id}}</a></td>
                    <td>{{stockOutReqFrozenTube.status}}</td>
                    <td>{{stockOutReqFrozenTube.memo}}</td>
                    <td>{{stockOutReqFrozenTube.tubeRows}}</td>
                    <td>{{stockOutReqFrozenTube.tubeColumns}}</td>
                    <td>{{stockOutReqFrozenTube.importingSampleId}}</td>
                    <td>
                        <a ui-sref="frozen-box-detail({id:stockOutReqFrozenTube.frozenBoxId})">{{stockOutReqFrozenTube.frozenBoxId}}</a>
                    </td>
                    <td>
                        <a ui-sref="frozen-tube-detail({id:stockOutReqFrozenTube.frozenTubeId})">{{stockOutReqFrozenTube.frozenTubeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="stock-out-requirement-detail({id:stockOutReqFrozenTube.stockOutRequirementId})">{{stockOutReqFrozenTube.stockOutRequirementId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stock-out-req-frozen-tube-detail({id:stockOutReqFrozenTube.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-out-req-frozen-tube.edit({id:stockOutReqFrozenTube.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-out-req-frozen-tube.delete({id:stockOutReqFrozenTube.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
