
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStockOutRequirementLabel" data-translate="bioBankApp.stockOutRequirement.home.createOrEditLabel">Create or edit a Stock Out Requirement</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stockOutRequirement.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stockOutRequirement.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.requirementName" for="field_requirementName">Requirement Name</label>
            <input type="text" class="form-control" name="requirementName" id="field_requirementName"
                    ng-model="vm.stockOutRequirement.requirementName"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.requirementName.$invalid">
                <p class="help-block"
                    ng-show="editForm.requirementName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.requirementName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.countOfSample" for="field_countOfSample">Count Of Sample</label>
            <input type="number" class="form-control" name="countOfSample" id="field_countOfSample"
                    ng-model="vm.stockOutRequirement.countOfSample"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.sex" for="field_sex">Sex</label>
            <input type="text" class="form-control" name="sex" id="field_sex"
                    ng-model="vm.stockOutRequirement.sex"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.ageMin" for="field_ageMin">Age Min</label>
            <input type="number" class="form-control" name="ageMin" id="field_ageMin"
                    ng-model="vm.stockOutRequirement.ageMin"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.ageMax" for="field_ageMax">Age Max</label>
            <input type="number" class="form-control" name="ageMax" id="field_ageMax"
                    ng-model="vm.stockOutRequirement.ageMax"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.diseaseType" for="field_diseaseType">Disease Type</label>
            <input type="number" class="form-control" name="diseaseType" id="field_diseaseType"
                    ng-model="vm.stockOutRequirement.diseaseType"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.isHemolysis" for="field_isHemolysis">Is Hemolysis</label>
                <input type="checkbox" name="isHemolysis" id="field_isHemolysis"
                          ng-model="vm.stockOutRequirement.isHemolysis"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.isBloodLipid" for="field_isBloodLipid">Is Blood Lipid</label>
                <input type="checkbox" name="isBloodLipid" id="field_isBloodLipid"
                          ng-model="vm.stockOutRequirement.isBloodLipid"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.stockOutRequirement.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.stockOutRequirement.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.applyCode" for="field_applyCode">Apply Code</label>
            <input type="text" class="form-control" name="applyCode" id="field_applyCode"
                    ng-model="vm.stockOutRequirement.applyCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.applyCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.applyCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.applyCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.requirementCode" for="field_requirementCode">Requirement Code</label>
            <input type="text" class="form-control" name="requirementCode" id="field_requirementCode"
                    ng-model="vm.stockOutRequirement.requirementCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.requirementCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.requirementCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.requirementCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutRequirement.importingFileId" for="field_importingFileId">Importing File Id</label>
            <input type="number" class="form-control" name="importingFileId" id="field_importingFileId"
                    ng-model="vm.stockOutRequirement.importingFileId"
                    />
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.stockOutRequirement.stockOutApply" for="field_stockOutApply">Stock Out Apply</label>
            <select class="form-control" id="field_stockOutApply" name="stockOutApply" ng-model="vm.stockOutRequirement.stockOutApplyId" ng-options="stockOutApply.id as stockOutApply.id for stockOutApply in vm.stockoutapplies"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.stockOutApply.$invalid">
            <p class="help-block"
                ng-show="editForm.stockOutApply.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.stockOutRequirement.sampleType" for="field_sampleType">Sample Type</label>
            <select class="form-control" id="field_sampleType" name="sampleType" ng-model="vm.stockOutRequirement.sampleTypeId" ng-options="sampleType.id as sampleType.id for sampleType in vm.sampletypes"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.stockOutRequirement.sampleClassification" for="field_sampleClassification">Sample Classification</label>
            <select class="form-control" id="field_sampleClassification" name="sampleClassification" ng-model="vm.stockOutRequirement.sampleClassificationId" ng-options="sampleClassification.id as sampleClassification.id for sampleClassification in vm.sampleclassifications"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.stockOutRequirement.frozenTubeType" for="field_frozenTubeType">Frozen Tube Type</label>
            <select class="form-control" id="field_frozenTubeType" name="frozenTubeType" ng-model="vm.stockOutRequirement.frozenTubeTypeId" ng-options="frozenTubeType.id as frozenTubeType.id for frozenTubeType in vm.frozentubetypes"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
