<div>
    <h2 data-translate="bioBankApp.stockOutRequirement.home.title">Stock Out Requirements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stock-out-requirement.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.stockOutRequirement.home.createLabel">
                        Create new Stock Out Requirement
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="apply_number"><span data-translate="bioBankApp.stockOutRequirement.apply_number">Apply Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requirementNumber"><span data-translate="bioBankApp.stockOutRequirement.requirementNumber">Requirement Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requirementName"><span data-translate="bioBankApp.stockOutRequirement.requirementName">Requirement Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countOfSample"><span data-translate="bioBankApp.stockOutRequirement.countOfSample">Count Of Sample</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sex"><span data-translate="bioBankApp.stockOutRequirement.sex">Sex</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ageMin"><span data-translate="bioBankApp.stockOutRequirement.ageMin">Age Min</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ageMax"><span data-translate="bioBankApp.stockOutRequirement.ageMax">Age Max</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="diseaseType"><span data-translate="bioBankApp.stockOutRequirement.diseaseType">Disease Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isHemolysis"><span data-translate="bioBankApp.stockOutRequirement.isHemolysis">Is Hemolysis</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isBloodLipid"><span data-translate="bioBankApp.stockOutRequirement.isBloodLipid">Is Blood Lipid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.stockOutRequirement.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.stockOutRequirement.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockOutApplyId"><span data-translate="bioBankApp.stockOutRequirement.stockOutApply">Stock Out Apply</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleTypeId"><span data-translate="bioBankApp.stockOutRequirement.sampleType">Sample Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleClassificationId"><span data-translate="bioBankApp.stockOutRequirement.sampleClassification">Sample Classification</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenTubeTypeId"><span data-translate="bioBankApp.stockOutRequirement.frozenTubeType">Frozen Tube Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockOutRequirement in vm.stockOutRequirements track by stockOutRequirement.id">
                    <td><a ui-sref="stock-out-requirement-detail({id:stockOutRequirement.id})">{{stockOutRequirement.id}}</a></td>
                    <td>{{stockOutRequirement.apply_number}}</td>
                    <td>{{stockOutRequirement.requirementNumber}}</td>
                    <td>{{stockOutRequirement.requirementName}}</td>
                    <td>{{stockOutRequirement.countOfSample}}</td>
                    <td>{{stockOutRequirement.sex}}</td>
                    <td>{{stockOutRequirement.ageMin}}</td>
                    <td>{{stockOutRequirement.ageMax}}</td>
                    <td>{{stockOutRequirement.diseaseType}}</td>
                    <td>{{stockOutRequirement.isHemolysis}}</td>
                    <td>{{stockOutRequirement.isBloodLipid}}</td>
                    <td>{{stockOutRequirement.status}}</td>
                    <td>{{stockOutRequirement.memo}}</td>
                    <td>
                        <a ui-sref="stock-out-apply-detail({id:stockOutRequirement.stockOutApplyId})">{{stockOutRequirement.stockOutApplyId}}</a>
                    </td>
                    <td>
                        <a ui-sref="sample-type-detail({id:stockOutRequirement.sampleTypeId})">{{stockOutRequirement.sampleTypeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="sample-classification-detail({id:stockOutRequirement.sampleClassificationId})">{{stockOutRequirement.sampleClassificationId}}</a>
                    </td>
                    <td>
                        <a ui-sref="frozen-tube-type-detail({id:stockOutRequirement.frozenTubeTypeId})">{{stockOutRequirement.frozenTubeTypeId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stock-out-requirement-detail({id:stockOutRequirement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-out-requirement.edit({id:stockOutRequirement.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-out-requirement.delete({id:stockOutRequirement.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
