<div class="img-show " ng-repeat="item in imagesData">
    <div class="img-operate">
        <span ng-click="vm.delUploadInfo(item)"><i class="fa fa-trash-o"></i></span>
        <span ng-click="vm.uploadFile(2,item)"><i class="fa fa-pencil"></i></span>
    </div>
    <div class="img-content" onclick="$('img[class=img-thumbnail]').click();">
        <h5 class="img-title text-ellipsis mt-5 mb-5" title="{{item.fileTitle}}">{{item.fileTitle}}</h5>
        <div class="img-description" title="{{item.description}}">{{item.description}}</div>
    </div>
    <img data-original="{{item.bigImage}}" ng-src="{{item.smallImage}}" style="width: 140px;height: 140px;" class="img-thumbnail">
</div>
