<form class="form-horizontal" novaildate name="approvalForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
        <h3 class="modal-title" id="modal-title">样本出库批准</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div>
            <p>委托方，在2015-10-22至2016-11-25期间，申请出库样本10000只。用于手动阀手动阀手动阀手动阀是</p>
            <p>委托方，在2015-10-22至2016-11-25期间，申请出库样本10000只。用于手动阀手动阀手动阀手动阀是</p>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                       已将样本出库申请单送达委托方
                    </label>
                </div>
                <div class="checkbox ">
                    <label>
                        <input type="checkbox" value="">
                        委托方有使用样本的授权
                    </label>
                </div>
                <div class="checkbox ">
                    <label>
                        <input type="checkbox" value="">
                        委托方已经核对过样本出库单申请
                    </label>
                </div>
                <div class="checkbox ">
                    <label>
                        <input type="checkbox" value="" >
                        委托方已经获知部分需求样本，库存不能满足需求
                    </label>
                </div>
            </div>
        </div>
        <div class="row form-horizontal m-t-20">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">批准人</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label  class="col-sm-4 control-label">密码</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label  class="col-sm-4 control-label">批准日期</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()"  ng-disabled="approvalForm.$invalid">确定</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
    </div>
</form>
