<form class="form-horizontal" novaildate name="approvalForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
        <h3 class="modal-title" id="modal-title">样本出库批准</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div>
            <p>委托方:{{vm.requirement.applyPersonName}}，在{{vm.startTime}}至{{vm.endTime}}期间，申请出库样本{{vm.requirement.countOfStockOutSample}}只。</p>
            <p ng-if="vm.requirement.purposeOfSample">用于:{{vm.requirement.purposeOfSample}}</p>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="checkbox" ng-repeat="item in vm.conditions track by $index">
                    <label>
                        <input type="checkbox" ng-model="item.checked" ng-click="vm.checkCondition()" ng-true-value="true" ng-false-value="false">
                       {{item.name}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row  mt-20">
            <div class="col-md-3">
                <label>审核人<span class="required-field"></span></label>
                <selectize options='vm.approverOptions' config="vm.approverConfig"
                           ng-model="vm.approve.approverId"></selectize>
                <input type="hidden" ng-model="vm.approve.approverId" required>
            </div>
            <div class="col-md-3">
                <label >密码 <span class="required-field"></span></label>
                <input type="password" class="form-control" ng-model="vm.approve.password" required>
            </div>
            <div class="col-md-3">
                <label>审核日期<span class="required-field"></span></label>
                <div class="input-group">
                    <input  type="text" class="form-control" name="approveTime" ui-mask="9999-99-99" uib-datepicker-popup="{{dateformat}}" ng-model="vm.approve.recordTime" is-open="vm.datePickerOpenStatus.approveTime"
                            required  />
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('approveTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()"  ng-disabled="vm.conditionLen != 4 || approvalForm.$invalid">确定</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
    </div>
</form>
