
<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">授权项目</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>改变授权项目，已核对的需求将被复原，是否改变授权的项目？</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()" >是</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">否</button>
</div>
