<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">指定样本详情</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="no-padding">
                <!--<table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class=" table table-striped table-bordered"></table>-->
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>样本编码</th>
                            <th>样本类型</th>
                            <th>样本编码</th>
                            <th>样本类型</th>
                            <th>样本编码</th>
                            <th>样本类型</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.samples">
                            <td>{{item.sampleCode}}</td>
                            <td>{{item.sampleType}}</td>
                        </tr>
                    </tbody>
                </table>
                {{vm.queryCount}}
                <div class="text-right">
                    <uib-pagination total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" items-per-page="vm.itemsPerPage" max-size="5" first-text="<<" previous-text="<" next-text=">" last-text=">>" boundary-links="true" boundary-link-numbers="true"></uib-pagination>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" type="button" ng-click="vm.ok()" >确定</button>-->
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>
