<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">样本库存详情</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row m0">
        <div class="col-md-10">
            <h5>样本量:{{vm.requirementDesc.countOfSample}}&nbsp;&nbsp;样本分类:{{vm.requirementDesc.sampleType}}&nbsp;&nbsp;管类型:{{vm.requirementDesc.tubeType}}&nbsp;&nbsp;性别:{{vm.requirementDesc.sex}}&nbsp;&nbsp;年龄段:{{vm.requirementDesc.ages}}&nbsp;&nbsp;疾病类型:{{vm.requirementDesc.diseaseType}}&nbsp;
                <span ng-if="vm.requirementDesc.isHemolysis">&nbsp;有溶血</span>
                <span ng-if="vm.requirementDesc.isBloodLipid">&nbsp;有脂质血</span>
            </h5>
            <h5>可用项目:{{vm.requirementDesc.projects}}</h5>
            <h5>备注:{{vm.requirementDesc.memo}}</h5>
        </div>
        <div class="col-md-2 text-right">
            <button class="btn btn-primary" ng-click="vm.printRequirementDesc()">打印</button>
        </div>
    </div>
    <div class="row m0">
        <div class="col-md-12">
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class=" table table-striped table-bordered">
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()" >确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>
