<div class="modal-header">
    <h3 class="modal-title">
        添加申请
    </h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group over-ellipsis requirement">
                <label>委托方<span class="required-field"></span></label>
                <selectize options='vm.delegatesOptions' config="vm.delegatesConfig"
                           ng-model="vm.entity.delegateId"></selectize>
                <input type="hidden" class="form-control"
                       ng-model="vm.entity.delegateId" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>委托人<span class="required-field"></span></label>
                <input type="text" class="form-control" ng-model="vm.entity.applyPersonName" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>项目编码<span class="required-field"></span></label>
                <selectize options='vm.projectOptions' config="vm.projectConfig"
                           ng-model="vm.entity.projectId"></selectize>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>检测类型</label>
                <selectize options='vm.checkTypeOptions' config="vm.checkTypeConfig"
                           ng-model="vm.entity.checkTypeId "></selectize>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button"  ng-click="vm.ok()" ng-disabled="!vm.entity.applyPersonName || !vm.entity.projectId || !vm.entity.delegateId">确定</button>
    <button class="btn btn-warning" type="button"  ng-click="vm.cancel()">取消</button>
</div>
