<div>
    <h2 data-translate="bioBankApp.frozenTubeRecord.home.title">Frozen Tube Records</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="frozen-tube-record.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.frozenTubeRecord.home.createLabel">
                        Create new Frozen Tube Record
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projectCode"><span data-translate="bioBankApp.frozenTubeRecord.projectCode">Project Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleTempCode"><span data-translate="bioBankApp.frozenTubeRecord.sampleTempCode">Sample Temp Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleCode"><span data-translate="bioBankApp.frozenTubeRecord.sampleCode">Sample Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenTypeCode"><span data-translate="bioBankApp.frozenTubeRecord.frozenTypeCode">Frozen Type Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenTypeName"><span data-translate="bioBankApp.frozenTubeRecord.frozenTypeName">Frozen Type Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleUsedTimesMost"><span data-translate="bioBankApp.frozenTubeRecord.sampleUsedTimesMost">Sample Used Times Most</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleUsedTimes"><span data-translate="bioBankApp.frozenTubeRecord.sampleUsedTimes">Sample Used Times</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenTubeVolumn"><span data-translate="bioBankApp.frozenTubeRecord.frozenTubeVolumn">Frozen Tube Volumn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenTubeVolumnUnit"><span data-translate="bioBankApp.frozenTubeRecord.frozenTubeVolumnUnit">Frozen Tube Volumn Unit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleTypeCode"><span data-translate="bioBankApp.frozenTubeRecord.sampleTypeCode">Sample Type Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleTypeName"><span data-translate="bioBankApp.frozenTubeRecord.sampleTypeName">Sample Type Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenBoxCode"><span data-translate="bioBankApp.frozenTubeRecord.frozenBoxCode">Frozen Box Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tubeRows"><span data-translate="bioBankApp.frozenTubeRecord.tubeRows">Tube Rows</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tubeColumns"><span data-translate="bioBankApp.frozenTubeRecord.tubeColumns">Tube Columns</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isModifyState"><span data-translate="bioBankApp.frozenTubeRecord.isModifyState">Is Modify State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.frozenTubeRecord.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.frozenTubeRecord.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isModifyPosition"><span data-translate="bioBankApp.frozenTubeRecord.isModifyPosition">Is Modify Position</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleTypeId"><span data-translate="bioBankApp.frozenTubeRecord.sampleType">Sample Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tubeTypeId"><span data-translate="bioBankApp.frozenTubeRecord.tubeType">Tube Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenBoxId"><span data-translate="bioBankApp.frozenTubeRecord.frozenBox">Frozen Box</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenTubeId"><span data-translate="bioBankApp.frozenTubeRecord.frozenTube">Frozen Tube</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="frozenTubeRecord in vm.frozenTubeRecords track by frozenTubeRecord.id">
                    <td><a ui-sref="frozen-tube-record-detail({id:frozenTubeRecord.id})">{{frozenTubeRecord.id}}</a></td>
                    <td>{{frozenTubeRecord.projectCode}}</td>
                    <td>{{frozenTubeRecord.sampleTempCode}}</td>
                    <td>{{frozenTubeRecord.sampleCode}}</td>
                    <td>{{frozenTubeRecord.frozenTypeCode}}</td>
                    <td>{{frozenTubeRecord.frozenTypeName}}</td>
                    <td>{{frozenTubeRecord.sampleUsedTimesMost}}</td>
                    <td>{{frozenTubeRecord.sampleUsedTimes}}</td>
                    <td>{{frozenTubeRecord.frozenTubeVolumn}}</td>
                    <td>{{frozenTubeRecord.frozenTubeVolumnUnit}}</td>
                    <td>{{frozenTubeRecord.sampleTypeCode}}</td>
                    <td>{{frozenTubeRecord.sampleTypeName}}</td>
                    <td>{{frozenTubeRecord.frozenBoxCode}}</td>
                    <td>{{frozenTubeRecord.tubeRows}}</td>
                    <td>{{frozenTubeRecord.tubeColumns}}</td>
                    <td>{{frozenTubeRecord.isModifyState}}</td>
                    <td>{{frozenTubeRecord.memo}}</td>
                    <td>{{frozenTubeRecord.status}}</td>
                    <td>{{frozenTubeRecord.isModifyPosition}}</td>
                    <td>
                        <a ui-sref="sample-type-detail({id:frozenTubeRecord.sampleTypeId})">{{frozenTubeRecord.sampleTypeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="frozen-tube-type-detail({id:frozenTubeRecord.tubeTypeId})">{{frozenTubeRecord.tubeTypeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="frozen-box-detail({id:frozenTubeRecord.frozenBoxId})">{{frozenTubeRecord.frozenBoxId}}</a>
                    </td>
                    <td>
                        <a ui-sref="frozen-tube-detail({id:frozenTubeRecord.frozenTubeId})">{{frozenTubeRecord.frozenTubeId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="frozen-tube-record-detail({id:frozenTubeRecord.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="frozen-tube-record.edit({id:frozenTubeRecord.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="frozen-tube-record.delete({id:frozenTubeRecord.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
