
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFrozenTubeRecordLabel" data-translate="bioBankApp.frozenTubeRecord.home.createOrEditLabel">Create or edit a Frozen Tube Record</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.frozenTubeRecord.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.frozenTubeRecord.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.projectCode" for="field_projectCode">Project Code</label>
            <input type="text" class="form-control" name="projectCode" id="field_projectCode"
                    ng-model="vm.frozenTubeRecord.projectCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.projectCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.projectCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.projectCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.sampleTempCode" for="field_sampleTempCode">Sample Temp Code</label>
            <input type="text" class="form-control" name="sampleTempCode" id="field_sampleTempCode"
                    ng-model="vm.frozenTubeRecord.sampleTempCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.sampleTempCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.sampleTempCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sampleTempCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.sampleCode" for="field_sampleCode">Sample Code</label>
            <input type="text" class="form-control" name="sampleCode" id="field_sampleCode"
                    ng-model="vm.frozenTubeRecord.sampleCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.sampleCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.sampleCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sampleCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.frozenTypeCode" for="field_frozenTypeCode">Frozen Type Code</label>
            <input type="text" class="form-control" name="frozenTypeCode" id="field_frozenTypeCode"
                    ng-model="vm.frozenTubeRecord.frozenTypeCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.frozenTypeCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.frozenTypeCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.frozenTypeCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.frozenTypeName" for="field_frozenTypeName">Frozen Type Name</label>
            <input type="text" class="form-control" name="frozenTypeName" id="field_frozenTypeName"
                    ng-model="vm.frozenTubeRecord.frozenTypeName"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.frozenTypeName.$invalid">
                <p class="help-block"
                    ng-show="editForm.frozenTypeName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.frozenTypeName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.sampleUsedTimesMost" for="field_sampleUsedTimesMost">Sample Used Times Most</label>
            <input type="number" class="form-control" name="sampleUsedTimesMost" id="field_sampleUsedTimesMost"
                    ng-model="vm.frozenTubeRecord.sampleUsedTimesMost"
                    required max="20"/>
            <div ng-show="editForm.sampleUsedTimesMost.$invalid">
                <p class="help-block"
                    ng-show="editForm.sampleUsedTimesMost.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sampleUsedTimesMost.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.sampleUsedTimesMost.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.sampleUsedTimes" for="field_sampleUsedTimes">Sample Used Times</label>
            <input type="number" class="form-control" name="sampleUsedTimes" id="field_sampleUsedTimes"
                    ng-model="vm.frozenTubeRecord.sampleUsedTimes"
                    required max="20"/>
            <div ng-show="editForm.sampleUsedTimes.$invalid">
                <p class="help-block"
                    ng-show="editForm.sampleUsedTimes.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sampleUsedTimes.$error.max" data-translate="entity.validation.max" translate-value-max="20">
                    This field cannot be more than 20.
                </p>
                <p class="help-block"
                    ng-show="editForm.sampleUsedTimes.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.frozenTubeVolumn" for="field_frozenTubeVolumn">Frozen Tube Volumn</label>
            <input type="number" class="form-control" name="frozenTubeVolumn" id="field_frozenTubeVolumn"
                    ng-model="vm.frozenTubeRecord.frozenTubeVolumn"
                    required max="100"/>
            <div ng-show="editForm.frozenTubeVolumn.$invalid">
                <p class="help-block"
                    ng-show="editForm.frozenTubeVolumn.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.frozenTubeVolumn.$error.max" data-translate="entity.validation.max" translate-value-max="100">
                    This field cannot be more than 100.
                </p>
                <p class="help-block"
                    ng-show="editForm.frozenTubeVolumn.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.frozenTubeVolumnUnit" for="field_frozenTubeVolumnUnit">Frozen Tube Volumn Unit</label>
            <input type="text" class="form-control" name="frozenTubeVolumnUnit" id="field_frozenTubeVolumnUnit"
                    ng-model="vm.frozenTubeRecord.frozenTubeVolumnUnit"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.frozenTubeVolumnUnit.$invalid">
                <p class="help-block"
                    ng-show="editForm.frozenTubeVolumnUnit.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.frozenTubeVolumnUnit.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.sampleTypeCode" for="field_sampleTypeCode">Sample Type Code</label>
            <input type="text" class="form-control" name="sampleTypeCode" id="field_sampleTypeCode"
                    ng-model="vm.frozenTubeRecord.sampleTypeCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.sampleTypeCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.sampleTypeCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sampleTypeCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.sampleTypeName" for="field_sampleTypeName">Sample Type Name</label>
            <input type="text" class="form-control" name="sampleTypeName" id="field_sampleTypeName"
                    ng-model="vm.frozenTubeRecord.sampleTypeName"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.sampleTypeName.$invalid">
                <p class="help-block"
                    ng-show="editForm.sampleTypeName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sampleTypeName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.frozenBoxCode" for="field_frozenBoxCode">Frozen Box Code</label>
            <input type="text" class="form-control" name="frozenBoxCode" id="field_frozenBoxCode"
                    ng-model="vm.frozenTubeRecord.frozenBoxCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.frozenBoxCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.frozenBoxCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.frozenBoxCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.tubeRows" for="field_tubeRows">Tube Rows</label>
            <input type="text" class="form-control" name="tubeRows" id="field_tubeRows"
                    ng-model="vm.frozenTubeRecord.tubeRows"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.tubeRows.$invalid">
                <p class="help-block"
                    ng-show="editForm.tubeRows.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.tubeRows.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.tubeColumns" for="field_tubeColumns">Tube Columns</label>
            <input type="text" class="form-control" name="tubeColumns" id="field_tubeColumns"
                    ng-model="vm.frozenTubeRecord.tubeColumns"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.tubeColumns.$invalid">
                <p class="help-block"
                    ng-show="editForm.tubeColumns.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.tubeColumns.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.isModifyState" for="field_isModifyState">Is Modify State</label>
            <input type="text" class="form-control" name="isModifyState" id="field_isModifyState"
                    ng-model="vm.frozenTubeRecord.isModifyState"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.isModifyState.$invalid">
                <p class="help-block"
                    ng-show="editForm.isModifyState.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.isModifyState.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.frozenTubeRecord.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.frozenTubeRecord.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.frozenTubeRecord.isModifyPosition" for="field_isModifyPosition">Is Modify Position</label>
            <input type="text" class="form-control" name="isModifyPosition" id="field_isModifyPosition"
                    ng-model="vm.frozenTubeRecord.isModifyPosition"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.isModifyPosition.$invalid">
                <p class="help-block"
                    ng-show="editForm.isModifyPosition.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.isModifyPosition.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.frozenTubeRecord.sampleType" for="field_sampleType">Sample Type</label>
            <select class="form-control" id="field_sampleType" name="sampleType" ng-model="vm.frozenTubeRecord.sampleTypeId" ng-options="sampleType.id as sampleType.id for sampleType in vm.sampletypes"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.frozenTubeRecord.tubeType" for="field_tubeType">Tube Type</label>
            <select class="form-control" id="field_tubeType" name="tubeType" ng-model="vm.frozenTubeRecord.tubeTypeId" ng-options="frozenTubeType.id as frozenTubeType.id for frozenTubeType in vm.frozentubetypes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.tubeType.$invalid">
            <p class="help-block"
                ng-show="editForm.tubeType.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.frozenTubeRecord.frozenBox" for="field_frozenBox">Frozen Box</label>
            <select class="form-control" id="field_frozenBox" name="frozenBox" ng-model="vm.frozenTubeRecord.frozenBoxId" ng-options="frozenBox.id as frozenBox.id for frozenBox in vm.frozenboxes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.frozenBox.$invalid">
            <p class="help-block"
                ng-show="editForm.frozenBox.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.frozenTubeRecord.frozenTube" for="field_frozenTube">Frozen Tube</label>
            <select class="form-control" id="field_frozenTube" name="frozenTube" ng-model="vm.frozenTubeRecord.frozenTubeId" ng-options="frozenTube.id as frozenTube.id for frozenTube in vm.frozentubes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.frozenTube.$invalid">
            <p class="help-block"
                ng-show="editForm.frozenTube.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
