
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStockOutHandoverDetailsLabel" data-translate="bioBankApp.stockOutHandoverDetails.home.createOrEditLabel">Create or edit a Stock Out Handover Details</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stockOutHandoverDetails.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stockOutHandoverDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutHandoverDetails.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.stockOutHandoverDetails.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutHandoverDetails.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.stockOutHandoverDetails.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.stockOutHandoverDetails.stockOutHandover" for="field_stockOutHandover">Stock Out Handover</label>
            <select class="form-control" id="field_stockOutHandover" name="stockOutHandover" ng-model="vm.stockOutHandoverDetails.stockOutHandoverId" ng-options="stockOutHandover.id as stockOutHandover.id for stockOutHandover in vm.stockouthandovers"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.stockOutHandover.$invalid">
            <p class="help-block"
                ng-show="editForm.stockOutHandover.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.stockOutHandoverDetails.stockOutFrozenTube" for="field_stockOutFrozenTube">Stock Out Frozen Tube</label>
            <select class="form-control" id="field_stockOutFrozenTube" name="stockOutFrozenTube" ng-model="vm.stockOutHandoverDetails.stockOutFrozenTubeId" ng-options="stockOutFrozenTube.id as stockOutFrozenTube.id for stockOutFrozenTube in vm.stockoutfrozentubes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.stockOutFrozenTube.$invalid">
            <p class="help-block"
                ng-show="editForm.stockOutFrozenTube.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
