<div>
    <h2 data-translate="bioBankApp.stockOutTask.home.title">Stock Out Tasks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stock-out-task.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.stockOutTask.home.createLabel">
                        Create new Stock Out Task
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockOutHeadId1"><span data-translate="bioBankApp.stockOutTask.stockOutHeadId1">Stock Out Head Id 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockOutHeadId2"><span data-translate="bioBankApp.stockOutTask.stockOutHeadId2">Stock Out Head Id 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockOutDate"><span data-translate="bioBankApp.stockOutTask.stockOutDate">Stock Out Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.stockOutTask.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.stockOutTask.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockOutTaskCode"><span data-translate="bioBankApp.stockOutTask.stockOutTaskCode">Stock Out Task Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usedTime"><span data-translate="bioBankApp.stockOutTask.usedTime">Used Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockOutPlanId"><span data-translate="bioBankApp.stockOutTask.stockOutPlan">Stock Out Plan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockOutTask in vm.stockOutTasks track by stockOutTask.id">
                    <td><a ui-sref="stock-out-task-detail({id:stockOutTask.id})">{{stockOutTask.id}}</a></td>
                    <td>{{stockOutTask.stockOutHeadId1}}</td>
                    <td>{{stockOutTask.stockOutHeadId2}}</td>
                        <td>{{stockOutTask.stockOutDate | date:'mediumDate'}}</td>
                    <td>{{stockOutTask.status}}</td>
                    <td>{{stockOutTask.memo}}</td>
                    <td>{{stockOutTask.stockOutTaskCode}}</td>
                    <td>{{stockOutTask.usedTime}}</td>
                    <td>
                        <a ui-sref="stock-out-plan-detail({id:stockOutTask.stockOutPlanId})">{{stockOutTask.stockOutPlanId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stock-out-task-detail({id:stockOutTask.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-out-task.edit({id:stockOutTask.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-out-task.delete({id:stockOutTask.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
