
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStockOutTaskLabel" data-translate="bioBankApp.stockOutTask.home.createOrEditLabel">Create or edit a Stock Out Task</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stockOutTask.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stockOutTask.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutTask.stockOutHeadId1" for="field_stockOutHeadId1">Stock Out Head Id 1</label>
            <input type="number" class="form-control" name="stockOutHeadId1" id="field_stockOutHeadId1"
                    ng-model="vm.stockOutTask.stockOutHeadId1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutTask.stockOutHeadId2" for="field_stockOutHeadId2">Stock Out Head Id 2</label>
            <input type="number" class="form-control" name="stockOutHeadId2" id="field_stockOutHeadId2"
                    ng-model="vm.stockOutTask.stockOutHeadId2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutTask.stockOutDate" for="field_stockOutDate">Stock Out Date</label>
                <div class="input-group">
                    <input id="field_stockOutDate" type="text" class="form-control" name="stockOutDate" ui-mask="9999-99-99" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stockOutTask.stockOutDate" is-open="vm.datePickerOpenStatus.stockOutDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('stockOutDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.stockOutDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.stockOutDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutTask.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.stockOutTask.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutTask.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.stockOutTask.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutTask.stockOutTaskCode" for="field_stockOutTaskCode">Stock Out Task Code</label>
            <input type="text" class="form-control" name="stockOutTaskCode" id="field_stockOutTaskCode"
                    ng-model="vm.stockOutTask.stockOutTaskCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.stockOutTaskCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.stockOutTaskCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.stockOutTaskCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutTask.usedTime" for="field_usedTime">Used Time</label>
            <input type="number" class="form-control" name="usedTime" id="field_usedTime"
                    ng-model="vm.stockOutTask.usedTime"
                    required/>
            <div ng-show="editForm.usedTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.usedTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.usedTime.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.stockOutTask.stockOutPlan" for="field_stockOutPlan">Stock Out Plan</label>
            <select class="form-control" id="field_stockOutPlan" name="stockOutPlan" ng-model="vm.stockOutTask.stockOutPlanId" ng-options="stockOutPlan.id as stockOutPlan.id for stockOutPlan in vm.stockoutplans"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.stockOutPlan.$invalid">
            <p class="help-block"
                ng-show="editForm.stockOutPlan.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
