<div class="row">
    <div class="col-md-12">
        <div tube-box-table ht-instance="vm.htInstance" ht-settings="vm.htSettings"
             data-box="vm.box" data-tubes="vm.tubes"></div>
    </div>
    <div class="col-md-3">
        <button ng-click="vm.select()">Select</button>
        <button ng-click="vm.selectAll()">Select All</button>
        <button ng-click="vm.setValueEditable()">Edit Value</button>
        <button ng-click="vm.setStatusEditable()">Edit Status</button>
        <button ng-click="vm.getGridData()">Grid Data</button>
        <button ng-click="vm.getSelectedData()">Grid Selected</button>
        <button ng-click="vm.exchange()">Exchange POS</button>
        <button ng-click="vm.split()">Split</button>
        <button ng-click="vm.setMemo()">Set Memo</button>
    </div>
</div>
