<div>
    <div class="row">
        <div class="col-md-12 pb-10">
            <div class="pull-left ">
                <h2 class="m0">添加出库交接</h2>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="" ng-disabled="!vm.canBePrint()">打印交接单</button>
                <button class="btn btn-primary" ng-click="vm.takeOverModal()" ng-disabled="!vm.canBeTakeOver()">样本交接</button>
                <button class="btn btn-primary" ng-click="vm.save()">保存</button>
                <button class="btn btn-default" ui-sref="take-over-list">关闭</button>
            </div>
        </div>
    </div>
    <form name="handoverForm" class="form-horizontal" novalidate>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-md-6">交接时间
                        <span class="required-field"></span>
                    </label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input  type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.dto.handoverTime" is-open="vm.datePickerOpenStatus.handoverTime"
                                    required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('handoverTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-md-6">交付人
                        <span class="required-field"></span>
                    </label>
                    <div class="col-md-6">
                        <selectize options='vm.loginOptions' config="vm.loginConfig"
                                   ng-model="vm.dto.handoverPersonId"></selectize>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-md-6">接收人
                        <span class="required-field"></span>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="vm.dto.receiverName"/>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-md-6">联系电话
                        <span class="required-field"></span>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="vm.dto.receiverPhone"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-3">所属机构
                        <span class="required-field"></span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="vm.dto.receiverOrganization"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-md-6">出库申请
                        <span class="required-field"></span>
                    </label>
                    <div class="col-md-6">
                        <selectize options='vm.applicationOptions' config="vm.applicationOptionsConfig"
                                   ng-model="vm.dto.stockOutApplyId"></selectize>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-md-6">出库计划
                        <!--<span class="required-field"></span>-->
                    </label>
                    <div class="col-md-6">
                        <selectize options='vm.planOptions' config="vm.planOptionsConfig"
                                   ng-model="vm.dto.stockOutPlanId"></selectize>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-md-6">出库任务
                        <!--<span class="required-field"></span>-->
                    </label>
                    <div class="col-md-6">
                        <selectize options='vm.taskOptions' config="vm.taskOptionsConfig"
                                   ng-model="vm.dto.stockOutTaskId"></selectize>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-md-6">状态
                        <!--<span class="required-field"></span>-->
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" disabled="disabled" ng-model="vm.dto.status"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-1">备注
                        <!--<span class="required-field"></span>-->
                    </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-model="vm.dto.memo"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h4>待交接冻存盒</h4>
                    </div>
                    <div class="pull-right form-inline">
                        <div class="form-group">
                            <label>冻存位置</label>
                            <input type="text" class="form-control" ng-model="vm.filterPos">
                        </div>
                        <div class="form-group">
                            <label>盒子编码</label>
                            <input type="text" class="form-control" ng-model="vm.filterBoxCode">
                        </div>
                        <button type="button" class="btn btn-default" ng-click="vm.searchBox(vm.filterPos, vm.filterBoxCode)">搜索</button>
                        <button type="button" class="btn btn-default" ng-click="vm.searchBox('', '')">所有</button>
                        <!--<div ng-if="vm.requirement.status == '1103'">-->
                        <!--<button class="btn btn-primary" ng-click="vm.addApplyRequirement()">添加</button>-->
                        <!--</div>-->
                        <div ng-if="vm.status != '1103'">
                            <!--<button class="btn btn-primary" ng-click="vm.addSampleModal()" ng-disabled="!vm.projectIds || !vm.requirement.delegateId">交接</button>-->
                            <!--<button class="btn btn-primary" ng-click="vm.sampleRequirementListCheck()">核对库存</button>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body p-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="no-padding">
                    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance"
                           class=" table table-striped table-bordered" style="table-layout: fixed;">
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
