<div>
    <div class="row">
        <div class="col-md-12 pb-10">
            <div class="pull-left ">
                <h2 class="m0">添加出库交接</h2>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="" ng-disabled="!vm.canBePrint()">打印交接单</button>
                <button class="btn btn-primary" ng-click="vm.takeOverModal()" ng-disabled="!vm.canBeTakeOver()">样本交接</button>
                <button class="btn btn-primary" ng-click="vm.save()">保存</button>
                <button class="btn btn-default" ui-sref="take-over-list">关闭</button>
            </div>
        </div>
    </div>
    <form name="handoverForm" class="" novalidate>
        <div class="row m0">
            <div class="form-group col-md-2">
                <label>
                    交接时间
                    <span class="required-field"></span>
                </label>
                <div class="input-group">
                    <input  type="text" class="form-control" name="handoverTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.dto.handoverTime" is-open="vm.datePickerOpenStatus.handoverTime"
                            required/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('handoverTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label>交付人<span class="required-field"></span></label>
                <selectize options='vm.loginOptions' config="vm.loginConfig"
                           ng-model="vm.dto.handoverPersonId"></selectize>
            </div>
            <div class="form-group col-md-2">
                <label>接收人</label>
                <input type="text" class="form-control" ng-model="vm.dto.receiverName"/>
            </div>
            <div class="form-group col-md-2">
                <label>联系电话</label>
                <input type="text" class="form-control" ng-model="vm.dto.receiverPhone"/>
            </div>
            <div class="form-group col-md-2">
                <label>所属机构</label>
                <input type="text" class="form-control" ng-model="vm.dto.receiverOrganization"/>
            </div>
            <div class="form-group col-md-2">
                <label>状态</label>
                <!--<selectize options='vm.statusOptions' config="vm.statusConfig"-->
                           <!--ng-model="vm.dto.status" ng-disabled="true"></selectize>-->
                <input class="form-control" type="text" ng-model="vm.dto.status" ng-disabled="true" required>
            </div>
        </div>

        <div class="row m0">
            <div class="form-group col-md-2">
                <label>
                    出库申请
                    <span class="required-field"></span>
                </label>
                <selectize options='vm.applicationOptions' config="vm.applicationOptionsConfig"
                           ng-model="vm.dto.stockOutApplyId"></selectize>
            </div>
            <div class="form-group col-md-2">
                <label>出库计划<span class="required-field"></span></label>
                <selectize options='vm.planOptions' config="vm.planOptionsConfig"
                           ng-model="vm.dto.stockOutPlanId"></selectize>
            </div>
            <div class="form-group col-md-2">
                <label>出库任务</label>
                <selectize options='vm.taskOptions' config="vm.taskOptionsConfig"
                           ng-model="vm.dto.stockOutTaskId"></selectize>
            </div>
            <div class="form-group col-md-6">
                <label>备注</label>
                <input type="text" class="form-control" ng-model="vm.dto.memo"/>
            </div>
        </div>



    </form>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h4>待交接冻存盒</h4>
                    </div>
                    <div class="pull-right form-inline">
                        <div class="form-group">
                            <label>冻存位置</label>
                            <input type="text" class="form-control" ng-model="vm.filterPos">
                        </div>
                        <div class="form-group">
                            <label>盒子编码</label>
                            <input type="text" class="form-control" ng-model="vm.filterBoxCode">
                        </div>
                        <button type="button" class="btn btn-default" ng-click="vm.searchBox(vm.filterPos, vm.filterBoxCode)">搜索</button>
                        <button type="button" class="btn btn-default" ng-click="vm.searchBox('', '')">所有</button>
                        <!--<div ng-if="vm.requirement.status == '1103'">-->
                        <!--<button class="btn btn-primary" ng-click="vm.addApplyRequirement()">添加</button>-->
                        <!--</div>-->
                        <div ng-if="vm.status != '1103'">
                            <!--<button class="btn btn-primary" ng-click="vm.addSampleModal()" ng-disabled="!vm.projectIds || !vm.requirement.delegateId">交接</button>-->
                            <!--<button class="btn btn-primary" ng-click="vm.sampleRequirementListCheck()">核对库存</button>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body p-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="no-padding">
                    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance"
                           class=" table table-striped table-bordered" style="table-layout: fixed;">
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
