<div>
    <h2 data-translate="bioBankApp.coordinate.home.title">Coordinates</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="coordinate.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.coordinate.home.createLabel">
                        Create new Coordinate
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="province"><span data-translate="bioBankApp.coordinate.province">Province</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span data-translate="bioBankApp.coordinate.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span data-translate="bioBankApp.coordinate.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span data-translate="bioBankApp.coordinate.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.coordinate.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.coordinate.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="coordinate in vm.coordinates track by coordinate.id">
                    <td><a ui-sref="coordinate-detail({id:coordinate.id})">{{coordinate.id}}</a></td>
                    <td>{{coordinate.province}}</td>
                    <td>{{coordinate.city}}</td>
                    <td>{{coordinate.longitude}}</td>
                    <td>{{coordinate.latitude}}</td>
                    <td>{{coordinate.status}}</td>
                    <td>{{coordinate.memo}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="coordinate-detail({id:coordinate.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="coordinate.edit({id:coordinate.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="coordinate.delete({id:coordinate.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
