<div>
    <h2 data-translate="bioBankApp.stockOutFiles.home.title">Stock Out Files</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stock-out-files.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.stockOutFiles.home.createLabel">
                        Create new Stock Out Files
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="businessId"><span data-translate="bioBankApp.stockOutFiles.businessId">Business Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filePath"><span data-translate="bioBankApp.stockOutFiles.filePath">File Path</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileName"><span data-translate="bioBankApp.stockOutFiles.fileName">File Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileType"><span data-translate="bioBankApp.stockOutFiles.fileType">File Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileSize"><span data-translate="bioBankApp.stockOutFiles.fileSize">File Size</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="files"><span data-translate="bioBankApp.stockOutFiles.files">Files</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.stockOutFiles.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.stockOutFiles.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockOutFiles in vm.stockOutFiles track by stockOutFiles.id">
                    <td><a ui-sref="stock-out-files-detail({id:stockOutFiles.id})">{{stockOutFiles.id}}</a></td>
                    <td>{{stockOutFiles.businessId}}</td>
                    <td>{{stockOutFiles.filePath}}</td>
                    <td>{{stockOutFiles.fileName}}</td>
                    <td>{{stockOutFiles.fileType}}</td>
                    <td>{{stockOutFiles.fileSize}}</td>
                    <td>
                        <a ng-if="stockOutFiles.files" ng-click="vm.openFile(stockOutFiles.filesContentType, stockOutFiles.files)">
                            <img data-ng-src="{{'data:' + stockOutFiles.filesContentType + ';base64,' + stockOutFiles.files}}" style="max-height: 30px;" alt="stockOutFiles image"/>
                        </a>
                        <span ng-if="stockOutFiles.files">{{stockOutFiles.filesContentType}}, {{vm.byteSize(stockOutFiles.files)}}</span>
                    </td>
                    <td>{{stockOutFiles.status}}</td>
                    <td>{{stockOutFiles.memo}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stock-out-files-detail({id:stockOutFiles.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-out-files.edit({id:stockOutFiles.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-out-files.delete({id:stockOutFiles.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
