
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStockOutFilesLabel" data-translate="bioBankApp.stockOutFiles.home.createOrEditLabel">Create or edit a Stock Out Files</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stockOutFiles.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stockOutFiles.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutFiles.businessId" for="field_businessId">Business Id</label>
            <input type="number" class="form-control" name="businessId" id="field_businessId"
                    ng-model="vm.stockOutFiles.businessId"
                    required/>
            <div ng-show="editForm.businessId.$invalid">
                <p class="help-block"
                    ng-show="editForm.businessId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.businessId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutFiles.filePath" for="field_filePath">File Path</label>
            <input type="text" class="form-control" name="filePath" id="field_filePath"
                    ng-model="vm.stockOutFiles.filePath"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.filePath.$invalid">
                <p class="help-block"
                    ng-show="editForm.filePath.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.filePath.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutFiles.fileName" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                    ng-model="vm.stockOutFiles.fileName"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.fileName.$invalid">
                <p class="help-block"
                    ng-show="editForm.fileName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fileName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutFiles.fileType" for="field_fileType">File Type</label>
            <input type="text" class="form-control" name="fileType" id="field_fileType"
                    ng-model="vm.stockOutFiles.fileType"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.fileType.$invalid">
                <p class="help-block"
                    ng-show="editForm.fileType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fileType.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutFiles.fileSize" for="field_fileSize">File Size</label>
            <input type="number" class="form-control" name="fileSize" id="field_fileSize"
                    ng-model="vm.stockOutFiles.fileSize"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFiles($file, vm.stockOutFiles)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="bioBankApp.stockOutFiles.files" for="field_files">Files</label>
            <div>
                <img data-ng-src="{{'data:' + vm.stockOutFiles.filesContentType + ';base64,' + vm.stockOutFiles.files}}" style="max-height: 100px;" ng-if="vm.stockOutFiles.files" alt="stockOutFiles image"/>
                <div ng-if="vm.stockOutFiles.files" class="help-block clearfix">
                    <span class="pull-left">{{vm.stockOutFiles.filesContentType}}, {{vm.byteSize(vm.stockOutFiles.files)}}</span>
                    <button type="button" ng-click="vm.stockOutFiles.files=null;vm.stockOutFiles.filesContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFiles($file, vm.stockOutFiles)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="files" id="field_files"
                    ng-model="vm.stockOutFiles.files"
                    />
            <input type="hidden" class="form-control" name="filesContentType" id="field_filesContentType"
                    ng-model="vm.stockOutFiles.filesContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutFiles.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.stockOutFiles.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutFiles.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.stockOutFiles.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
