<div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left ">
                <h2 class="m-0">出库计划</h2>
            </div>
            <div class="pull-right">
                <!--<button class="btn btn-primary" ng-click="vm.taskDescModal()">查看出库任务</button>-->
                <!--<button class="btn btn-primary" ng-click="vm.savePlan()">保存计划</button>-->
                <button class="btn btn-default" ui-sref="plan-list">关闭</button>
            </div>
        </div>
    </div>
    <div>
        <div class="row form-horizontal">
            <!--<div class="col-md-2">-->

                <!--<label class="col-md-4 control-label">申请单</label>-->
                <!--<div class="col-md-8">-->
                    <!--<selectize options='vm.applyNumberOptions' config="vm.applyNumberConfig"-->
                               <!--ng-model="vm.applyId"></selectize>-->
                    <!--{{vm.plan.applyNumber}}-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-12">
                <p>申请单：{{vm.plan.applyCode}}&nbsp;&nbsp;委托方：{{vm.plan.delegateName}}，在{{vm.plan.startTime}}至{{vm.plan.endTime}}期间，申请出库样本{{vm.plan.countOfSample}}只</p>
                <p ng-if="vm.plan.purposeOfSample">用于：{{vm.plan.purposeOfSample}}</p>
                <p ng-if="vm.plan.countOfStockOutSample">当前库存能够满足符合要求的样本{{vm.plan.countOfStockOutSample}}只</p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="pull-left">
                                  <h4>申请出库的样本</h4>
                              </div>
                              <!--<div class="pull-right">-->
                                  <!--<button class="btn btn-default" ng-click="vm.createTask()" ng-disabled="!vm.strBoxIds">创建任务</button>-->
                              <!--</div>-->
                          </div>
                      </div>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="col-md-12" style="max-height: 200px;overflow: auto;border: 0px solid #ccc;">
                                  <div class="col-md-3 " ng-show="vm.plan.stockOutRequirement.length">
                                      <label class="checkbox">
                                          <input type="checkbox" ng-model="vm.select_all" ng-click="vm.selectDemandAll()"> 全选
                                      </label>
                                  </div>
                                  <div class="col-md-3" ng-repeat="item in vm.plan.stockOutRequirement track by $index">
                                      <label class="checkbox">
                                          <input type="checkbox" ng-model="vm.demand[item.id]" ng-click="vm.selectDemandOne()"> {{item.requirementName}}
                                      </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class=" table table-striped table-bordered">
                              </table>
                              <div class="ml-5 mb-5">
                                  共{{vm.boxData.length}}条数据
                              </div>
                          </div>
                          <div class="col-md-6 pl-0" style="margin-top: 28px;">
                              <table datatable="" dt-options="vm.tubeOptions" dt-columns="vm.tubeColumns" dt-instance="vm.tubeInstance" class="table table-striped table-bordered"></table>
                              <div class="ml-5 mb-5">
                                  共{{vm.tubeData.length}}条数据
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="pull-left">
                                  <h4>出库任务</h4>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel-body p-0">
                      <div class="row">
                          <div class="col-md-12">
                              <table datatable="" dt-options="vm.taskOptions" dt-columns="vm.taskColumns" dt-instance="vm.taskInstance" class="table table-striped table-bordered"></table>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <pageslide ps-open="vm.checkedPlanFlag" ps-body-class="true">
        <div class="inventory">
            <div  class="no-padding">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 pr-0">
                                <h4>冻存盒</h4>
                            </div>
                            <div class="col-md-8 pl-0 text-right">
                                <button type="submit" class="btn btn-default btn-primary" ng-click="vm.createTask()">创建任务</button>
                                <button type="submit" class="btn btn-default" ng-click="vm.close()">关闭</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body no-padding selected-content">
                        <table datatable="" dt-options="vm.selectedOptions" dt-columns="vm.selectedColumns" dt-instance="vm.selectedInstance" class=" table table-striped table-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </pageslide>
</div>
