<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2">
                    <h4>冻存盒信息</h4>
                </div>
                <div class="col-md-10  text-right mt-5">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="vm.singleMultipleFlag" value="single"> 单次录入
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="vm.singleMultipleFlag" value="multiple"> 批量录入
                        &nbsp;&nbsp;
                    </label>
                    <button type="button" class="btn btn-default btn-xs btn-primary" ng-click="vm.saveBox()" ng-disabled="!vm.obox.frozenBoxCode" >
                        保　　存
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="vm.editEntering()">
                        修　　改
                    </button>
                    <button type="button" class="btn btn-default btn-xs"
                            ng-class="{true:'btn-primary',false:''}[vm.flagStatus]" ng-model="vm.flagStatus"
                            uib-btn-checkbox ng-click="vm.editStatus()" ng-disabled="!vm.obox">状态编辑
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="vm.exchange()"
                            ng-disabled="!vm.obox || vm.flagStatus">样本换位
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="vm.tubeRemark()"
                            ng-disabled="!vm.obox || vm.flagStatus">样本批注
                    </button>

                    <!--<button type="button" class="btn btn-default btn-sm" ng-click="vm.delBox()" ng-disabled="!vm.box">-->
                    <!--删除盒子-->
                    <!--</button>-->
                    <button type="button" class="btn btn-default btn-xs" ng-click=" vm.closeBox()" >
                        关　　闭
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body p-0">
            <div class="row">
                <div class="col-md-2 pr-0 pl-20">
                    <form>
                        <div class="form-group">
                            <label>冻存盒号</label>
                            <input type="text" class="form-control"  ng-model="vm.obox.frozenBoxCode" ng-disabled="vm.editFlag" ng-blur="vm.frozenBoxForStockIn()" focus-me>
                        </div>
                        <div class="form-group">
                            <label>盒类型</label>
                            <selectize options='vm.frozenBoxTypeOptions' config="vm.boxTypeConfig"
                                       ng-model="vm.obox.frozenBoxTypeId"  ng-disabled="vm.editFlag"></selectize>
                        </div>
                        <div class="form-group">
                            <label>样本类型</label>
                            <!--{{vm.sampleTypeOptions}}-->
                            <selectize options='vm.sampleTypeOptions' config="vm.sampleTypeConfig"
                                       ng-model="vm.obox.sampleTypeId"  ng-disabled="vm.editFlag"></selectize>
                            <label class="checkbox-inline pb-10">
                                <input type="checkbox" ng-model="vm.obox.isSplit"
                                       ng-true-value="1" ng-false-value="0">是否分装
                            </label>
                        </div>
                        <div class="form-group">
                            <label>样本分类</label>
                            <selectize options='vm.projectSampleTypeOptions' config="vm.projectSampleTypeConfig"
                                       ng-model="vm.obox.sampleClassificationId"  ng-disabled="vm.editFlag"
                            ></selectize>
                        </div>
                        <div class="form-group">
                            <label>备注</label>
                            <textarea  class="form-control resize-none" rows="9" ng-model="vm.obox.memo"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-md-10 pl-0">
                    <div class="col-md-12 pipe-table mt-5">
                        <span class="">图例说明：</span><span><img src="content/images/legend-for-tube-status.svg"
                                                              height="30px"/></span>
                    </div>
                    <div class="col-md-12 pr-0">
                        <hot-table hot-id="my-handsontable" settings="vm.settings" class="tube"
                                   style="width: 100%; padding: 0;margin: 0;"></hot-table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
