<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">
        <span ng-if="vm.operateStatus == '1'">交换操作</span>
        <span ng-if="vm.operateStatus == '2'">销毁操作</span>
    </h3>
</div>
<div class="modal-body">
    <form name="inventoryForm" role="form" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>原因
                        <span class="required-field"></span>
                    </label>
                    <textarea class="form-control resize-none" rows="3" ng-model="vm.entity.reason" focus-me required></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>操作员1
                        <span class="required-field"></span>
                    </label>
                    <selectize options='vm.userOptions' config="vm.userConfig"
                               ng-model="vm.entity.operatorId1"></selectize>
                    <input type="hidden" ng-model="vm.entity.operatorId1" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>密钥
                        <span class="required-field"></span>
                    </label>
                    <input type="password" class="form-control" ng-model="vm.entity.password1" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>操作员2
                        <span class="required-field"></span>
                    </label>
                    <selectize options='vm.userOptions' config="vm.userConfig"
                               ng-model="vm.entity.operatorId2"></selectize>
                    <input type="hidden" ng-model="vm.entity.operatorId2" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>密钥
                        <span class="required-field"></span>
                    </label>
                    <input type="password" class="form-control" ng-model="vm.entity.password2" required>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-disabled="inventoryForm.$invalid">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>
