<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">冻存盒入库上架</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="com-md-6">
            <form class="form-horizontal">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">设备号</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="vm.entity.stockInDate" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">区域号</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="vm.entity.storeKeeper1" placeholder="入库员">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="com-md-6">
            <div class="text-right">
                <button type="button" class="btn btn-default">上架</button>
                <button type="button" class="btn btn-default">复原</button>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="row-border hover">
                <thead>
                <th>冻存架号</th>
                </thead>
                <tbody >
                <tr>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <hot-table hot-id="my-handsontable" settings="vm.settings"></hot-table>
        </div>
        <div class="col-md-5">c</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>
