<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()"
            style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span>&times;</span></button>
    <h3 class="modal-title" id="modal-title">冻存盒入库上架</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label">设备号</label>
                    <div class="col-md-8">
                        <selectize options='vm.equipmentsOptions' config="vm.equipmentsOptionsConfig"
                                   ng-model="vm.equipmentId"></selectize>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label">区域号</label>
                    <div class="col-md-8">
                        <selectize options='vm.areasOptions' config="vm.areasOptionsConfig"
                                   ng-model="vm.areaId"></selectize>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-default" ng-click="vm.putInShelf()">上架</button>
                <button type="button" class="btn btn-default" ng-click="vm.rollback()">复原</button>
            </div>

        </div>
    </form>
    <div class="row">
        <div class="col-md-2" style="margin-top: -24px;">
            <table datatable="ng" dt-options="vm.dtShelvesListOptions" class="row-border hover">
                <thead>
                <th>冻存架号</th>
                </thead>
                <tbody>
                <tr ng-repeat="shelf in vm.shelves">
                    <td data-id="shelf.id" ng-click="vm.selectShelf($event, shelf)">
                        {{shelf.equipmentCode}}.{{shelf.areaCode}}.{{shelf.supportRackCode}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 tube">
            <hot-table hot-id="shelfDetailsTable" settings="vm.shelfDetailsTableSettings"></hot-table>
        </div>
        <div class="col-md-4" style="margin-top: -24px;">
            <table datatable="ng" dt-options="vm.dtBoxesListOptions" dt-columns="vm.dtBoxesListColumns"
                   dt-instance="vm.dtBoxesListInstance" class="row-border hover">
                <thead>
                <th><input type="checkbox" ng-model="vm.selectAllBox"
                           ng-click="vm.toggleAll(vm.selectAllBox, vm.selectedBox)"></th>
                <th>冻存盒#</th>
                <th>状态</th>
                <th>位置</th>
                </thead>
                <tbody>
                <tr ng-repeat="box in vm.frozenBoxes | filter:vm.filterNotPutInShelfBoxes">
                    <td data-id="box.id">
                        <input ng-if="box.status=='2002'" type="checkbox" ng-model="vm.selectedBox[box.frozenBoxCode]"
                               ng-click="vm.toggleOne(vm.selectedBox)">
                    </td>
                    <td>{{box.frozenBoxCode}}</td>
                    <td ng-switch="box.status">
                        <span ng-switch-when="2001">新建</span>
                        <span ng-switch-when="2002" ng-if="box.isSplit">待分装</span>
                        <span ng-switch-when="2002" ng-if="!box.isSplit">待入库</span>
                        <span ng-switch-when="2003">已分装</span>
                        <span ng-switch-when="2004">已入库</span>
                        <span ng-switch-when="2090">已作废</span>
                        <span ng-switch-when="2006">已上架</span>
                        <span ng-switch-default>{{box.status}}</span>
                    </td>
                    <td>{{box.position}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-disabled="vm.canBeSave()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>
