<div class="stock-in-new">
    <div class="">
        <h3 class="pull-left" style="margin: 0">编辑入库记录</h3>
        <div class="form-group pull-right mr-10">
            <div class="text-right">
                <button type="button" class="btn btn-primary" ng-click="vm.saveStockIn()"
                        ng-show="vm.entity.status == '7001'"
                        ng-disabled="!vm.stockInFlag"
                >入库完成
                </button>
                <button type="button" class="btn" ui-sref="stock-in">关闭</button>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>转运编码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{vm.entity.transhipCode}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>入库单号</label>
                <input type="text" class="form-control" ng-disabled="true" ng-model="vm.entity.stockInCode">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group ">
                <label>
                    项目编码
                </label>
                <selectize options='vm.projectOptions' config="vm.projectConfig"
                           ng-model="vm.entity.projectId" ng-disabled="true"></selectize>
            </div>
        </div>
        <div class="col-md-2">
            <label>
                接收日期
            </label>
            <div class="input-group">
                <input type="text" class="form-control" name="receiveDate"
                        uib-datepicker-popup="{{dateformat}}" ng-model="vm.entity.receiveDate"
                       is-open="vm.datePickerOpenStatus.receiveDate" ng-disabled="true"
                       required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('receiveDate')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label>
                接收人
            </label>
            <selectize options='vm.receiverOptions' config="vm.receiverConfig"
                       ng-model="vm.entity.receiveName" ng-disabled="true"></selectize>
            <input type="hidden" class="form-control" ng-model="vm.entity.receiveName">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="stock-in-list no-padding">
                <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance"
                       class=" table table-striped table-bordered">

                </table>
                <div class="mt-10 mb-10">共{{vm.stockInBox.length}}条数据</div>
            </div>

        </div>
    </div>

    <pageslide ps-open="vm.checked" ps-body-class="true">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4 pr-0">
                        <h4>搜索条件</h4>
                    </div>
                    <div class="col-md-8 pl-0 text-right">
                        <button type="submit" class="btn btn-default btn-primary" ng-click="vm.search()">搜索</button>
                        <button type="submit" class="btn btn-default" ng-click="vm.empty()">清空</button>
                        <button type="submit" class="btn btn-default" ng-click="vm.checked = false">关闭</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>冻存盒编码</label>
                    <input type="text" class="form-control" ng-model="vm.dto.frozenBoxCode">
                </div>
                <div class="form-group">
                    <label>一维编码</label>
                    <input type="text" class="form-control" ng-model="vm.dto.frozenBoxCode1D">
                </div>
                <div class="form-group">
                    <label>样本类型</label>
                    <selectize options='vm.sampleTypeOptions' config="vm.sampleTypeConfig"
                               ng-model="vm.dto.sampleTypeId"></selectize>
                </div>
                <div class="form-group">
                    <label>样本分类</label>
                    <selectize options='vm.sampleClassOptions' config="vm.sampleClassConfig"
                               ng-model="vm.dto.sampleClassificationId"
                               ng-if="vm.noSampleClassFlag"
                    ></selectize>
                    <input type="text" class="form-control" ng-disabled="true" ng-if="!vm.noSampleClassFlag">
                </div>
                <div class="form-group">
                    <label>状态</label>
                    <selectize options='vm.statusOptions' config="vm.statusConfig"
                               ng-model="vm.dto.status"></selectize>
                </div>
                <div class="form-group">
                    <div>
                        <label>位置</label>
                    </div>
                    <div class="pull-left">
                        <selectize options='vm.frozenBoxPlaceOptions' config="vm.frozenBoxPlaceConfig"
                                   style="width:85px"
                                   ng-model="vm.dto.equipmentId"></selectize>

                    </div>
                    <div class="pull-left pl-5">
                        <selectize options='vm.frozenBoxAreaOptions' config="vm.frozenBoxAreaConfig"
                                   style="width:85px"
                                   ng-model="vm.dto.areaId" ng-if="!vm.noClassFlag"></selectize>
                        <input type="text" class="form-control" style="width:85px" ng-disabled="true"
                               ng-if="vm.noClassFlag">
                    </div>
                    <div class="pull-left pl-5">
                        <selectize options='vm.frozenBoxShelfOptions' config="vm.frozenBoxShelfConfig"
                                   style="width:85px"
                                   ng-model="vm.dto.shelvesId" ng-if="!vm.noshelvesFlag"></selectize>
                        <input type="text" class="form-control" style="width:85px" ng-disabled="true"
                               ng-if="vm.noshelvesFlag">
                    </div>
                </div>
            </div>
        </div>
    </pageslide>
    <!--分装-->
    <div ng-if="vm.splittingBox">
        <div class="row split-box">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-5">
                        <h4>待分装样本盒{{vm.box.frozenBoxCode}}</h4>
                    </div>
                    <div class="col-md-7 text-right mb-10">
                        <!--<button type="button" class="btn btn-default" ng-click="vm.selectSampleAll()">全选</button>-->
                        <button type="button" class="btn btn-default" ng-click="vm.closeBox()">关闭</button>
                        <button type="button" class="btn btn-default" ng-click="vm.splitBox()">分装</button>
                        <button type="button" class="btn btn-default" ng-click="vm.recover()">复原</button>
                        <button type="button" class="btn btn-primary" ng-click="vm.saveBox()">保存分装结果</button>
                    </div>
                </div>
                <hot-table hot-id="my-handsontable" settings="vm.settings" class="tube"></hot-table>
            </div>
            <div class="col-md-3 pl-0 pr-0">
                <h4>
                    分装后样本盒
                </h4>
                <div>
                    <ul>
                        <li ng-repeat="item in vm.incompleteBoxesList">
                            <div ng-repeat="item1 in item.boxList track by $index">
                                <div class="box-feature current" ng-style="{backgroundColor:item1.backColor}"
                                     ng-click="vm.sampleBoxSelect(item1,$event)">
                                    {{item1.countOfSample}}/{{item1.frozenBoxType.frozenBoxTypeColumns*item1.frozenBoxType.frozenBoxTypeRows}}
                                    <span ng-if="item1.addTubeCount">+{{item1.addTubeCount}}</span>
                                </div>
                                <div class="box-name text-ellipsis" ng-if="$index == 0"
                                     title="{{item1.sampleTypeName}}">{{item1.sampleTypeName}}&nbsp;</div>
                                <div ng-class="{'second-box': $index == 1}">{{item1.copyBoxCode}}</div>
                            </div>
                            <div class="box-feature box-feature-copy" style="background-color: #fff;"
                                 ng-if="item.boxList.length == 2"></div>
                        </li>
                        <li>
                            <div class="box-feature" style="line-height: 96px;padding-top:0;border:2px dotted #aaa;"
                                 ng-click="vm.addBoxModal()">
                                <i class="fa fa-plus" style="font-size:30px;"></i>
                            </div>
                        </li>
                        <li class="clear-both"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--编辑-->
    <div class="row" ng-if="vm.showFlag">
        <edit-stock-directive
            stock-in-info="vm.entity"
            stock-in-box="vm.box"
            reload-data="vm.tableRender()"
            edit-flag="vm.editFlag"
            show-flag="vm.showFlag"
        ></edit-stock-directive>
    </div>
</div>
