<div class="transport-record-new">
    <div class="">
        <h3 class="pull-left">新增入库记录</h3>
        <div class="form-group pull-right m-r-10">
            <div class="text-right">
                <button type="button" class="btn btn-primary" ng-click="vm.saveRecord()">保存</button>
                <button type="button" class="btn" ui-sref="stock-in">关闭</button>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>

    <div class="row">
        <div class="col-md-1 text-right"><strong>入库单编号</strong></div>
        <div class="col-md-1">{{vm.entity.stockInCode}}</div>
        <div class="col-md-1 text-right"><strong>转运编号</strong></div>
        <div class="col-md-1">{{vm.entity.transhipCode}}</div>
        <div class="col-md-1 text-right"><strong>项目编号</strong></div>
        <div class="col-md-1">{{vm.entity.projectCode}}</div>
        <div class="col-md-1 text-right"><strong>项目点</strong></div>
        <div class="col-md-1">{{vm.entity.projectSiteCode}}</div>

        <div class="col-md-1 text-right"><strong>接收日期</strong></div>
        <div class="col-md-1">{{vm.entity.receivedDate}}</div>
        <div class="col-md-1 text-right"><strong>接收人</strong></div>
        <div class="col-md-1">{{vm.entity.receiver}}</div>
        <div class="col-md-12"></div>
    </div>


    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">入库日期</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" ng-model="vm.entity.stockInDate" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">入库员1</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="vm.entity.storeKeeper1" placeholder="入库员">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-3 control-label text-left">入库员2</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="vm.entity.storeKeeper2" placeholder="入库员">
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-md-12">
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstanceCallback"
                   class=" table table-striped table-bordered">
                <tfoot>
                <tr>
                    <th style="width:70px">选择</th>
                    <th>冻存盒号</th>
                    <th>样本类型</th>
                    <th>冻存位置</th>
                    <th>样本数量</th>
                    <th>是否分装</th>
                    <th>状态</th>
                    <th style="width: 100px"></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!--ng-if="vm.showSplittingPanel()"-->
    <div>
        <div class="row split-box">
            <div class="col-md-9">
                <div class="col-md-5">
                    <h4>待分装样本盒123456789</h4>
                </div>
                <div class="col-md-7 text-right m-b-10">
                    <button type="button" class="btn btn-default" ng-click="vm.putAway()">上架</button>
                    <button type="button" class="btn btn-default">编辑盒信息</button>
                    <button type="button" class="btn btn-default">分装</button>
                    <button type="button" class="btn btn-default">复原</button>
                    <button type="button" class="btn btn-primary">保存分装结果</button>
                </div>
                <div class="clear-both"></div>
                <hot-table hot-id="my-handsontable" settings="vm.settings"></hot-table>
            </div>
            <div class="col-md-4 box-right">
                <h4>
                    分装后样本盒
                </h4>
                <div >
                    <ul>
                        <li ng-repeat="item in vm.sampleTypes"  >
                            <div class="box-feature" ng-style="{backgroundColor:item.backColor}"  ng-click="vm.splitBoxSelect(item,$event)">80/100</div>
                            <div class="text-center">{{item.sampleTypeName}}</div>
                            <div>1234567890</div>
                        </li>
                        <li class="clear-both"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

