<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <h2 style="margin: 0">冻存架移位</h2>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="vm.saveMovement()">保存</button>
            <button type="button" class="btn btn-default" ng-click="vm.close()">关闭</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>移位原因</label>
            <textarea type="text" class="form-control resize-none" rows="6"  ng-model="vm.movement.moveAffect"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <label>移位影响评估</label>
        <textarea type="text" class="form-control resize-none" rows="6" ng-model="vm.movement.moveReason"></textarea>
    </div>
    <div class="col-md-4">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label>操作员1
                        <span class="required-field"></span>
                    </label>
                    <selectize options='vm.userOptions' config="vm.userConfig"
                               ng-model="vm.movement.operatorId1"></selectize>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>密码
                        <span class="required-field"></span>
                    </label>
                    <input type="password" class="form-control" ng-model="vm.movement.password1">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>操作员2
                        <span class="required-field"></span>
                    </label>
                    <selectize options='vm.userOptions' config="vm.userConfig"
                               ng-model="vm.movement.operatorId2"></selectize>
                    <label class="checkbox mt-0 ml-20" style="">
                        <input type="checkbox" ng-model="vm.movement.whetherFreezingAndThawing" ng-true-value="true" ng-false-value="false">是否发生样本冻溶
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>密码
                        <span class="required-field"></span>
                    </label>
                    <input type="password" class="form-control" ng-model="vm.movement.password2">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>移动冻存架</h4>
            </div>
            <div class="panel-body p-0">
                <div class="no-padding">
                    <table datatable="ng" dt-options="vm.selectedOptions" dt-columns="vm.selectedColumns" dt-instance="vm.selectedInstance" class=" table table-striped table-bordered">
                        <thead>
                            <th>
                                <input type="checkbox" ng-model="vm.selectAll" ng-click="vm.toggleAll(vm.selectAll, vm.selected)">
                            </th>
                            <th>冻存架位置</th>
                            <th>架子类型</th>
                            <th>移入位置</th>
                        </thead>
                        <tbody>
                        <!--| filter:vm.filterNotPutInShelfTubes-->
                        <tr ng-repeat="equipment in vm.selectedEquipment ">
                            <td>
                                <div ng-if="!equipment.moveShelfPosition">
                                    <input type="checkbox" ng-model="vm.selected[equipment.id]" ng-click="vm.toggleOne(vm.selected)">
                                </div>
                            </td>
                            <td>{{equipment.position}}</td>
                            <td>{{equipment.shelvesType}}</td>
                            <td>{{equipment.moveShelfPosition}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h4>目标冻存区</h4>
                    </div>
                    <div class="col-md-8 text-right" style="margin-top: 8px;">
                        <button class="btn btn-primary btn-xs"  ng-if="!vm.movementFlag" ng-click="vm.search()">搜索</button>
                        <button class="btn btn-primary btn-xs"  ng-if="!vm.movementFlag" ng-click="vm.empty()">清空</button>
                        <button class="btn btn-primary btn-xs"  ng-if="vm.movementFlag" ng-click="vm.putIn()">移入</button>
                        <button class="btn btn-primary btn-xs"  ng-if="vm.movementFlag" ng-click="vm.closeMovement()">关闭</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-if="!vm.movementFlag">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label pr-0">剩余空位</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" step="1" min="0" ng-model="vm.dto.number"
                                           onkeyup="this.value=this.value.replace(/[^\d]/g,'');">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label pr-0">设备类型</label>
                                <div class="col-sm-8">
                                    <selectize options='vm.equipmentOptions' config="vm.equipmentConfig"
                                               ng-model="vm.dto.equipmentTypeId"></selectize>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label pr-0">设备编码</label>
                                <div class="col-sm-8">
                                    <selectize options='vm.frozenBoxPlaceOptions' config="vm.frozenBoxPlaceConfig"

                                               ng-model="vm.dto.equipmentId"></selectize>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label pr-0">区域编码</label>
                                <div class="col-sm-8">
                                    <selectize options='vm.frozenBoxAreaOptions' config="vm.frozenBoxAreaConfig"

                                               ng-model="vm.dto.areaId" ></selectize>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label pr-0">项目编码</label>
                                <div class="col-sm-11">
                                    <selectize options='vm.projectOptions' config="vm.projectConfig"
                                               ng-model="vm.projectCodeStr"></selectize>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div ng-if="vm.movementFlag">
                    <p>
                        <span>定位:{{vm.rack.position}}&nbsp;&nbsp;</span>
                        <span>设备类型:{{vm.rack.equipmentType}}&nbsp;&nbsp;</span>
                        <span>剩余空位:{{vm.rack.restOfSpace}}&nbsp;&nbsp;</span>
                    </p>
                    <p>
                        <span>相关项目:{{vm.rack.projectCodes}}&nbsp;&nbsp;</span>
                    </p>
                </div>
                <div class="no-padding">
                    <div class="" ng-if="!vm.movementFlag">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class=" table table-striped table-bordered"></table>
                    </div>
                    <div ng-if="vm.movementFlag">
                        <hot-table hot-id="shelfDetailsTable" settings="vm.settings" class="tube"
                                   style="width: 100%; padding: 0;margin: 0;"></hot-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">移位操作</h3>
    </div>
    <div class="modal-body" id="modal-body">
        确定取消移位操作？
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
    </div>
</script>
