
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStockOutHandoverBoxLabel" data-translate="bioBankApp.stockOutHandoverBox.home.createOrEditLabel">Create or edit a Stock Out Handover Box</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stockOutHandoverBox.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stockOutHandoverBox.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutHandoverBox.equipmentCode" for="field_equipmentCode">Equipment Code</label>
            <input type="text" class="form-control" name="equipmentCode" id="field_equipmentCode"
                    ng-model="vm.stockOutHandoverBox.equipmentCode"
                    ng-maxlength="100"/>
            <div ng-show="editForm.equipmentCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.equipmentCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutHandoverBox.areaCode" for="field_areaCode">Area Code</label>
            <input type="text" class="form-control" name="areaCode" id="field_areaCode"
                    ng-model="vm.stockOutHandoverBox.areaCode"
                    ng-maxlength="100"/>
            <div ng-show="editForm.areaCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.areaCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutHandoverBox.supportRackCode" for="field_supportRackCode">Support Rack Code</label>
            <input type="text" class="form-control" name="supportRackCode" id="field_supportRackCode"
                    ng-model="vm.stockOutHandoverBox.supportRackCode"
                    ng-maxlength="100"/>
            <div ng-show="editForm.supportRackCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.supportRackCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutHandoverBox.rowsInShelf" for="field_rowsInShelf">Rows In Shelf</label>
            <input type="text" class="form-control" name="rowsInShelf" id="field_rowsInShelf"
                    ng-model="vm.stockOutHandoverBox.rowsInShelf"
                    ng-maxlength="20"/>
            <div ng-show="editForm.rowsInShelf.$invalid">
                <p class="help-block"
                    ng-show="editForm.rowsInShelf.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutHandoverBox.columnsInShelf" for="field_columnsInShelf">Columns In Shelf</label>
            <input type="text" class="form-control" name="columnsInShelf" id="field_columnsInShelf"
                    ng-model="vm.stockOutHandoverBox.columnsInShelf"
                    ng-maxlength="20"/>
            <div ng-show="editForm.columnsInShelf.$invalid">
                <p class="help-block"
                    ng-show="editForm.columnsInShelf.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutHandoverBox.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.stockOutHandoverBox.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutHandoverBox.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.stockOutHandoverBox.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.stockOutHandoverBox.equipment" for="field_equipment">Equipment</label>
            <select class="form-control" id="field_equipment" name="equipment" ng-model="vm.stockOutHandoverBox.equipmentId" ng-options="equipment.id as equipment.id for equipment in vm.equipment"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.stockOutHandoverBox.area" for="field_area">Area</label>
            <select class="form-control" id="field_area" name="area" ng-model="vm.stockOutHandoverBox.areaId" ng-options="area.id as area.id for area in vm.areas"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.stockOutHandoverBox.supportRack" for="field_supportRack">Support Rack</label>
            <select class="form-control" id="field_supportRack" name="supportRack" ng-model="vm.stockOutHandoverBox.supportRackId" ng-options="supportRack.id as supportRack.id for supportRack in vm.supportracks"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.stockOutHandoverBox.stockOutFrozenBox" for="field_stockOutFrozenBox">Stock Out Frozen Box</label>
            <select class="form-control" id="field_stockOutFrozenBox" name="stockOutFrozenBox" ng-model="vm.stockOutHandoverBox.stockOutFrozenBoxId" ng-options="stockOutFrozenBox.id as stockOutFrozenBox.id for stockOutFrozenBox in vm.stockoutfrozenboxes"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
