<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">导入冻存盒</h3>
</div>
<div class="modal-body import-box-modal-body" id="modal-body">
    <div class="row form-horizontal">
        <div class="col-md-2">
            <div class="form-group">
                <label  class="col-sm-5 control-label pr-5">
                    样本类型
                </label>
                <div class="col-sm-7" >
                    <selectize options='vm.sampleTypeOptions' config="vm.sampleTypeConfig"
                               ng-model="vm.frozenBox.sampleTypeId"></selectize>
                </div>

            </div>
        </div>
        <div class="col-md-3" ng-hide="!vm.sampleTypeFlag">
            <div class="form-group" >
                <label  class="col-sm-4 control-label pr-0">
                    样本分类
                </label>
                <div class="col-sm-8" >
                    <selectize options='vm.projectSampleTypeOptions' config="vm.projectSampleTypeConfig"
                               ng-model="vm.frozenBox.sampleClassificationId"></selectize>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label  class="col-sm-5 control-label">
                    盒类型
                </label>
                <div class="col-sm-7 pl-0 pr-0">
                    <selectize options='vm.frozenBoxTypeOptions' config="vm.boxTypeConfig"
                               ng-model="vm.frozenBox.frozenBoxTypeId"></selectize>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label  class="col-sm-4 control-label pr-5">暂存位置</label>
                <div class="col-sm-8 storage-location">
                    <div style="" class="location">
                        <selectize options='vm.frozenBoxPlaceOptions' config="vm.frozenBoxPlaceConfigTemp" style="width: 100%"
                                   ng-model="vm.frozenBox.equipmentId" ></selectize>
                    </div>
                    <div  class="location">
                        <selectize options='vm.frozenBoxHoldAreaOptions' config="vm.frozenBoxAreaConfigTemp" style="width: 100%"
                                   ng-model="vm.frozenBox.areaId" ></selectize>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 pull-right text-right">
            <!--<input id="lefile" type="file" ng-file-select="vm.uploadSample($file)" ng-model="vm.file"-->
                   <!--accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"-->
            <!--&gt;-->
            <!--<a class="btn btn-default" onclick="$('input[id=lefile]').click();">上传样本</a>-->

            <div class="btn btn-default"  ng-model="vm.file" name="file" ngf-select="vm.uploadSample($file)"
                 ngf-accept="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'"
            >上传样本</div>


            <button class="btn btn-default" ng-click="vm.importSample()">导入样本</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 import-box-input">
            <div>
                <p>导入冻存盒</p>
            </div>
            <selectize placeholder='' options='vm.myOptions' config="vm.boxCodeConfig"
                       ng-model="vm.arrayBoxCode" ng-disabled='disable' required='true'
                       ></selectize>
        </div>
        <div class="col-md-10">
            <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"  class="table table-striped table-bordered">
                <thead>
                    <th>冻存盒号</th>
                    <th>状态</th>
                    <th>样本类型</th>
                    <th>样本数</th>
                    <th>是否分装</th>
                    <th>操作</th>
                </thead>
                <tbody >
                    <tr ng-repeat="item in vm.obox.frozenBoxDTOList" ng-if="item">
                        <td><span ng-class="{'red-color': item.isRepeat == 1}">{{item.frozenBoxCode}}</span></td>
                        <td>
                            <span ng-if="item.status == 400" class="red-color">加载失败</span>
                            <span ng-if="item.status == -1">&nbsp;</span>
                            <span ng-if="item.status == 200">加载成功</span>
                        </td>
                        <td>{{item.sampleTypeName}}</td>
                        <td>{{item.countOfSample}}</td>
                        <td>{{item.isSplit == '1'? '是':'否'}}</td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="vm.delBox(item)">
                                <i class="fa fa-times"></i>
                            </button>
                            <button ng-if="item.status != '200'" class="btn btn-default btn-xs" ng-click="vm.reloadImport(item)">
                                <i class="fa fa-rotate-right"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>
<script type="text/ng-template" id="stackedModal.html">
    <div class="modal-header">
        <h3 class="modal-title" >导入样本数据</h3>
    </div>
    <div class="modal-body" >
        是否导入新数据？
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">取消</button>
    </div>
</script>
<script type="text/ng-template" id="progressBar.html">
    <div class="row">
        <div class="col-md-10 pl-0">
            <div class="progress" style="margin: 20px">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                    80%
                </div>

            </div>
        </div>
        <div class="col-md-2" >
            <button class="btn btn-default" style="margin: 12px" ng-click="vm.stop()">
                <i class="fa fa-stop"></i>
            </button>
        </div>
    </div>


</script>
<div class="mask-layer" ng-show="vm.progressFlag">
    <div class="row mr-0 progress-body">
        <div class="col-md-12 pl-0 pr-0">
            <div class="progress" style="margin: 20px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="vm.count" aria-valuemin="0"
                     aria-valuemax="100" ng-style="vm.obj">
                    {{vm.obj.width}}
                </div>

            </div>
        </div>
        <div class="col-md-12 text-center" >
            <button class="btn btn-default" style="margin: 12px" ng-click="vm.stop()">
                中止
            </button>
        </div>
    </div>
</div>

