<div class="modal-header">
    <h3 class="modal-title">
        <span ng-repeat="item in vm.items.remarkArray track by $index">
            {{item.frozenTubeCode}}
        </span>
        批注
    </h3>
</div>
<div class="modal-body">
    <textarea rows="6" style="width: 100%" ng-model="vm.memo" focus-me class="resize-none" maxlength="1000"></textarea>
    <!--{{remarkArray}}-->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="!vm.memo" ng-click="vm.ok()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>
