
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySerialNoLabel" data-translate="bioBankApp.serialNo.home.createOrEditLabel">Create or edit a Serial No</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.serialNo.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.serialNo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.serialNo.serialNo" for="field_serialNo">Serial No</label>
            <input type="text" class="form-control" name="serialNo" id="field_serialNo"
                    ng-model="vm.serialNo.serialNo"
                    required/>
            <div ng-show="editForm.serialNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.serialNo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.serialNo.machineNo" for="field_machineNo">Machine No</label>
            <input type="text" class="form-control" name="machineNo" id="field_machineNo"
                    ng-model="vm.serialNo.machineNo"
                    required/>
            <div ng-show="editForm.machineNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.machineNo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.serialNo.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.serialNo.status"
                    required/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.serialNo.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.serialNo.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.serialNo.usedDate" for="field_usedDate">Used Date</label>
                <div class="input-group">
                    <input id="field_usedDate" type="text" class="form-control" name="usedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.serialNo.usedDate" is-open="vm.datePickerOpenStatus.usedDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('usedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.usedDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.usedDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
