<div class="modal-header">
    <h3 class="modal-title" id="modal-title">导入冻存盒</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-2">
            <textarea rows="28"></textarea>
        </div>
        <div class="col-sm-8">
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="row-border hover">
                <thead>
                    <th>冻存盒号</th>
                    <th>状态</th>
                    <th>样本类型</th>
                    <th>样本数</th>
                    <th>是否分装</th>
                </thead>
                <tbody >
                    <tr >
                        <td>123456789</td>
                        <td>样本已导入</td>
                        <td>血浆1</td>
                        <td>100</td>
                        <td>
                            <input type="checkbox">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
