<div class="transport-record-new">
    <div class="">
        <h3 class="pull-left">新增转运记录</h3>
        <div class="form-group pull-right m-r-10">
            <div class="text-right">
                <button type="button" class="btn btn-primary">入库</button>
                <button type="button" class="btn btn-primary" ng-click="vm.importFrozenStorageBox('lg')">导入冻存盒</button>
                <button type="button" class="btn btn-primary" ng-click="vm.saveRecord()">保存</button>
                <button type="button" class="btn" ui-sref="transport-record">关闭</button>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>

    <form class="form-horizontal">
        <div class="row">
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">项目日期</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input  type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.transportRecord.itemDate" is-open="vm.datePickerOpenStatus.itemDate"
                        required  />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('itemDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">项目编码</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="vm.transportRecord.projectSiteCode">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">项目点</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="vm.transportRecord.projectCode">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">运单号</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control"  ng-model="vm.transportRecord.waybillNumber">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">转运批次</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="vm.transportRecord.times">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">状态</label>
                <div class="col-sm-8">
                    <selectize options='vm.statusOptions' config="vm.statusConfig"
                               ng-model="vm.transportRecord.status"></selectize>
                    <input type="hidden" name="level" ng-model="vm.transportRecord.status" required>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">接收人</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"   ng-model="vm.transportRecord.transhipReceive">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">接收日期</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input  type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.transportRecord.receiveDate" is-open="vm.datePickerOpenStatus.receiveDate"
                                required  />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('receiveDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">样本人份</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" ng-model="vm.transportRecord.samplePersonCount" >
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">有效样本数</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="vm.transportRecord.sampleValidCount" >
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">冻存盒数</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="vm.transportRecord.FrozenStorageBoxCount">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">备注</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="vm.transportRecord.remark">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">空管数</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control"  ng-model="vm.transportRecord.blankPipeCount">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">空孔数</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="vm.transportRecord.bullHoleCount">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">样本满意度</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="vm.transportRecord.sampleSatisfaction" >
                </div>
            </div>


        </div>

    </form>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            <!--<table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class=" table table-striped table-bordered">-->
            <!--</table>-->
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance"  class="table table-bordered">
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<td>盒子编码</td>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--<tr ng-repeat="box in vm.transportRecord.boxList">-->
                        <!--<td>{{box.code}}</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            </table>
        </div>
        <div class="col-sm-10 pipe-body p-l-0">
            <div class="col-sm-12">
                <form class="form-horizontal">
                    <div class="row pipe-body-top ">
                        <div class="form-group col-sm-2">
                            <label  class="col-sm-4 control-label p-r-6">冻存盒号</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" ng-model="vm.box.code" >
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <label  class="col-sm-4 control-label p-r-6">盒类型</label>
                            <div class="col-sm-8">
                                <selectize options='vm.frozenBoxTypeOptions' config="vm.typeConfig"
                                           ng-model="vm.box.type"></selectize>
                                <input type="hidden" name="level" ng-model="vm.box.type" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <label  class="col-sm-4 control-label p-r-6">样本类型</label>
                            <div class="col-sm-8" >
                                <selectize options='vm.sampleTypeOptions' config="vm.sampleTypeConfig"
                                           ng-model="vm.box.sampleType"></selectize>
                                <input type="hidden" name="level" ng-model="vm.box.sampleType" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <label  class="col-sm-4 control-label p-r-6">存储位置</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control"  >
                            </div>
                        </div>
                        <div class="form-group col-sm-2" style="padding-right: 0;">
                            <label  class="col-sm-4 control-label p-r-6">状态</label>
                            <div class="col-sm-8" style="padding-right: 6px;">
                                <selectize options='vm.statusOptions' config="vm.statusConfig"
                                           ng-model="vm.box.status"></selectize>
                                <input type="hidden" name="level" ng-model="vm.box.status" required>
                            </div>
                        </div>
                    </div>
                    <div class="row pipe-body-bottom">
                        <div class="col-sm-4">
                            <p style="margin-top: 10px">
                                <span>样本数</span>
                                <span>100个</span>
                                <span>空管</span>
                                <span>100个</span>
                                <span>空孔</span>
                                <span>100个</span>
                                <span>错位</span>
                                <span>100个</span>
                                <label class="checkbox-inline" style="margin-left: 10px;margin-top: -4px;padding-top: 0">
                                    <input type="checkbox">是否分装
                                </label>
                            </p>

                        </div>
                        <div class=" col-sm-8">
                            <label  class="col-sm-2 control-label p-r-6">备注</label>
                            <div class="col-sm-10 ">
                                <textarea class="form-control"rows="1" style="resize: none"></textarea>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-sm-10 p-l-0 pipe-table">
                <hot-table hot-id="my-handsontable" settings="vm.settings"></hot-table>
            </div>
            <div class="col-sm-2 pull-right text-right p-r-0 pipe-operate">

                <div class="text-right">
                    <label class="btn btn-primary" ng-model="vm.flagStatus" uib-btn-checkbox ng-click="vm.editStatus()">状态</label>
                    <!--<input-->
                        <!--bs-switch-->
                        <!--ng-model="vm.flagStatus"-->
                        <!--type="checkbox"-->
                        <!--switch-size="mini"-->
                        <!--switch-label="状态"-->
                        <!--switch-on-text="开"-->
                        <!--switch-off-text="关"-->
                        <!--switch-change="vm.editStatus()"-->
                        <!--ng-true-value="true"-->
                        <!--ng-false-value="false">-->
                    <!--<button type="button" class="btn btn-primary" style="width:100px" ng-click="vm.editStatus()">修改状态</button>-->
                </div>
                <div class="text-right" style="margin-top: 2px">
                    <!--<label class="btn btn-primary" ng-model="vm.exchangeFlag" uib-btn-checkbox ng-click="vm.exchange()">换位</label>-->
                    <!--<input-->
                        <!--bs-switch-->
                        <!--ng-model="vm.exchangeFlag"-->
                        <!--type="checkbox"-->
                        <!--switch-size="mini"-->
                        <!--switch-label="换位"-->
                        <!--switch-on-text="开"-->
                        <!--switch-off-text="关"-->
                        <!--switch-change="vm.exchange()"-->
                        <!--ng-true-value="true"-->
                        <!--ng-false-value="false">-->
                    <button type="button" class="btn btn-primary" ng-click="vm.exchange()">换位</button>
                </div>
                <div class="text-right" style="margin-top: 2px">
                    <!--<input-->
                        <!--bs-switch-->
                        <!--ng-model="vm.remarkFlag"-->
                        <!--type="checkbox"-->
                        <!--switch-size="mini"-->
                        <!--switch-label="备注"-->
                        <!--switch-on-text="开"-->
                        <!--switch-off-text="关"-->
                        <!--switch-change="vm.microtubesRemark()"-->
                        <!--ng-true-value="true"-->
                        <!--ng-false-value="false">-->
                    <!--<label class="btn btn-primary" ng-model="vm.remarkFlag" uib-btn-checkbox ng-click="vm.microtubesRemark()">备注</label>-->
                    <button type="button" class="btn btn-primary" ng-click="vm.microtubesRemark()">批注</button>
                </div>
            </div>
            <!--<hot-table-->
                <!--settings="vm.settings"-->
                <!--row-headers="vm.rowHeaders"-->
                <!--col-headers="vm.colHeaders"-->
                <!--min-spare-rows="vm.minSpareRows"-->
                <!--datarows="vm.db.items"-->
                <!--on-after-selection-end="vm.onAfterSelectionEnd"-->
                <!--width="1000">-->
                <!--<hot-column data="id" title="'1'"  read-only width="100" renderer="vm.myCustomRenderer"></hot-column>-->
                <!--<hot-column data="id" title="'2'"  read-only width="100" renderer="vm.myCustomRenderer"></hot-column>-->
                <!--<hot-column data="id" title="'3'"  read-only width="100" renderer="vm.myCustomRenderer"></hot-column>-->
                <!--<hot-column data="id" title="'4'"  read-only width="100" renderer="vm.myCustomRenderer"></hot-column>-->
                <!--<hot-column data="id" title="'5'"  read-only width="100" renderer="vm.myCustomRenderer"></hot-column>-->
                <!--<hot-column data="id" title="'6'"  read-only width="100" renderer="vm.myCustomRenderer"></hot-column>-->
                <!--<hot-column data="id" title="'7'"  read-only width="100" renderer="vm.myCustomRenderer"></hot-column>-->
                <!--<hot-column data="id" title="'8'"  read-only width="100" renderer="vm.myCustomRenderer"></hot-column>-->
                <!--<hot-column data="id" title="'9'"  read-only width="100" renderer="vm.myCustomRenderer"></hot-column>-->
                <!--<hot-column data="id" title="'10'"  read-only width="100" renderer="vm.myCustomRenderer"></hot-column>-->

                <!--&lt;!&ndash;<hot-column data="name.first" title="'2'" type="'text'" read-only id="aaa" width="100"></hot-column>&ndash;&gt;-->
                <!--&lt;!&ndash;<hot-column data="name.last" title="'3'" read-only width="100"></hot-column>&ndash;&gt;-->
                <!--&lt;!&ndash;<hot-column data="address" title="'4'" width="100"></hot-column>&ndash;&gt;-->
                <!--&lt;!&ndash;<hot-column data="product.description" title="'5'" type="'autocomplete'" width="100">&ndash;&gt;-->
                    <!--&lt;!&ndash;<hot-autocomplete datarows="description in product.options"></hot-autocomplete>&ndash;&gt;-->
                <!--&lt;!&ndash;</hot-column>&ndash;&gt;-->
                <!--&lt;!&ndash;<hot-column data="price" title="'6'" type="'numeric'" width="100" format="'$ 0,0.00'"></hot-column>&ndash;&gt;-->
                <!--&lt;!&ndash;<hot-column data="price" title="'7'" type="'numeric'" width="100" format="'$ 0,0.00'"></hot-column>&ndash;&gt;-->
                <!--&lt;!&ndash;<hot-column data="price" title="'8'" type="'numeric'" width="100" format="'$ 0,0.00'"></hot-column>&ndash;&gt;-->
                <!--&lt;!&ndash;<hot-column data="price" title="'9'" type="'numeric'" width="100" format="'$ 0,0.00'"></hot-column>&ndash;&gt;-->
                <!--&lt;!&ndash;<hot-column data="isActive" title="'10'" width="100"type="'checkbox'" checked-template="'Yes'"&ndash;&gt;-->
                            <!--&lt;!&ndash;unchecked-template="'No'"></hot-column>&ndash;&gt;-->
            <!--</hot-table>-->


            <!--<div>-->
                <!---->
            <!--</div>-->
        </div>

    </div>
</div>

