<div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left ">
                <h2 class="m-0">出库任务详情</h2>
            </div>
            <div class="pull-right">
                <span>累计用时: {{vm.usedTime}}</span>&nbsp;&nbsp;
                <button class="btn btn-primary" ng-click="vm.takeOver()">样本交接</button>
                <button class="btn btn-default" ui-sref="task-list">关闭</button>
            </div>
        </div>
    </div>

    <div class="row pt-15 pb-5">
        <div class="col-md-1">计划编码：</div>
        <div class="col-md-1">{{vm.task.stockOutPlanCode}}</div>
        <div class="col-md-1">任务编码：</div>
        <div class="col-md-1">{{vm.task.stockOutTaskCode}}</div>
        <div class="col-md-1">出库日期：</div>
        <div class="col-md-1">{{vm.task.stockOutDate}}</div>
        <div class="col-md-1">负责人：</div>
        <div class="col-md-1">{{vm.task.stockOutHeader1}}</div>
        <div class="col-md-1">负责人：</div>
        <div class="col-md-1">{{vm.task.stockOutHeader2}}</div>
        <div class="col-md-1">状态：</div>
        <div class="col-md-1">{{vm.status}}</div>

    </div>
    <div class="row pb-15">
        <div class="col-md-1">备注：</div>
        <div class="col-md-11">{{vm.task.memo}}</div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
                <h4>已出库样本</h4>
            </div>
            <div class="pull-right">
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body p-0">
            <table datatable="" dt-options="vm.stockOutSampleOptions" dt-columns="vm.stockOutSampleColumns" dt-instance="vm.stockOutSampleInstance" class=" table table-striped table-bordered"></table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="pull-left">
                <h4>未出库样本</h4>
            </div>
            <div class="pull-right">
                <!--<button class="btn btn-default" ng-click="vm.printBox()">打印取盒单</button>-->
            </div>
            <div class="clear-both"></div>

        </div>
        <div class="panel-body p-0">
            <table datatable="" dt-options="vm.boxOptions" dt-columns="vm.boxColumns" dt-instance="vm.boxInstance" class=" table table-striped table-bordered">
            </table>
        </div>
    </div>

</div>
