<div>
    <div class="row m0">
        <div class="col-md-12">
            <div class="pull-left ">
                <h2 class="m0">添加出库交接</h2>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="vm.abnormalModal()">异常或撤销申请</button>
                <button class="btn btn-primary" ng-click="vm.commentModal()">批注</button>
                <button class="btn btn-primary" ng-click="vm.boxInModal()">装盒</button>
                <button class="btn btn-primary" ng-click="vm.taskStockOutModal()">出库</button>
                <button class="btn btn-primary" >保存任务</button>
                <button class="btn btn-default" ui-sref="take-over">关闭</button>
            </div>
        </div>
    </div>
    <div class="row m0">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
    </div>
</div>
