<div>
    <h2 data-translate="bioBankApp.positionDestroy.home.title">Position Destroys</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="position-destroy.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.positionDestroy.home.createLabel">
                        Create new Position Destroy
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="destroyReason"><span data-translate="bioBankApp.positionDestroy.destroyReason">Destroy Reason</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="destroyType"><span data-translate="bioBankApp.positionDestroy.destroyType">Destroy Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="operatorId1"><span data-translate="bioBankApp.positionDestroy.operatorId1">Operator Id 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="operatorId2"><span data-translate="bioBankApp.positionDestroy.operatorId2">Operator Id 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.positionDestroy.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.positionDestroy.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="positionDestroy in vm.positionDestroys track by positionDestroy.id">
                    <td><a ui-sref="position-destroy-detail({id:positionDestroy.id})">{{positionDestroy.id}}</a></td>
                    <td>{{positionDestroy.destroyReason}}</td>
                    <td>{{positionDestroy.destroyType}}</td>
                    <td>{{positionDestroy.operatorId1}}</td>
                    <td>{{positionDestroy.operatorId2}}</td>
                    <td>{{positionDestroy.status}}</td>
                    <td>{{positionDestroy.memo}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="position-destroy-detail({id:positionDestroy.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="position-destroy.edit({id:positionDestroy.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="position-destroy.delete({id:positionDestroy.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
