
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTranshipBoxLabel" data-translate="bioBankApp.transhipBox.home.createOrEditLabel">Create or edit a Tranship Box</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.transhipBox.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.transhipBox.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.transhipBox.frozenBoxCode" for="field_frozenBoxCode">Frozen Box Code</label>
            <input type="text" class="form-control" name="frozenBoxCode" id="field_frozenBoxCode"
                    ng-model="vm.transhipBox.frozenBoxCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.frozenBoxCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.frozenBoxCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.frozenBoxCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.transhipBox.equipmentCode" for="field_equipmentCode">Equipment Code</label>
            <input type="text" class="form-control" name="equipmentCode" id="field_equipmentCode"
                    ng-model="vm.transhipBox.equipmentCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.equipmentCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.equipmentCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.equipmentCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.transhipBox.areaCode" for="field_areaCode">Area Code</label>
            <input type="text" class="form-control" name="areaCode" id="field_areaCode"
                    ng-model="vm.transhipBox.areaCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.areaCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.areaCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.areaCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.transhipBox.supportRackCode" for="field_supportRackCode">Support Rack Code</label>
            <input type="text" class="form-control" name="supportRackCode" id="field_supportRackCode"
                    ng-model="vm.transhipBox.supportRackCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.supportRackCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.supportRackCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.supportRackCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.transhipBox.rowsInShelf" for="field_rowsInShelf">Rows In Shelf</label>
            <input type="text" class="form-control" name="rowsInShelf" id="field_rowsInShelf"
                    ng-model="vm.transhipBox.rowsInShelf"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.rowsInShelf.$invalid">
                <p class="help-block"
                    ng-show="editForm.rowsInShelf.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.rowsInShelf.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.transhipBox.columnsInShelf" for="field_columnsInShelf">Columns In Shelf</label>
            <input type="text" class="form-control" name="columnsInShelf" id="field_columnsInShelf"
                    ng-model="vm.transhipBox.columnsInShelf"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.columnsInShelf.$invalid">
                <p class="help-block"
                    ng-show="editForm.columnsInShelf.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.columnsInShelf.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.transhipBox.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.transhipBox.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.transhipBox.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.transhipBox.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.transhipBox.tranship" for="field_tranship">Tranship</label>
            <select class="form-control" id="field_tranship" name="tranship" ng-model="vm.transhipBox.transhipId" ng-options="tranship.id as tranship.id for tranship in vm.tranships"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.tranship.$invalid">
            <p class="help-block"
                ng-show="editForm.tranship.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
