<div>
    <h2 data-translate="bioBankApp.transhipBox.home.title">Tranship Boxes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tranship-box.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.transhipBox.home.createLabel">
                        Create new Tranship Box
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenBoxCode"><span data-translate="bioBankApp.transhipBox.frozenBoxCode">Frozen Box Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="equipmentCode"><span data-translate="bioBankApp.transhipBox.equipmentCode">Equipment Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="areaCode"><span data-translate="bioBankApp.transhipBox.areaCode">Area Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supportRackCode"><span data-translate="bioBankApp.transhipBox.supportRackCode">Support Rack Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rowsInShelf"><span data-translate="bioBankApp.transhipBox.rowsInShelf">Rows In Shelf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="columnsInShelf"><span data-translate="bioBankApp.transhipBox.columnsInShelf">Columns In Shelf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.transhipBox.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.transhipBox.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transhipId"><span data-translate="bioBankApp.transhipBox.tranship">Tranship</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenBoxId"><span data-translate="bioBankApp.transhipBox.frozenBox">Frozen Box</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transhipBoxPositionId"><span data-translate="bioBankApp.transhipBox.transhipBoxPosition">Tranship Box Position</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transhipBox in vm.transhipBoxes track by transhipBox.id">
                    <td><a ui-sref="tranship-box-detail({id:transhipBox.id})">{{transhipBox.id}}</a></td>
                    <td>{{transhipBox.frozenBoxCode}}</td>
                    <td>{{transhipBox.equipmentCode}}</td>
                    <td>{{transhipBox.areaCode}}</td>
                    <td>{{transhipBox.supportRackCode}}</td>
                    <td>{{transhipBox.rowsInShelf}}</td>
                    <td>{{transhipBox.columnsInShelf}}</td>
                    <td>{{transhipBox.memo}}</td>
                    <td>{{transhipBox.status}}</td>
                    <td>
                        <a ui-sref="tranship-detail({id:transhipBox.transhipId})">{{transhipBox.transhipId}}</a>
                    </td>
                    <td>
                        <a ui-sref="frozen-box-detail({id:transhipBox.frozenBoxId})">{{transhipBox.frozenBoxId}}</a>
                    </td>
                    <td>
                        <a ui-sref="tranship-box-position-detail({id:transhipBox.transhipBoxPositionId})">{{transhipBox.transhipBoxPositionId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tranship-box-detail({id:transhipBox.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tranship-box.edit({id:transhipBox.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tranship-box.delete({id:transhipBox.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
