<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <h2 style="margin: 0">样本清单</h2>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="vm.saveMovement()">保存</button>
            <button type="button" class="btn btn-default" ng-click="vm.close()">关闭</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 pr-0">
        <div class="form-group">
            <label>移位原因
                <span class="required-field"></span>
            </label>
            <textarea type="text" class="form-control resize-none" rows="6" ng-model="vm.movement.moveReason"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <label>移位影响评估</label>
        <textarea type="text" class="form-control resize-none" rows="6" ng-model="vm.movement.moveAffect"></textarea>
    </div>
    <div class="col-md-4">
        <div class="row ">

            <div class="col-md-6">
                <div class="form-group">
                    <label>操作员1
                        <span class="required-field"></span>
                    </label>
                    <selectize options='vm.userOptions' config="vm.userConfig"
                               ng-model="vm.movement.operatorId1"></selectize>
                    <!--<input type="text" class="form-control" ng-model="vm.movement.operatorId1">-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>密码
                        <span class="required-field"></span>
                    </label>
                    <input type="password" class="form-control" ng-model="vm.movement.password1">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>操作员2
                        <span class="required-field"></span>
                    </label>
                    <selectize options='vm.userOptions' config="vm.userConfig"
                               ng-model="vm.movement.operatorId2"></selectize>
                    <label class="checkbox mt-0 ml-20">
                        <input type="checkbox" ng-model="vm.movement.whetherFreezingAndThawing" ng-true-value="true" ng-false-value="false">是否发生样本冻溶
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>密码
                        <span class="required-field"></span>
                    </label>
                    <input type="password" class="form-control" ng-model="vm.movement.password2">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 pr-0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>冻存管移位</h4>
                <!--<div class="row">-->
                    <!--<div class="col-md-4">-->
                        <!---->
                    <!--</div>-->
                    <!--<div class="col-md-8 text-right" style="margin-top: 8px;">-->
                        <!--<button class="btn btn-primary btn-xs"ng-click="vm.recover()">撤消</button>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="panel-body p-0">
                <div class="no-padding">
                    <table datatable="ng" dt-options="vm.selectedOptions" dt-columns="vm.selectedColumns" dt-instance="vm.selectedInstance" class=" table table-striped table-bordered">
                        <thead>
                        <th>
                            <input type="checkbox" ng-model="vm.selectAll" ng-click="vm.toggleAll(vm.selectAll, vm.selected)">
                        </th>
                        <th>样本编码</th>
                        <!--<th>样本类型</th>-->
                        <th>样本分类</th>
                        <th>项目编码</th>
                        <th>移入位置</th>
                        </thead>
                        <tbody>
                        <!-- | filter:vm.filterNotPutInShelfTubes-->
                            <tr ng-repeat="tube in vm.selectedSample">
                                <td >
                                    <div ng-if="!tube.moveFrozenBoxCode">
                                            <input type="checkbox" ng-model="vm.selected[tube.id]" ng-click="vm.toggleOne(vm.selected)">
                                    </div>
                                </td>
                                <td>{{tube.sampleCode}}</td>
                                <!--<td>{{tube.sampleTypeName}}</td>-->
                                <td>{{tube.sampleClassificationName}}</td>
                                <td>{{tube.projectCode}}</td>
                                <td>{{tube.moveFrozenBoxCode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div>共{{vm.selectedSample.length}}条数据</div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h4>目标冻存区</h4>
                    </div>
                    <div class="col-md-8 text-right" style="margin-top: 8px;">
                        <button class="btn btn-primary btn-xs" ng-if="!vm.sampleMovementFlag" ng-click="vm.search()">搜索</button>
                        <button class="btn btn-primary btn-xs" ng-if="!vm.sampleMovementFlag" ng-click="vm.empty()">清空</button>
                        <button class="btn btn-primary btn-xs" ng-if="vm.sampleMovementFlag" ng-click="vm.putIn()">移入</button>
                        <button class="btn btn-primary btn-xs" ng-click="vm.recover()">撤消</button>
                        <!--<button class="btn btn-primary btn-xs"  ng-if="vm.sampleMovementFlag" ng-click="vm.saveMovement()">保存</button>-->
                        <button class="btn btn-primary btn-xs"  ng-if="vm.sampleMovementFlag" ng-click="vm.closeSampleMovement()">关闭</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-if="!vm.sampleMovementFlag">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label pr-0">项目编码</label>
                                <div class="col-md-10">
                                    <selectize options='vm.projectOptions' config="vm.projectConfig"
                                               ng-model="vm.projectCodeStr"></selectize>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label pr-0">样本类型</label>
                                <div class="col-md-8">
                                    <selectize options='vm.sampleTypeOptions' config="vm.sampleTypeConfig"
                                               ng-model="vm.dto.sampleTypeId"></selectize>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label pr-0">样本分类</label>
                                <div class="col-md-8">
                                    <selectize options='vm.sampleClassOptions' config="vm.sampleClassConfig"
                                               ng-model="vm.dto.sampleClassificationId"
                                    ></selectize>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label pr-0">盒子编码</label>
                                <div class="col-md-10">
                                    <selectize placeholder='' options='vm.myOptions' config="vm.boxCodeConfig"
                                               ng-model="vm.arrayBoxCode" ng-disabled='disable' required='true'></selectize>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <label class="col-md-4 control-label pr-0">剩余空位</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" step="1" min="0" ng-model="vm.dto.number"
                                           onkeyup="this.value=this.value.replace(/[^\d]/g,'');">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label pr-0">盒子类型</label>
                                <div class="col-md-8">
                                    <selectize options='vm.frozenBoxTypeOptions' config="vm.boxTypeConfig"
                                               ng-model="vm.dto.frozenBoxTypeId"></selectize>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div ng-if="vm.sampleMovementFlag">
                    <p>
                        <span>盒子编码:{{vm.box.frozenBoxCode}}&nbsp;&nbsp;</span>
                        <span>盒子类型:{{vm.box.frozenBoxType.frozenBoxTypeName}}&nbsp;&nbsp;</span>
                        <span>剩余空位:{{vm.box.restOfSpace}}&nbsp;&nbsp;</span>
                    </p>
                    <p>
                        <span>项目编码:{{vm.box.projectCode}}&nbsp;&nbsp;</span>
                        <span>样本类型:{{vm.box.sampleType.sampleTypeName}}&nbsp;&nbsp;</span>
                        <span>样本分类:{{vm.box.sampleClassification.sampleClassificationName}}&nbsp;&nbsp;</span>
                    </p>
                </div>
                <div class="no-padding box-movement-table">
                    <div ng-if="!vm.sampleMovementFlag">
                        <table datatable="" dt-options="vm.boxOptions" dt-columns="vm.boxColumns" dt-instance="vm.boxInstance" class=" table table-striped table-bordered"></table>
                    </div>
                    <div ng-if="vm.sampleMovementFlag">
                        <hot-table hot-id="my-handsontable" settings="vm.settings" class="tube"
                                   style="width: 100%; padding: 0;margin: 0;"></hot-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">移位操作</h3>
    </div>
    <div class="modal-body" id="modal-body">
        确定取消移位操作？
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
    </div>
</script>
<script type="text/ng-template" id="closeMovement.html">
    <div class="modal-header">
        <h3 class="modal-title">移位操作</h3>
    </div>
    <div class="modal-body">
        是否对已入的样本进行保存？
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">保存</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
    </div>
</script>
