
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStockOutApplyLabel" data-translate="bioBankApp.stockOutApply.home.createOrEditLabel">Create or edit a Stock Out Apply</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stockOutApply.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stockOutApply.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.startTime" for="field_startTime">Start Time</label>
                <div class="input-group">
                    <input id="field_startTime" type="text" class="form-control" name="startTime" ui-mask="9999-99-99" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stockOutApply.startTime" is-open="vm.datePickerOpenStatus.startTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.endTime" for="field_endTime">End Time</label>
                <div class="input-group">
                    <input id="field_endTime" type="text" class="form-control" name="endTime" ui-mask="9999-99-99" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stockOutApply.endTime" is-open="vm.datePickerOpenStatus.endTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.purposeOfSample" for="field_purposeOfSample">Purpose Of Sample</label>
            <input type="text" class="form-control" name="purposeOfSample" id="field_purposeOfSample"
                    ng-model="vm.stockOutApply.purposeOfSample"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.purposeOfSample.$invalid">
                <p class="help-block"
                    ng-show="editForm.purposeOfSample.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.recordTime" for="field_recordTime">Record Time</label>
                <div class="input-group">
                    <input id="field_recordTime" type="text" class="form-control" name="recordTime" ui-mask="9999-99-99" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stockOutApply.recordTime" is-open="vm.datePickerOpenStatus.recordTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('recordTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.recordId" for="field_recordId">Record Id</label>
            <input type="number" class="form-control" name="recordId" id="field_recordId"
                    ng-model="vm.stockOutApply.recordId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.parentApplyId" for="field_parentApplyId">Parent Apply Id</label>
            <input type="number" class="form-control" name="parentApplyId" id="field_parentApplyId"
                    ng-model="vm.stockOutApply.parentApplyId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.approverId" for="field_approverId">Approver Id</label>
            <input type="number" class="form-control" name="approverId" id="field_approverId"
                    ng-model="vm.stockOutApply.approverId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.approveTime" for="field_approveTime">Approve Time</label>
                <div class="input-group">
                    <input id="field_approveTime" type="text" class="form-control" name="approveTime" ui-mask="9999-99-99" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stockOutApply.approveTime" is-open="vm.datePickerOpenStatus.approveTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('approveTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.stockOutApply.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.stockOutApply.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.applyPersonName" for="field_applyPersonName">Apply Person Name</label>
            <input type="text" class="form-control" name="applyPersonName" id="field_applyPersonName"
                    ng-model="vm.stockOutApply.applyPersonName"
                    ng-maxlength="255"/>
            <div ng-show="editForm.applyPersonName.$invalid">
                <p class="help-block"
                    ng-show="editForm.applyPersonName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockOutApply.applyCode" for="field_applyCode">Apply Code</label>
            <input type="text" class="form-control" name="applyCode" id="field_applyCode"
                    ng-model="vm.stockOutApply.applyCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.applyCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.applyCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.applyCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.stockOutApply.delegate" for="field_delegate">Delegate</label>
            <select class="form-control" id="field_delegate" name="delegate" ng-model="vm.stockOutApply.delegateId" ng-options="delegate.id as delegate.id for delegate in vm.delegates"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.delegate.$invalid">
            <p class="help-block"
                ng-show="editForm.delegate.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
