<div>
    <h2 data-translate="bioBankApp.supportRackType.home.title">Support Rack Types</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="support-rack-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.supportRackType.home.createLabel">
                        Create new Support Rack Type
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supportRackTypeCode"><span data-translate="bioBankApp.supportRackType.supportRackTypeCode">Support Rack Type Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supportRackRows"><span data-translate="bioBankApp.supportRackType.supportRackRows">Support Rack Rows</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supportRackColumns"><span data-translate="bioBankApp.supportRackType.supportRackColumns">Support Rack Columns</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.supportRackType.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.supportRackType.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="supportRackType in vm.supportRackTypes track by supportRackType.id">
                    <td><a ui-sref="support-rack-type-detail({id:supportRackType.id})">{{supportRackType.id}}</a></td>
                    <td>{{supportRackType.supportRackTypeCode}}</td>
                    <td>{{supportRackType.supportRackRows}}</td>
                    <td>{{supportRackType.supportRackColumns}}</td>
                    <td>{{supportRackType.memo}}</td>
                    <td>{{supportRackType.status}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="support-rack-type-detail({id:supportRackType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="support-rack-type.edit({id:supportRackType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="support-rack-type.delete({id:supportRackType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
