
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySupportRackTypeLabel" data-translate="bioBankApp.supportRackType.home.createOrEditLabel">Create or edit a Support Rack Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.supportRackType.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.supportRackType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.supportRackType.supportRackTypeCode" for="field_supportRackTypeCode">Support Rack Type Code</label>
            <input type="text" class="form-control" name="supportRackTypeCode" id="field_supportRackTypeCode"
                    ng-model="vm.supportRackType.supportRackTypeCode"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.supportRackTypeCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.supportRackTypeCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.supportRackTypeCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.supportRackType.supportRackRows" for="field_supportRackRows">Support Rack Rows</label>
            <input type="text" class="form-control" name="supportRackRows" id="field_supportRackRows"
                    ng-model="vm.supportRackType.supportRackRows"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.supportRackRows.$invalid">
                <p class="help-block"
                    ng-show="editForm.supportRackRows.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.supportRackRows.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.supportRackType.supportRackColumns" for="field_supportRackColumns">Support Rack Columns</label>
            <input type="text" class="form-control" name="supportRackColumns" id="field_supportRackColumns"
                    ng-model="vm.supportRackType.supportRackColumns"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.supportRackColumns.$invalid">
                <p class="help-block"
                    ng-show="editForm.supportRackColumns.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.supportRackColumns.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.supportRackType.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.supportRackType.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.supportRackType.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.supportRackType.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
