<nav class="navbar navbar-default" role="navigation">
    <div class="" has-authority="ROLE_ADMIN">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/LOGO.svg" alt="logo"/>
                <span data-translate="global.title">BioBank</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                                <a ui-sref="project" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.project">Project</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="project-site" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.projectSite">Project Site</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="project-relate" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.projectRelate">Project Relate</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="equipment-group" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.equipmentGroup">Equipment Group</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="equipment-modle" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.equipmentModle">Equipment Modle</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="equipment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.equipment">Equipment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="area" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.area">Area</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="support-rack-type" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.supportRackType">Support Rack Type</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="support-rack" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.supportRack">Support Rack</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="sample-type" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.sampleType">Sample Type</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="frozen-box-type" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.frozenBoxType">Frozen Box Type</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="frozen-tube-type" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.frozenTubeType">Frozen Tube Type</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="frozen-box" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.frozenBox">Frozen Box</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tranship" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tranship">Tranship</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="frozen-tube" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.frozenTube">Frozen Tube</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tranship-box" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.transhipBox">Tranship Box</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="storage-in" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockIn">Storage In</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="storage-in-box" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockInBox">Storage In Box</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="frozen-box-position" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.frozenBoxPosition">Frozen Box Position</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-in-tubes" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockInTubes">Stock In Tubes</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="sample-classification" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.sampleClassification">Sample Classification</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="project-sample-class" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.projectSampleClass">Project Sample Class</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="delegate" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.delegate">Delegate</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-apply" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutApply">Stock Out Apply</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-requirement" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutRequirement">Stock Out Requirement</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-required-sample" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutRequiredSample">Stock Out Required Sample</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-req-frozen-tube" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutReqFrozenTube">Stock Out Req Frozen Tube</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-plan" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutPlan">Stock Out Plan</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-plan-frozen-tube" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutPlanFrozenTube">Stock Out Plan Frozen Tube</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-task" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutTask">Stock Out Task</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-box-position" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutBoxPosition">Stock Out Box Position</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-frozen-box" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutFrozenBox">Stock Out Frozen Box</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-frozen-tube" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutFrozenTube">Stock Out Frozen Tube</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-handover" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutHandover">Stock Out Handover</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-handover-details" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutHandoverDetails">Stock Out Handover Details</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-files" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutFiles">Stock Out Files</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="user-login-history" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.userLoginHistory">User Login History</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-apply-project" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutApplyProject">Stock Out Apply Project</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-task-frozen-tube" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutTaskFrozenTube">Stock Out Task Frozen Tube</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="box-and-tube" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.boxAndTube">Box And Tube</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-box-tube" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutBoxTube">Stock Out Box Tube</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-hand-over" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutHandOver">Stock Out Hand Over</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tranship-tube" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.transhipTube">Tranship Tube</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tranship-box-position" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.transhipBoxPosition">Tranship Box Position</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-in-tube" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockInTube">Stock In Tube</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-in-box-position" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockInBoxPosition">Stock In Box Position</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="serial-no" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.serialNo">Serial No</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="position-move-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.positionMoveRecord">Position Move Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="position-move" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.positionMove">Position Move</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tranship-stock-in" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.transhipStockIn">Tranship Stock In</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-in-tranship-box" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockInTranshipBox">Stock In Tranship Box</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="position-change" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.positionChange">Position Change</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="position-change-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.positionChangeRecord">Position Change Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="position-destroy" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.positionDestroy">Position Destroy</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="position-destroy-record" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.positionDestroyRecord">Position Destroy Record</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="attachment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.attachment">Attachment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="coordinate" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.coordinate">Coordinate</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="province" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.province">Province</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock-out-handover-box" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stockOutHandoverBox">Stock Out Handover Box</span>
                                </a>
                            </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->

                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span data-translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
