<div>
    <h2 data-translate="bioBankApp.relations.home.title">Relations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="relations.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.relations.home.createLabel">
                        Create new Relations
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projectCode"><span data-translate="bioBankApp.relations.projectCode">Project Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.relations.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.relations.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenBoxTypeId"><span data-translate="bioBankApp.relations.frozenBoxType">Frozen Box Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenTubeTypeId"><span data-translate="bioBankApp.relations.frozenTubeType">Frozen Tube Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleTypeId"><span data-translate="bioBankApp.relations.sampleType">Sample Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="projectId"><span data-translate="bioBankApp.relations.project">Project</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="relations in vm.relations track by relations.id">
                    <td><a ui-sref="relations-detail({id:relations.id})">{{relations.id}}</a></td>
                    <td>{{relations.projectCode}}</td>
                    <td>{{relations.memo}}</td>
                    <td>{{relations.status}}</td>
                    <td>
                        <a ui-sref="frozen-box-type-detail({id:relations.frozenBoxTypeId})">{{relations.frozenBoxTypeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="frozen-tube-type-detail({id:relations.frozenTubeTypeId})">{{relations.frozenTubeTypeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="sample-type-detail({id:relations.sampleTypeId})">{{relations.sampleTypeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="project-detail({id:relations.projectId})">{{relations.projectId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="relations-detail({id:relations.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="relations.edit({id:relations.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="relations.delete({id:relations.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
