
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRelationsLabel" data-translate="bioBankApp.relations.home.createOrEditLabel">Create or edit a Relations</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.relations.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.relations.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.relations.projectCode" for="field_projectCode">Project Code</label>
            <input type="text" class="form-control" name="projectCode" id="field_projectCode"
                    ng-model="vm.relations.projectCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.projectCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.projectCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.projectCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.relations.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.relations.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.relations.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.relations.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.relations.frozenBoxType" for="field_frozenBoxType">Frozen Box Type</label>
            <select class="form-control" id="field_frozenBoxType" name="frozenBoxType" ng-model="vm.relations.frozenBoxTypeId" ng-options="frozenBoxType.id as frozenBoxType.id for frozenBoxType in vm.frozenboxtypes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.frozenBoxType.$invalid">
            <p class="help-block"
                ng-show="editForm.frozenBoxType.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.relations.frozenTubeType" for="field_frozenTubeType">Frozen Tube Type</label>
            <select class="form-control" id="field_frozenTubeType" name="frozenTubeType" ng-model="vm.relations.frozenTubeTypeId" ng-options="frozenTubeType.id as frozenTubeType.id for frozenTubeType in vm.frozentubetypes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.frozenTubeType.$invalid">
            <p class="help-block"
                ng-show="editForm.frozenTubeType.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.relations.sampleType" for="field_sampleType">Sample Type</label>
            <select class="form-control" id="field_sampleType" name="sampleType" ng-model="vm.relations.sampleTypeId" ng-options="sampleType.id as sampleType.id for sampleType in vm.sampletypes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.sampleType.$invalid">
            <p class="help-block"
                ng-show="editForm.sampleType.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
