
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLoginHistoryLabel" data-translate="bioBankApp.userLoginHistory.home.createOrEditLabel">Create or edit a User Login History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userLoginHistory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userLoginHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.userLoginHistory.userToken" for="field_userToken">User Token</label>
            <input type="text" class="form-control" name="userToken" id="field_userToken"
                    ng-model="vm.userLoginHistory.userToken"
                    ng-maxlength="255"/>
            <div ng-show="editForm.userToken.$invalid">
                <p class="help-block"
                    ng-show="editForm.userToken.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.userLoginHistory.loginUserId" for="field_loginUserId">Login User Id</label>
            <input type="number" class="form-control" name="loginUserId" id="field_loginUserId"
                    ng-model="vm.userLoginHistory.loginUserId"
                    required/>
            <div ng-show="editForm.loginUserId.$invalid">
                <p class="help-block"
                    ng-show="editForm.loginUserId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.loginUserId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.userLoginHistory.businessName" for="field_businessName">Business Name</label>
            <input type="text" class="form-control" name="businessName" id="field_businessName"
                    ng-model="vm.userLoginHistory.businessName"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.businessName.$invalid">
                <p class="help-block"
                    ng-show="editForm.businessName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.businessName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.userLoginHistory.invalidDate" for="field_invalidDate">Invalid Date</label>
                <div class="input-group">
                    <input id="field_invalidDate" type="text" class="form-control" name="invalidDate" datetime-picker="{{dateformat}}" ng-model="vm.userLoginHistory.invalidDate" is-open="vm.datePickerOpenStatus.invalidDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('invalidDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.invalidDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.invalidDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.invalidDate.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.userLoginHistory.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.userLoginHistory.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.userLoginHistory.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.userLoginHistory.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
