<div>
    <h2 data-translate="bioBankApp.stockInTranshipBox.home.title">Stock In Tranship Boxes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stock-in-tranship-box.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.stockInTranshipBox.home.createLabel">
                        Create new Stock In Tranship Box
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockInCode"><span data-translate="bioBankApp.stockInTranshipBox.stockInCode">Stock In Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transhipCode"><span data-translate="bioBankApp.stockInTranshipBox.transhipCode">Tranship Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenBoxCode"><span data-translate="bioBankApp.stockInTranshipBox.frozenBoxCode">Frozen Box Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.stockInTranshipBox.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.stockInTranshipBox.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transhipBoxId"><span data-translate="bioBankApp.stockInTranshipBox.transhipBox">Tranship Box</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockInId"><span data-translate="bioBankApp.stockInTranshipBox.stockIn">Stock In</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockInTranshipBox in vm.stockInTranshipBoxes track by stockInTranshipBox.id">
                    <td><a ui-sref="stock-in-tranship-box-detail({id:stockInTranshipBox.id})">{{stockInTranshipBox.id}}</a></td>
                    <td>{{stockInTranshipBox.stockInCode}}</td>
                    <td>{{stockInTranshipBox.transhipCode}}</td>
                    <td>{{stockInTranshipBox.frozenBoxCode}}</td>
                    <td>{{stockInTranshipBox.status}}</td>
                    <td>{{stockInTranshipBox.memo}}</td>
                    <td>
                        <a ui-sref="tranship-box-detail({id:stockInTranshipBox.transhipBoxId})">{{stockInTranshipBox.transhipBoxId}}</a>
                    </td>
                    <td>
                        <a ui-sref="stock-in-detail({id:stockInTranshipBox.stockInId})">{{stockInTranshipBox.stockInId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stock-in-tranship-box-detail({id:stockInTranshipBox.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-in-tranship-box.edit({id:stockInTranshipBox.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-in-tranship-box.delete({id:stockInTranshipBox.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
