
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStockInTranshipBoxLabel" data-translate="bioBankApp.stockInTranshipBox.home.createOrEditLabel">Create or edit a Stock In Tranship Box</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stockInTranshipBox.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stockInTranshipBox.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockInTranshipBox.stockInCode" for="field_stockInCode">Stock In Code</label>
            <input type="text" class="form-control" name="stockInCode" id="field_stockInCode"
                    ng-model="vm.stockInTranshipBox.stockInCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.stockInCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.stockInCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.stockInCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockInTranshipBox.transhipCode" for="field_transhipCode">Tranship Code</label>
            <input type="text" class="form-control" name="transhipCode" id="field_transhipCode"
                    ng-model="vm.stockInTranshipBox.transhipCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.transhipCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.transhipCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.transhipCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockInTranshipBox.frozenBoxCode" for="field_frozenBoxCode">Frozen Box Code</label>
            <input type="text" class="form-control" name="frozenBoxCode" id="field_frozenBoxCode"
                    ng-model="vm.stockInTranshipBox.frozenBoxCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.frozenBoxCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.frozenBoxCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.frozenBoxCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockInTranshipBox.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.stockInTranshipBox.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.stockInTranshipBox.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.stockInTranshipBox.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.stockInTranshipBox.transhipBox" for="field_transhipBox">Tranship Box</label>
            <select class="form-control" id="field_transhipBox" name="transhipBox" ng-model="vm.stockInTranshipBox.transhipBoxId" ng-options="transhipBox.id as transhipBox.id for transhipBox in vm.transhipboxes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.transhipBox.$invalid">
            <p class="help-block"
                ng-show="editForm.transhipBox.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.stockInTranshipBox.stockIn" for="field_stockIn">Stock In</label>
            <select class="form-control" id="field_stockIn" name="stockIn" ng-model="vm.stockInTranshipBox.stockInId" ng-options="stockIn.id as stockIn.id for stockIn in vm.stockins"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.stockIn.$invalid">
            <p class="help-block"
                ng-show="editForm.stockIn.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
