
.p-l-0{
    padding-left: 0 !important;
}
.p-r-0{
    padding-right: 0!important;
}
.m-l-0{
    margin-left: 0!important;
}
.m-r-0{
    margin-right: 0!important;
}
.p-5{
    padding: 5px;
}
.p-r-6{
    padding-right: 6px !important;
}
.p-l-6{
    padding-left: 6px !important;
}
.m-l-5{
    margin-left: 5px !important;
}
.m-r-10{
    margin-right: 10px !important;
}
.m-b-10{
    margin-bottom: 10px !important;
}
.border{
    border:1px solid #ccc;
}
.clear-both{
    clear: both;
}
.rowLight{
    background-color: lightskyblue;
}
.selectize-dropdown{
    z-index: 999;
}
.navbar{
    margin-bottom: 6px;
}
.required-field:after{
    color: red;
    content: '*';
}
.triangle-topright {
    width: 0;
    height: 0;
    border-top: 10px solid red;
    border-left: 10px solid transparent;
}
.transport-record-index h2{
    margin-top:2px;
}
.transport-record  .form-group{
    margin-bottom: 4px;
}
.transport-record  .pipe-body{
    border: 1px solid #ccc;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.transport-record-body .btn{
    padding: 2px 12px;
} .transport-record-body table.dataTable tbody th,
.transport-record-body table.dataTable tbody td{
    padding: 4px 18px;
}
.transport-record-new .form-group{
    margin-bottom: 6px;
}
.transport-record-new div.dataTables_filter input{
    width: 8em;
}
.tube .handsontable th,
.tube .handsontable td{
    height: 40px;
    line-height: 41px;
}
.transport-record-new h3{
    margin: 2px;
}
.transport-record-new .pipe-body .pipe-body-top{
    margin-left: -5px;
}
.transport-record-new .pipe-body .pipe-body-top .col-sm-2{
    width: 22%;
}
.transport-record-new .pipe-body .pipe-body-top .control-label{
    padding-left: 4px;
}
.transport-record-new .pipe-body .pipe-body-bottom .txt-width{
    width: 39%;
}
.transport-record-new .pipe-body .pipe-body-bottom .box-remark{
    width: 61%;
    padding-right: 0;
}
.transport-record-new .pipe-body .pipe-body-bottom .box-remark .col-sm-2{
    width: 9%;
    padding-right: 0;
}
.transport-record-new .pipe-body .pipe-body-bottom .box-remark .col-sm-10{
    width: 89%;
    padding-left: 12px;
}
.split-box .box-right{
    width: 320px;
}
.split-box ul{
    margin: 0;
    padding: 0;
}
.split-box li{
    float: left;
    list-style: none;
    margin-right: 10px;
    margin-top: 22px;
}
.split-box .box-feature{
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border:1px solid #ccc;
    border-radius: 2px;
    /*padding-top: 28px;*/
}
.bg-1{
    background-color: #CC66CC;
}

.bg-2{
    background-color: #00CC66;
}
.bg-3{
    background-color: #FF0000;
}
.bg-4{
    background-color: #FFFFFF;
}
.bg-5{
    background-color: #999999;
}
.bg-6{
    background-color: #FFFF00;
}
.box-selected{
    outline:2px solid red !important;
}
@media (min-width:1440px) {
    .transport-record-new .pipe-body .pipe-body-top .col-sm-2{
        width: 21%;
    }
    .transport-record-new .pipe-body .pipe-body-top {
        margin-left: -40px;
    }
    .transport-record-new .pipe-body .pipe-body-bottom .col-sm-8{
        margin-left: -22px;
    }
    .transport-record-new .pipe-body .pipe-table{
        width: 67%;
    }
    .transport-record-new .pipe-body .pipe-operate{
       margin-right: 3%;
    }
    .split-box .box-right{
        width: 400px;
    }
}

.modal-90 {
    width: 90%;
}
