
.p-l-0{
    padding-left: 0 !important;
}
.p-r-0{
    padding-right: 0!important;
}
.p-l-5{
    padding-left: 5px !important;
}
.p-r-5{
    padding-right: 5px !important;
}
.p-l-10{
    padding-left: 10px !important;
}
.p-r-10{
    padding-right: 10px !important;
}
.p-l-15{
    padding-left: 15px !important;
}
.p-r-15{
    padding-right: 15px !important;
}
.m-l-0{
    margin-left: 0!important;
}
.m-r-0{
    margin-right: 0!important;
}
.p-5{
    padding: 5px;
}
.p-r-6{
    padding-right: 6px !important;
}
.p-l-6{
    padding-left: 6px !important;
}
.m-l-5{
    margin-left: 5px !important;
}
.m-r-10{
    margin-right: 10px !important;
}
.m-b-10{
    margin-bottom: 10px !important;
}
.m-t-40{
    margin-top: 40px !important;
}
.border{
    border:1px solid #ccc;
}
.clear-both{
    clear: both;
}
.rowLight{
    background-color: lightskyblue;
}
.selectize-dropdown{
    z-index: 999;
}
.navbar{
    margin-bottom: 6px;
}
.required-field:after{
    color: red;
    content: '*';
}
.triangle-topright {
    width: 0;
    height: 0;
    border-top: 10px solid #0000FF;
    border-left: 10px solid transparent;
}
.pipe-table .htCommentCell:after{
    border-top: 10px solid #0000FF;
    border-left: 10px solid transparent;
}
.transport-record-index h2{
    margin-top:2px;
}
.transport-record  .form-group{
    margin-bottom: 4px;
}
.transport-record  .pipe-body{
    border: 1px solid #ccc;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.transport-record-body .btn{
    padding: 2px 12px;
} .transport-record-body table.dataTable tbody th,
.transport-record-body table.dataTable tbody td{
    padding: 4px 18px;
}
.transport-record-new .three-col{
    width: 33%;
}
.transport-record-new .form-group{
    margin-bottom: 6px;
}
.transport-record-new div.dataTables_filter input{
    width: 8em;
}
.tube .handsontable th,
.tube .handsontable td{
    height: 40px;
    line-height: 41px;
}
.transport-record-new h3{
    margin: 2px;
}
.transport-record-new .pipe-body .pipe-body-top{
    margin-left: -5px;
}
.transport-record-new .pipe-body .pipe-body-top .col-sm-2{
    width: 24%;
}
.transport-record-new .pipe-body .pipe-body-top .storage-location{
    width: 38%;
}
.transport-record-new .pipe-body .pipe-body-top .storage-location .control-label{
    width: 17%;
}
.transport-record-new .pipe-body .pipe-body-top .storage-location .location{
    float:left;
    width: 70px;
    margin-left: 2px
}
.transport-record-new .pipe-body .pipe-body-top .control-label{
    padding-left: 4px;
}
.transport-record-new .pipe-body .pipe-body-bottom .txt-width{
    width: 39%;
}
.transport-record-new .pipe-body .pipe-body-bottom .box-remark{
    width: 55%;
    padding-right: 0;
    margin-left: 51px;
}
.transport-record-new .pipe-body .pipe-body-bottom .box-remark .col-sm-2{
    width: 9%;
    padding-right: 0;
}
.transport-record-new .pipe-body .pipe-body-bottom .box-remark .col-sm-10{
    width: 89%;
    padding-left: 12px;
}
.split-box .box-right{
    width: 320px;
}
.split-box ul{
    margin: 0;
    padding: 0;
}
.split-box li{
    position: relative;
    float: left;
    list-style: none;
    margin-right: 12px;
    margin-top: 22px;
}
.split-box .box-feature{
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border:1px solid #ccc;
    border-radius: 2px;
    /*padding-top: 28px;*/
    margin-bottom: 10px;
}
.split-box li>div:nth-child(2),.split-box .box-feature.box-feature-copy{
    position: absolute;
    top:6px;
    left:6px;
}
.split-box li>div:nth-child(2){
    z-index: 2;
}
.second-box{
    margin-top:40px;
    margin-left: -6px;
}
.bg-1{
    background-color: #CC66CC;
}

.bg-2{
    background-color: #00CC66;
}
.bg-3{
    background-color: #FF0000;
}
.bg-4{
    background-color: #FFFFFF;
}
.bg-5{
    background-color: #999999;
}
.bg-6{
    background-color: #FFFF00;
}
.box-selected{
    outline:2px solid red !important;
}
.import-box-modal-body .selectize-input{
    height: 368px;
}
.transport-record-new .pipe-body .pipe-operate{
    width: 8%;
    margin-right: 28px;
}
@media (min-width:1400px) {
    .transport-record-new .pipe-body .pipe-body-bottom .box-remark{
        width: 55%;
        margin-left: 41px;
    }
    .transport-record-new .pipe-body .pipe-operate{
        margin-right: 41px;
    }
}
@media (min-width:1440px) {
    .transport-record-new .pipe-body .pipe-body-top .col-sm-2{
        width: 21%;
    }
    .transport-record-new .pipe-body .pipe-body-top {
        margin-left: -22px;
    }
    .transport-record-new .pipe-body .pipe-body-bottom .col-sm-8{
        width: 48.4%;
        margin-left: -11px;
    }
    /*.transport-record-new .pipe-body .pipe-table{*/
        /*width: 67%;*/
    /*}*/
    .transport-record-new .three-col{
        width: 32%;
    }
    .transport-record-new .pipe-body .pipe-operate{
        margin-right: 1%;
        width: 13%;
    }
    .split-box .box-right{
        width: 400px;
    }
}
@media (min-width:1670px) {
    .transport-record-new .pipe-body .pipe-body-bottom .col-sm-8 {
        width: 44%;
        margin-left: 24px;
    }
    .transport-record-new .three-col{
        width: 25%;
    }
}
@media (min-width:1900px) {
    .transport-record-new .pipe-body .pipe-body-top .col-sm-2 {
        width: 20.2%;
    }
    .transport-record-new .pipe-body .pipe-body-bottom .col-sm-8 {
        width: 46.6%;
        margin-left: -20px;
    }
    .transport-record-new .pipe-body .pipe-body-top .storage-location .location{
        width: 82px;
    }
}

.modal-90 {
    width: 90%;
}

.htReadOnly {
    background-color: darkgray !important;
}
