.transport-record  .form-group{
    margin-bottom: 4px;
}
.transport-record  .pipe-body{
    border: 1px solid #ccc;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-r-6{
    padding-right: 6px !important;
}
.p-l-6{
    padding-left: 6px !important;
}
.m-l-5{
    margin-left: 5px !important;
}
.transport-record-new div.dataTables_filter input{
    width: 8em;
}
.transport-record-new .handsontable th,
.transport-record-new .handsontable td{
    height: 40px;
    line-height: 41px;
}
.transport-record-new h3{
    margin: 2px;
}
.transport-record-new .pipe-body .pipe-body-top{
    margin-left: -5px;
}
.transport-record-new .pipe-body .pipe-body-top .col-sm-2{
    width: 22%;
}
.transport-record-new .pipe-body .pipe-body-top .control-label{
    padding-left: 8px;
}

@media (min-width:1440px) {
    .transport-record-new .pipe-body .pipe-body-top .col-sm-2{
        width: 21%;
    }
    .transport-record-new .pipe-body .pipe-body-top {
        margin-left: -40px;
    }
}
