<div class="">

    <div class="row m0 m-b-10">
        <div class="col-md-12">
            <div class="pull-left ">
                <h2 class="m0">添加出库申请</h2>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="vm.additionApply()" ng-if="vm.requirement.status == '1103'">附加申请</button>
                <div class="pull-left" ng-if="vm.requirement.status != '1103'">

                    <button class="btn btn-primary" >打印出库申请</button>
                    <button class="btn btn-primary" ng-click="vm.approvalModal()">批准</button>
                    <!--<button class="btn btn-primary" ng-click="vm.sampleDescModal()">样本库存详情</button>-->

                    <button class="btn btn-primary" ng-click="vm.saveRequirement()">保存申请</button>
                </div>
                <div class="pull-right m-l-5">
                    <button class="btn btn-default" ui-sref="requirement-list">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row m0">
        <div class="row m0">
            <div class="form-group col-md-6">
                <label >委托方</label>
                <selectize options='vm.delegatesOptions' config="vm.delegatesConfig"
                           ng-model="vm.requirement.delegateId" ng-disabled="vm.applyFlag"></selectize>
            </div>
            <div class="form-group col-md-2">
                <label>委托人</label>
                <input type="text" class="form-control" ng-model="vm.requirement.applyPersonName" ng-disabled="vm.applyFlag">
            </div>
            <div class="form-group col-md-2">
                <label>开始时间</label>
                <div class="input-group">
                    <input  type="text" class="form-control" name="startTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.requirement.startTime" is-open="vm.datePickerOpenStatus.startTime"
                            ng-disabled="vm.applyFlag" required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label>结束时间</label>
                <div class="input-group">
                    <input  type="text" class="form-control" name="endTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.requirement.endTime" is-open="vm.datePickerOpenStatus.endTime"
                            ng-disabled="vm.applyFlag" required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </div>
            </div>
        </div>
        <div class="row m0" style="position: relative">
            <div class="form-group col-md-3">
                <label >记录人</label>
                <selectize options='vm.recorderOptions' config="vm.recorderConfig"
                           ng-model="vm.requirement.recordId" ng-disabled="vm.applyFlag"></selectize>
            </div>
            <div class="form-group col-md-3">
                <label>记录时间</label>
                <div class="input-group">
                    <input  type="text" class="form-control" name="recordTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.requirement.recordTime" is-open="vm.datePickerOpenStatus.recordTime"
                            ng-disabled="vm.applyFlag" required  />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('recordTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label>状态</label>
                <selectize options='vm.statusOptions' config="vm.statusConfig"
                           ng-model="vm.status" ng-disabled = "true"></selectize>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">用途</label>
                <textarea type="text" class="form-control resize-none" ng-model="vm.requirement.purposeOfSample" rows="5" ng-disabled="vm.applyFlag"></textarea>
            </div>
            <div class="form-group col-md-8" style="position: absolute;top:77px;">
                <label class="control-label">授权的项目</label>
                <selectize options='vm.projectOptions' config="vm.projectConfig"
                           ng-model="vm.requirement.projectIds" ng-disabled="vm.applyFlag"></selectize>
            </div>
        </div>
    </div>
    <div class="row m0">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row m0">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <h4>样本需求</h4>
                            </div>
                            <div class="pull-right" >
                                <!--<div ng-if="vm.requirement.status == '1103'">-->
                                <!--<button class="btn btn-primary" ng-click="vm.addApplyRequirement()">添加</button>-->
                                <!--</div>-->
                                <div ng-if="vm.status != '1103'">
                                    <button class="btn btn-primary" ng-click="vm.saveSampleRequirement(vm.file)" ng-disabled="!vm.sampleRequirement.requirementName">添加</button>
                                    <button class="btn btn-primary" ng-click="vm.sampleRequirementListCheck()">核对库存</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label >需求名称
                                <span class="required-field"></span>
                            </label>
                            <input type="text" class="form-control" ng-model="vm.sampleRequirement.requirementName">
                        </div>
                        <div class="form-group col-md-2">
                            <label >样本量</label>
                            <input type="text" class="form-control" ng-model="vm.sampleRequirement.countOfSample">
                        </div>
                        <div class="form-group col-md-4 self-upload">
                            <label >上传</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class=" form-control" ng-model="vm.file.name" disabled>
                                    <div class="input-group-addon" style="cursor: pointer">
                                        <a href="javascript:;" name="file">
                                            <input type="file" ngf-select ng-model="vm.file" />上传
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label >样本类型</label>
                            <selectize options='vm.sampleTypeOptions' config="vm.sampleTypeConfig"
                                       ng-model="vm.sampleRequirement.sampleTypeId"></selectize>
                        </div>
                        <div class="form-group col-md-2">
                            <label >样本分类</label>
                            <selectize options='vm.sampleClassOptions' config="vm.sampleClassConfig"
                                       ng-model="vm.sampleRequirement.sampleClassificationId"></selectize>
                        </div>
                        <div class="form-group col-md-2">
                            <label >冻存管类型</label>
                            <selectize options='vm.frozenTubeTypeOptions' config="vm.frozenTubeTypeConfig"
                                       ng-model="vm.sampleRequirement.frozenTubeTypeId"></selectize>
                        </div>
                        <div class="form-group col-md-2">
                            <label >性别</label>
                            <selectize options='vm.sexOptions' config="vm.sexConfig"
                                       ng-model="vm.sampleRequirement.sex" ></selectize>
                        </div>
                        <div class="form-group col-md-4">
                            <label >年龄</label>
                            {{vm.sampleRequirement.age}}
                            <input  type="text"   class="irs-hidden-input"  readonly=""
                                    age-slider  form-to="vm.sampleRequirement.age"  style="display:none" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label >疾病类型</label>
                            <selectize options='vm.diseaseTypeOptions' config="vm.diseaseTypeConfig"
                                       ng-model="vm.sampleRequirement.diseaseTypeId"></selectize>
                        </div>
                        <div class="form-group col-md-2" style="margin-top: 28px">
                            <label class="checkbox-inline">
                                <input type="checkbox"  value="option1" ng-model="vm.sampleRequirement.isHemolysis" ng-true-value="true" ng-false-value="false"> 溶血
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox"  value="option2" ng-model="vm.sampleRequirement.isBloodLipid" ng-true-value="true" ng-false-value="false"> 脂质血
                            </label>
                        </div>
                        <div class="form-group col-md-8">
                            <label>备注</label>
                            <textarea rows="1" class="form-control resize-none" ng-model="vm.sampleRequirement.memo"></textarea>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class=" table table-striped table-bordered" style="table-layout: fixed;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

