
<div class="row m-0 mb-10">
    <div class="col-md-12">
        <div class="pull-left ">
            <h2 class="m-0">出库申请浏览</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="vm.planSave()">出库计划</button>
            <button class="btn btn-primary" ng-click="vm.printRequirement()">打印出库申请</button>
            <button class="btn btn-default" ui-sref="requirement-list">关闭</button>
        </div>
    </div>
</div>


<form class="form-inline">
    <div class="row m-0">
        <div class="col-md-12">
            <p>{{vm.requirement.delegateName}}--{{vm.requirement.applyPersonName}}，申请在 {{vm.requirement.startTime}} 到 {{vm.requirement.endTime}}时候出库。记录人{{vm.requirement.recorder}}，记录时间{{vm.requirement.recordTime}}，申请状态{{vm.status}}</p>
        </div>
        <!--<div class="col-md-12">-->
            <!--<div class="form-group">-->
                <!--<label class="">委托方</label>-->
                <!--<p class="form-control-static">{{vm.requirement.delegateName}}</p>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="">委托人</label>-->
                <!--<p class="form-control-static">{{vm.requirement.applyPersonName}}</p>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="">开始时间</label>-->
                <!--<p class="form-control-static">{{vm.requirement.startTime}}</p>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="">结束时间</label>-->
                <!--<p class="form-control-static">{{vm.requirement.endTime}}</p>-->
            <!--</div>-->
            <!--<div class="form-group" ng-if="vm.requirement.recorder">-->
                <!--<label class="">记录人</label>-->
                <!--<p class="form-control-static">{{vm.requirement.recorder}}</p>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="">记录时间</label>-->
                <!--<p class="form-control-static">{{vm.requirement.recordTime}}</p>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="">状态</label>-->
                <!--<p class="form-control-static">{{vm.status}}</p>-->
            <!--</div>-->

        <!--</div>-->
        <div class="col-md-12" ng-if="vm.requirement.projectNames">
            <div class="form-group">
                <label class="">授权的项目</label>
                <p class="form-control-static">{{vm.requirement.projectNames}}</p>
            </div>
        </div>
        <div class="col-md-12" ng-if="vm.requirement.purposeOfSample">
            <label class="">用途</label>
            <p class="form-control-static">{{vm.requirement.purposeOfSample}}</p>
        </div>
    </div>
</form>
</div>
<div class="row m-0">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <h4>样本需求</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body p-0">
                <div class="row">
                    <div class="col-md-12">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class=" table table-striped table-bordered" style="table-layout: fixed;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


