<div>
    <div class="row m0">
        <div class="col-md-12">
            <div class="pull-left ">
                <h2 class="m0">添加出库申请</h2>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" >附加申请</button>
                <button class="btn btn-primary" ng-click="vm.approvalModal()">批准</button>
                <button class="btn btn-primary" ng-click="vm.sampleDescModal()">样本库存详情</button>
                <button class="btn btn-primary" >打印出库申请</button>
                <button class="btn btn-primary" >保存申请</button>
                <button class="btn btn-default" ui-sref="requirement-list">关闭</button>
            </div>
        </div>
    </div>
    <div class="row m0">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
    </div>
</div>
