<div>
    <h2 data-translate="bioBankApp.sampleClassification.home.title">Sample Classifications</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sample-classification.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.sampleClassification.home.createLabel">
                        Create new Sample Classification
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleClassificationName"><span data-translate="bioBankApp.sampleClassification.sampleClassificationName">Sample Classification Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleClassificationCode"><span data-translate="bioBankApp.sampleClassification.sampleClassificationCode">Sample Classification Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.sampleClassification.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.sampleClassification.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frontColor"><span data-translate="bioBankApp.sampleClassification.frontColor">Front Color</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="backColor"><span data-translate="bioBankApp.sampleClassification.backColor">Back Color</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sampleClassification in vm.sampleClassifications track by sampleClassification.id">
                    <td><a ui-sref="sample-classification-detail({id:sampleClassification.id})">{{sampleClassification.id}}</a></td>
                    <td>{{sampleClassification.sampleClassificationName}}</td>
                    <td>{{sampleClassification.sampleClassificationCode}}</td>
                    <td>{{sampleClassification.status}}</td>
                    <td>{{sampleClassification.memo}}</td>
                    <td>{{sampleClassification.frontColor}}</td>
                    <td>{{sampleClassification.backColor}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sample-classification-detail({id:sampleClassification.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sample-classification.edit({id:sampleClassification.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sample-classification.delete({id:sampleClassification.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
