
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySampleClassificationLabel" data-translate="bioBankApp.sampleClassification.home.createOrEditLabel">Create or edit a Sample Classification</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sampleClassification.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sampleClassification.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.sampleClassification.sampleClassificationName" for="field_sampleClassificationName">Sample Classification Name</label>
            <input type="text" class="form-control" name="sampleClassificationName" id="field_sampleClassificationName"
                    ng-model="vm.sampleClassification.sampleClassificationName"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.sampleClassificationName.$invalid">
                <p class="help-block"
                    ng-show="editForm.sampleClassificationName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sampleClassificationName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.sampleClassification.sampleClassificationCode" for="field_sampleClassificationCode">Sample Classification Code</label>
            <input type="text" class="form-control" name="sampleClassificationCode" id="field_sampleClassificationCode"
                    ng-model="vm.sampleClassification.sampleClassificationCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.sampleClassificationCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.sampleClassificationCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sampleClassificationCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.sampleClassification.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.sampleClassification.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.sampleClassification.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.sampleClassification.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.sampleClassification.frontColor" for="field_frontColor">Front Color</label>
            <input type="text" class="form-control" name="frontColor" id="field_frontColor"
                    ng-model="vm.sampleClassification.frontColor"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.frontColor.$invalid">
                <p class="help-block"
                    ng-show="editForm.frontColor.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.frontColor.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.sampleClassification.backColor" for="field_backColor">Back Color</label>
            <input type="text" class="form-control" name="backColor" id="field_backColor"
                    ng-model="vm.sampleClassification.backColor"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.backColor.$invalid">
                <p class="help-block"
                    ng-show="editForm.backColor.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.backColor.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
