<div>
    <h2 data-translate="bioBankApp.sampleType.home.title">Sample Types</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sample-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.sampleType.home.createLabel">
                        Create new Sample Type
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleTypeCode"><span data-translate="bioBankApp.sampleType.sampleTypeCode">Sample Type Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sampleTypeName"><span data-translate="bioBankApp.sampleType.sampleTypeName">Sample Type Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.sampleType.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.sampleType.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frontColor"><span data-translate="bioBankApp.sampleType.frontColor">Front Color</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="backColor"><span data-translate="bioBankApp.sampleType.backColor">Back Color</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sampleType in vm.sampleTypes track by sampleType.id">
                    <td><a ui-sref="sample-type-detail({id:sampleType.id})">{{sampleType.id}}</a></td>
                    <td>{{sampleType.sampleTypeCode}}</td>
                    <td>{{sampleType.sampleTypeName}}</td>
                    <td>{{sampleType.memo}}</td>
                    <td>{{sampleType.status}}</td>
                    <td>{{sampleType.frontColor}}</td>
                    <td>{{sampleType.backColor}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sample-type-detail({id:sampleType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sample-type.edit({id:sampleType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sample-type.delete({id:sampleType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
