<div>
    <h2 data-translate="bioBankApp.stockInTube.home.title">Stock In Tubes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stock-in-tube.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.stockInTube.home.createLabel">
                        Create new Stock In Tube
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rowsInTube"><span data-translate="bioBankApp.stockInTube.rowsInTube">Rows In Tube</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="columnsInTube"><span data-translate="bioBankApp.stockInTube.columnsInTube">Columns In Tube</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.stockInTube.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.stockInTube.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenBoxCode"><span data-translate="bioBankApp.stockInTube.frozenBoxCode">Frozen Box Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockInBoxId"><span data-translate="bioBankApp.stockInTube.stockInBox">Stock In Box</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frozenTubeId"><span data-translate="bioBankApp.stockInTube.frozenTube">Frozen Tube</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockInTube in vm.stockInTubes track by stockInTube.id">
                    <td><a ui-sref="stock-in-tube-detail({id:stockInTube.id})">{{stockInTube.id}}</a></td>
                    <td>{{stockInTube.rowsInTube}}</td>
                    <td>{{stockInTube.columnsInTube}}</td>
                    <td>{{stockInTube.status}}</td>
                    <td>{{stockInTube.memo}}</td>
                    <td>{{stockInTube.frozenBoxCode}}</td>
                    <td>
                        <a ui-sref="stock-in-box-detail({id:stockInTube.stockInBoxId})">{{stockInTube.stockInBoxId}}</a>
                    </td>
                    <td>
                        <a ui-sref="frozen-tube-detail({id:stockInTube.frozenTubeId})">{{stockInTube.frozenTubeId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stock-in-tube-detail({id:stockInTube.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-in-tube.edit({id:stockInTube.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock-in-tube.delete({id:stockInTube.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
