<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">导入冻存盒</h3>
</div>
<div class="modal-body import-box-modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <button class="btn btn-default" ng-click="vm.importSample()">导入样本数据</button>
            </div>
        </div>
        <div class="col-sm-2">
            <!--<textarea rows="18" ng-keydown="vm.addData()" ng-model="vm.boxCode" style="resize: none"></textarea>-->
            <selectize placeholder='录入冻存盒' options='vm.myOptions' config="vm.myConfig" ng-model="vm.arrayBoxCode" ng-disabled='disable' required='true' style="height:368px;"></selectize>
        </div>
        <div class="col-sm-10">
            <!--<div>-->
                <!--<div class="pull-right">-->
                    <!--<button class="btn btn-default">导入样本数据</button>-->
                <!--</div>-->
            <!--</div>-->
            <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"  class="row-border hover">
                <thead>
                    <th>冻存盒号</th>
                    <th>状态</th>
                    <th>样本类型</th>
                    <th>样本数</th>
                    <th>是否分装</th>
                </thead>
                <tbody >
                    <tr ng-repeat="item in vm.obox.frozenBoxDTOList">
                        <td>{{item.frozenBoxCode}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <!--<input type="checkbox">-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>
<script type="text/ng-template" id="stackedModal.html">
    <div class="modal-header">
        <h3 class="modal-title" >导入样本数据</h3>
    </div>
    <div class="modal-body" >
        是否导入新数据？
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">取消</button>
    </div>
</script>
