<jhi-alert></jhi-alert>
<div class="transport-record-new">
    <div class="">
        <h3 class="pull-left">新增转运记录<small>&nbsp;{{vm.transportRecord.transhipCode}}</small></h3>
        <div class="form-group pull-right m-r-10">
            <div class="text-right">
                <button type="button" class="btn btn-primary" ng-click="vm.cancellation()" ng-show="vm.transportRecord.transhipState == '1001'">作废</button>
                <button type="button" class="btn btn-primary" ng-click="vm.stockIn()" ng-disabled="!vm.boxLength || !vm.transportRecord.receiver" ng-show="vm.transportRecord.transhipState == '1001'">入库</button>
                <button type="button" class="btn btn-primary" ng-click="vm.importFrozenStorageBox('lg')" ng-show="vm.transportRecord.transhipState == '1001'">导入冻存盒</button>
                <button type="button" class="btn btn-primary" ng-click="vm.saveRecord()" ng-disabled="!vm.transportRecord.receiver" ng-show="vm.transportRecord.transhipState == '1001'">保存</button>
                <button type="button" class="btn btn-default" ui-sref="transport-record">关闭</button>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>

    <form class="form-horizontal">
        <div class="row m-l-0 m-r-0">
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">转运日期</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input  type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.transportRecord.transhipDate" is-open="vm.datePickerOpenStatus.transhipDate"
                        required  />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('transhipDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">项目编码</label>
                <div class="col-sm-8">
                    <selectize options='vm.projectOptions' config="vm.projectConfig"
                               ng-model="vm.transportRecord.projectId"></selectize>
                    <!--<input type="text" class="form-control"  ng-model="vm.transportRecord.projectSiteCode">-->
                </div>
            </div>
            <div class="form-group col-sm-3 three-col project-sites">
                <label  class="col-sm-4 control-label p-r-6">项目点</label>
                <div class="col-sm-8">
                    <selectize options='vm.projectSitesOptions' config="vm.projectSitesConfig"
                               ng-model="vm.transportRecord.projectSiteId"></selectize>
                    <!--<input type="text" class="form-control"  ng-model="vm.transportRecord.projectCode">-->
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">运单号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="vm.transportRecord.trackNumber">
                </div>
            </div>
        </div>
        <div class="row m-l-0 m-r-0">

            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">转运批次</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control"  ng-model="vm.transportRecord.transhipBatch">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">状态</label>
                <div class="col-sm-8">
                    <selectize options='vm.statusOptions' config="vm.statusConfig"
                               ng-model="vm.transportRecord.transhipState" ng-disabled="true"></selectize>
                    <input type="hidden" name="level" ng-model="vm.transportRecord.transhipState" required>
                </div>
            </div>
            <div class="form-group col-sm-3 three-col">

                <label  class="col-sm-4 control-label p-r-6">
                    <span class="required-field"></span>
                    接收人</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"   ng-model="vm.transportRecord.receiver">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">接收日期</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input  type="text" class="form-control" name="receiveDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.transportRecord.receiveDate" is-open="vm.datePickerOpenStatus.receiveDate"
                                required  />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('receiveDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row m-l-0 m-r-0">
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">样本人份</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" ng-model="vm.transportRecord.sampleNumber" >
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">有效样本数</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control"  ng-model="vm.transportRecord.effectiveSampleNumber" >
                </div>
            </div>
            <div class="form-group col-sm-3 three-col">
                <label  class="col-sm-4 control-label p-r-6">冻存盒数</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control"  ng-model="vm.transportRecord.frozenBoxNumber">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">备注</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  ng-model="vm.transportRecord.memo">
                </div>
            </div>

        </div>
        <div class="row m-l-0 m-r-0">
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">空管数</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control"  ng-model="vm.transportRecord.emptyTubeNumber">
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label  class="col-sm-4 control-label p-r-6">空孔数</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control"  ng-model="vm.transportRecord.emptyHoleNumber">
                </div>
            </div>
            <div class="form-group col-sm-3 three-col">
                <label  class="col-sm-4 control-label p-r-6">样本满意度</label>
                <div class="col-sm-8">
                    <selectize options='vm.satisfactionOptions' config="vm.satisfactionConfig"
                               ng-model="vm.transportRecord.sampleSatisfaction"></selectize>
                    <input type="hidden" class="form-control" ng-model="vm.transportRecord.sampleSatisfaction" >
                </div>
            </div>


        </div>

    </form>
    <hr>
    <div class="row m-l-0 m-r-0">
        <div class="col-sm-2 boxes-table">
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance"  class="table table-bordered"></table>
        </div>
        <div class="col-sm-10 pipe-body p-l-0 p-r-0">
            <div class="">
                <form class="form-horizontal" name="boxFrom" role="form" novalidate>
                    <div class="row pipe-body-top m-l-0 m-r-0 ">
                        <div class="form-group col-sm-2">
                            <label  class="col-sm-4 control-label p-r-6">
                                <span class="required-field"></span>
                                冻存盒号
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="vm.box.frozenBoxCode" disabled required>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <label  class="col-sm-4 control-label p-r-6">
                                <span class="required-field"></span>
                                盒类型
                            </label>
                            <div class="col-sm-8">
                                <selectize options='vm.frozenBoxTypeOptions' config="vm.boxTypeConfig"
                                           ng-model="vm.box.frozenBoxTypeId" ng-disabled="!vm.box"></selectize>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <label  class="col-sm-4 control-label p-r-6">
                                <span class="required-field"></span>
                                样本类型
                            </label>
                            <div class="col-sm-8" >
                                <selectize options='vm.sampleTypeOptions' config="vm.sampleTypeConfig"
                                           ng-model="vm.box.sampleTypeId" ng-disabled="!vm.box"></selectize>
                            </div>
                        </div>
                        <div class="form-group col-sm-5 p-r-0 storage-location">
                            <label  class="col-sm-3 control-label p-r-6 ">
                                存储位置
                            </label>
                            <div class="col-sm-9 p-l-0 p-r-0">
                                <div style="" class="location">
                                    <selectize options='vm.frozenBoxPlaceOptions' config="vm.frozenBoxPlaceConfig" style="width: 100%"
                                               ng-model="vm.box.equipmentId" ng-disabled="!vm.box"></selectize>
                                    <input type="hidden" ng-model="vm.box.equipmentId" required>
                                </div>
                                <div  class="location">
                                    <selectize options='vm.frozenBoxAreaOptions' config="vm.frozenBoxAreaConfig" style="width: 100%"
                                               ng-model="vm.box.areaId" ng-disabled="!vm.box"></selectize>
                                    <input type="hidden" ng-model="vm.box.areaId" required>
                                </div>
                                <div  class="location">
                                    <selectize options='vm.frozenBoxShelfOptions' config="vm.frozenBoxShelfConfig" style="width: 100%"
                                               ng-model="vm.box.supportRackId" ng-disabled="!vm.box"></selectize>
                                </div>
                                <div  class="location"><input type="text" class="form-control" maxlength="2" ng-model="vm.boxRowCol" ng-disabled="!vm.box">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pipe-body-bottom  m-l-0 m-r-0">
                        <div class="col-sm-4 txt-width">
                            <p style="margin-top: 10px">
                                <span>样本数</span>
                                <span>{{vm.normalCount}}</span>
                                <span>空管</span>
                                <span>100个</span>
                                <span>空孔</span>
                                <span>{{vm.emptyCount}}</span>
                                <span>错位</span>
                                <span>100个</span>
                                <label class="checkbox-inline" style="margin-left: 10px;margin-top: -4px;padding-top: 0">
                                    <input type="checkbox" ng-model="vm.box.isSplit" ng-disabled="!vm.box" ng-true-value="1" ng-false-value="0">是否分装
                                </label>
                            </p>

                        </div>
                        <div class=" col-sm-8 box-remark">
                            <label  class="col-sm-2 control-label p-r-6">备注</label>
                            <div class="col-sm-10 ">
                                <textarea name="memo" class="form-control"rows="1" style="resize: none" ng-model="vm.box.memo" ng-disabled="!vm.box"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-10 p-l-0 pipe-table">
                        <div>
                            <span class="p-l-15">图例说明：</span><span><img src="content/images/legend-for-tube-status.svg" height="30px"/></span>
                        </div>
                        <hot-table hot-id="my-handsontable" settings="vm.settings" class="tube"></hot-table>
                    </div>
                </form>
            </div>

            <div class="col-sm-2 pull-right text-right pipe-operate" ng-show="vm.transportRecord.transhipState == '1001'">

                <div class="text-right" >
                    <button type="button"   class="btn btn-default" ng-class="{true:'btn-primary',false:''}[vm.flagStatus]" ng-model="vm.flagStatus" uib-btn-checkbox ng-click="vm.editStatus()" ng-disabled="!vm.box">状态编辑</button>
                </div>
                <div class="text-right" style="margin-top: 2px">
                    <button type="button" class="btn btn-default" ng-click="vm.exchange()" ng-disabled="!vm.box">样本换位</button>
                </div>
                <div class="text-right" style="margin-top: 2px">
                    <button type="button" class="btn btn-default" ng-click="vm.tubeRemark()" ng-disabled="!vm.box">样本批注</button>
                </div>
                <div class="text-right" style="margin-top: 2px">
                    <!--ng-disabled="boxForm.$invalid"-->
                    <button type="button" class="btn btn-default"  ng-click="vm.saveBox()" ng-disabled="!vm.box">&nbsp;保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存&nbsp;</button>
                </div>
                <div class="text-right" style="margin-top: 2px">
                    <button type="button" class="btn btn-default" ng-click="vm.reImportFrozenBoxData()" ng-disabled="!vm.box">重新导入</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="boxModal.html">
    <div class="modal-header">
        <h3 class="modal-title" >切换冻存盒</h3>
    </div>
    <div class="modal-body" >
        是否保存本次对冻存盒的修改？
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">保存</button>
        <button class="btn btn-primary" type="button" ng-click="ctrl.unSave()">不保存</button>
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">取消</button>
    </div>
</script>
<script type="text/ng-template" id="reImportDataModal.html">
    <div class="modal-header">
        <h3 class="modal-title" >导入冻存盒</h3>
    </div>
    <div class="modal-body" >
        确定重新导入冻存盒数据？
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">取消</button>
    </div>
</script>

