<form class="form-horizontal" novaildate name="newBoxForm">
<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">新增样本盒</h3>
</div>
<div class="modal-body add-box-modal-body" id="modal-body">
    <div ng-if="!vm.createBoxflag">
        <p>当前冻存盒已被分装满，是否需要新创建一个盒子进行分装？</p>
    </div>
    <div ng-if="vm.createBoxflag && vm.sampleFlag">

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            <label  class="col-sm-4 control-label">
                                <span class="required-field"></span>
                                样本盒编码
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  ng-model="vm.box.frozenBoxCode" placeholder="" required ng-blur="vm.isBoxCodeRepeat()">
                                <span ng-show="vm.isRepeat" style="color:red;">样本盒编码已经存在！</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label  class="col-sm-4 control-label">
                                <span class="required-field"></span>
                                样本类型
                            </label>
                            <!--ng-disabled="vm.isMixed != 1 || vm.fullBoxFlag"-->
                            <div class="col-sm-8">
                                <selectize options='vm.problemOptions' config="vm.sampleTypeConfig"
                                           ng-model="vm.box.sampleTypeId"
                                           ng-disabled="vm.fullBoxFlag"
                                ></selectize>
                                <input type="hidden" class="form-control"  ng-model="vm.box.sampleTypeId"  required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label  class="col-sm-4 control-label">
                                样本分类
                            </label>
                            <div class="col-sm-8">
                                <selectize options='vm.sampleTypeClassOptions' config="vm.sampleTypeClassConfig"
                                           ng-model="vm.box.sampleClassificationId" ng-disabled="!vm.box.sampleClassificationId || vm.fullBoxFlag" ng-if="vm.box.sampleClassificationId"></selectize>
                                <!--<input type="hidden" class="form-control"  ng-model="vm.box.sampleClassificationId"  required>-->
                                <input type="text" class="form-control" ng-disabled="true" ng-if="!vm.box.sampleClassificationId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label  class="col-sm-4 control-label">
                                <span class="required-field"></span>
                                盒子类型
                            </label>
                            <div class="col-sm-8">
                                <selectize options='vm.frozenBoxTypeOptions' config="vm.boxTypeConfig"
                                           ng-model="vm.box.frozenBoxTypeId" ng-disabled="true"></selectize>
                                <input type="hidden" name="level" ng-model="vm.box.frozenBoxTypeId"  required>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-9">
                                <textarea class="form-control"rows="10" style="resize: none" ng-model="vm.box.memo" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </div>
    <div ng-if="!vm.sampleFlag">
        <h4 class="" style="color: red">有未满冻存盒，不允许添加盒子!</h4>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.yes()" ng-if="!vm.createBoxflag">是</button>
    <button class="btn btn-primary" type="button" ng-click="vm.no()"  ng-if="!vm.createBoxflag">否</button>
    <button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-if="vm.createBoxflag && vm.sampleFlag " ng-disabled="newBoxForm.$invalid || !vm.noSampleClassFlag">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()" ng-if="vm.createBoxflag">取消</button>
</div>
</form>
