<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">分装冻存盒</h3>
</div>
<div class="modal-body add-box-modal-body" id="modal-body">
    <div>
        <p style="color:red;">请选择被分装的冻存管或者请选择要分装到的冻存盒！</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
</div>
