
<form class="form-horizontal" novaildate name="newSampleForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
        <h3 class="modal-title" id="modal-title">新增样本</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="split-box">
            <ul>
                <li ng-repeat="item in vm.tubes track by $index">
                    <div class="box-feature current" ng-style="{backgroundColor:item.backColor}"  ng-click="vm.sampleBoxSelect(item,$event)">
                        {{item.sampleCode}}
                    </div>
                    <!--<div ng-repeat="item1 in item.boxList track by $index">-->
                        <!--<div class="box-feature current" ng-style="{backgroundColor:item1.backColor}"  ng-click="vm.sampleBoxSelect(item1,$event)">-->
                            <!--{{item1.countOfSample}}/{{item1.frozenBoxType.frozenBoxTypeColumns*item1.frozenBoxType.frozenBoxTypeRows}}-->
                            <!--<span ng-if="item1.addTubeCount">+{{item1.addTubeCount}}</span>-->
                        <!--</div>-->
                        <!--<div class="" ng-if="$index == 0">{{item1.sampleTypeName}}&nbsp;</div>-->
                        <!--<div ng-class="{'second-box': $index == 1}">{{item1.copyBoxCode}}</div>-->
                    <!--</div>-->
                    <!--<div class="box-feature box-feature-copy" style="background-color: #fff;" ng-if="item.boxList.length == 2"></div>-->
                </li>
                <div class="clear-both"></div>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()" >确定</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
    </div>
</form>
