
<form class="form-horizontal" novaildate name="newSampleForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
        <h3 class="modal-title" id="modal-title">新增样本</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <h4>请选择对应样本，注意样本类型及样本分类，与盒子是否一致!</h4>
        <div class="split-box">
            <table class="table table-bordered">
                <thead>
                    <th>样本编码</th>
                    <th>盒子编码</th>
                    <th>样本类型</th>
                    <th>样本分类</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.tubes track by $index" ng-click="vm.sampleBoxSelect(item,$event)">
                        <td>{{item.sampleCode}}</td>
                        <td>{{item.frozenBoxCode}}</td>
                        <td>{{item.sampleTypeName}}</td>
                        <td>{{item.sampleClassificationName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()" >确定</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
    </div>
</form>
