<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" style="margin-top: 11px;margin-right: 10px;font-size: 23px;"><span >&times;</span></button>
    <h3 class="modal-title" id="modal-title">入库完成</h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-if="!vm.allPutInFlag">
        <h4>有未上架的冻存盒，是否进行拆单？</h4>
    </div>
    <form  ng-if="vm.allPutInFlag">
        <div class="row">
            <div class="col-md-6">
                <label >入库日期<span class="required-field"></span> </label>
                <div class="input-group">
                    <input  type="text" class="form-control" name="startDate" ui-mask="9999-99-99" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stockInInfo.stockInDate" is-open="vm.datePickerOpenStatus.stockInDate"
                            required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('stockInDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label >入库员1<span class="required-field"></span> </label>
                <selectize options='vm.loginOptions' config="vm.loginConfig"
                           ng-model="vm.loginName1"></selectize>
                <input type="hidden" class="form-control"   ng-model="vm.loginName1">
            </div>
            <div class="col-md-6">
                <label>密码<span class="required-field"></span> </label>
                <input type="password" class="form-control" ng-model="vm.password1" placeholder="密码" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>入库员2<span class="required-field"></span> </label>
                <selectize options='vm.loginOptions' config="vm.loginConfig"
                           ng-model="vm.loginName2"></selectize>
                <input type="hidden" class="form-control"   ng-model="vm.loginName2">
            </div>
            <div class="col-md-6">
                <label >密码<span class="required-field"></span> </label>
                <input type="password" class="form-control" ng-model="vm.password2" placeholder="密码" required>

            </div>
        </div>


    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.yes()" ng-if="!vm.allPutInFlag">是</button>
    <button class="btn btn-warning" type="button" ng-click="vm.no()"  ng-if="!vm.allPutInFlag">否</button>
    <button class="btn btn-primary" type="button" ng-click="vm.ok()"  ng-if="vm.allPutInFlag"
            ng-disabled="!vm.loginName1 || !vm.loginName2 || !vm.password1 || !vm.password2 || !vm.stockInInfo.stockInDate">确定</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()" ng-if="vm.allPutInFlag">取消</button>
</div>
