<div style="position: fixed;top:-30px;">
    <textarea  type="text" rows="1"  ng-model="vm.sampleCode"  ng-blur="vm.onScanCodeBlur()"></textarea>
</div>
<form class="form-horizontal" name="myForm" novalidate>
    <div class="pull-left">
        <h3 style="margin: 2px;">归还记录详情
            <small>&nbsp;{{vm.giveBackRecord.transhipCode}}</small>
        </h3>
    </div>
    <div class="form-group pull-right pr-15">
        <div class="text-right">
            <button type="button" class="btn btn-primary" ng-click="vm.completeGiveBack()"
                    ng-disabled="myForm.$invalid || !vm.boxList.length">接收完成
            </button>
            <button type="button" class="btn btn-default" ng-click="vm.saveGiveBackRecord()"
                    ng-disabled="myForm.$invalid">保存
            </button>
            <button type="button" class="btn btn-default" ng-click="vm.invalid()" ng-disabled="vm.boxList.length">作废</button>
            <button type="button" class="btn btn-default" ui-sref="give-back-table">关闭</button>
        </div>
    </div>
    <div class="clear-both"></div>

    <!--归还单信息-->
    <div class="give-back-info">
        <div class="row">
            <!--<div class="col-md-3">-->
                <!--<div class="form-group ">-->
                    <!--<label class="col-md-4 control-label text-left">-->
                        <!--申请单号-->
                        <!--<span class="required-field"></span>-->
                    <!--</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control" ng-model="vm.giveBackRecord.applyCode"-->
                               <!--ng-disabled="true" required>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
            <div class="col-md-3">
                <div class="form-group ">
                    <label class="col-md-4 control-label text-left">
                        项目编码
                        <span class="required-field"></span>
                    </label>
                    <div class="col-md-8">
                        <selectize options='vm.projectOptions' config="vm.projectConfig"
                                   ng-model="vm.giveBackRecord.projectId"  ng-disabled="vm.boxList.length"></selectize>
                        <input type="hidden" name="giveBackRecord" ng-model="vm.giveBackRecord.projectId" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group project-sites">
                    <label class="col-md-4 control-label text-left">
                        归还单位
                        <span class="required-field"></span>
                    </label>
                    <div class="col-md-8">
                        <selectize options='vm.delegatesOptions' config="vm.delegatesConfig"
                        ng-model="vm.giveBackRecord.delegateId"></selectize>
                        <input type="hidden" class="form-control"
                               ng-model="vm.giveBackRecord.delegateId" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group three-col project-sites">
                    <label class="col-md-4 control-label text-left">归还人<span class="required-field"></span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="vm.giveBackRecord.applyPersonName" required>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label class="col-md-4 control-label text-left">
                        归还日期
                        <span class="required-field"></span>
                    </label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control" name="receiveDate"
                                   uib-datepicker-popup="{{dateformat}}" ng-model="vm.giveBackRecord.receiveDate"
                                   is-open="vm.datePickerOpenStatus.receiveDate"
                                   required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('receiveDate')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group three-col">

                    <label class="col-md-4 control-label text-left">
                        接收人
                        <span class="required-field"></span>
                    </label>
                    <div class="col-md-8">
                        <selectize options='vm.receiverOptions' config="vm.receiverConfig"
                                   ng-model="vm.giveBackRecord.receiverId"></selectize>
                        <input type="hidden" class="form-control"
                               ng-model="vm.giveBackRecord.receiverId" required>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group three-col">
                    <label class="col-md-4 control-label text-left">冻存盒数</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" ng-model="vm.giveBackRecord.frozenBoxNumber" min="0">
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label text-left">样本人份</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" ng-model="vm.giveBackRecord.sampleNumber" min="0">
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label text-left">有效样本数</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" ng-model="vm.giveBackRecord.effectiveSampleNumber"
                               min="0">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">



            <div class="col-md-3">
                <div class="form-group ">
                    <label class="col-md-4 control-label text-left">空管数</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" ng-model="vm.giveBackRecord.emptyTubeNumber" min="0">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label class="col-md-4 control-label text-left">空孔数</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" ng-model="vm.giveBackRecord.emptyHoleNumber" min="0">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group ">
                    <label class="col-md-4 control-label text-left">存储位置</label>
                    <div class="col-md-8">
                        <div class="col-md-6 pl-0">
                            <selectize options='vm.equipmentOptions' config="vm.recordEquipmentConfig"
                                       ng-model="vm.giveBackRecord.tempEquipmentId"></selectize>
                        </div>
                        <div class="col-md-6 pl-0 pr-0">
                            <selectize options='vm.recordAreaOptions' config="vm.recordAreaConfig"
                                       ng-model="vm.giveBackRecord.tempAreaId"></selectize>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4 control-label text-left">检测类型</label>
                    <div class="col-md-8">
                        <selectize options='vm.checkTypeOptions' config="vm.checkTypeConfig"
                                   ng-model="vm.giveBackRecord.checkTypeId "></selectize>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-2 control-label text-left">备注</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="vm.giveBackRecord.memo">
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>
<hr style="margin-top: 12px">
<!--归还的盒子信息-->
<div class="give-back-box-info row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6 pl-5 pr-0">
                        <h4>归还冻存盒</h4>
                    </div>
                    <div class="col-md-6 pl-0 pr-5 text-right" style="margin-top: 8px !important;">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="vm.addNewBox()">新增</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="vm.importBox()">导入</button>
                    </div>
                </div>

            </div>
            <div class="panel-body import-box no-padding">
                <table datatable="" dt-options="vm.boxOptions" dt-columns="vm.boxColumns" dt-instance="vm.boxInstance"
                       class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
    <div class="col-md-10 pl-0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2" style="width: 122px;">
                        <h4>归还盒详情</h4>
                    </div>
                    <div class="col-md-3 pl-0 pr-0" style="width: 310px">
                        <ul class="list-inline" style="margin-top: 9px">
                            <li><span>正常</span>
                                <span>{{vm.sampleCount.normalCount}}</span></li>
                            <li><span>空管</span>
                                <span>{{vm.sampleCount.emptyPipeCount}}</span>
                            </li>
                            <li><span>空孔</span>
                                <span>{{vm.sampleCount.emptyHoleCount}}</span>
                            </li>
                            <li><span>可疑</span>
                                <span>{{vm.sampleCount.suspiciousCount}}</span>
                            </li>
                            <li><span>异常</span>
                                <span>{{vm.sampleCount.abnormalCount}}</span></li>
                            <li></li>
                        </ul>
                    </div>
                    <!--vm.scanCheckTube()-->
                    <div class="col-md-7 text-right" style="height: 38px;line-height: 35px;float: right;">
                        <div  class="stock-out-task-scan" ng-if="vm.checkedFlag" style="width: 150px;margin-top: 7px">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="vm.sampleCode" ng-blur="vm.onScanCodeBlur()" id="focusTextarea" style="height:26px;">
                                <div class="input-group-addon btn-xs" ng-click="vm.onScanHandler()"
                                     ng-class="{true:'btn-primary',false:''}[vm.scanFlag]" ng-model="vm.scanFlag" uib-btn-checkbox  style="height: 26px;padding: 0 8px;">
                                    <i class="fa fa-qrcode"></i>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default btn-xs btn-primary mt-8" ng-click="vm.saveBox()"
                                ng-disabled="!vm.box.frozenBoxCode">
                            保　　存
                        </button>
                        <button type="button" class="btn btn-default btn-xs btn-danger mt-8" ng-click="vm.delBox()"
                                ng-disabled="!vm.box.frozenBoxCode">
                            删除盒子
                        </button>
                        <button type="button" class="btn btn-default btn-xs mt-8" ng-click="vm.scanCheckTube()"
                                ng-class="{true:'btn-primary',false:''}[vm.checkedFlag]"
                                ng-disabled="!vm.box.frozenBoxCode " ng-model="vm.checkedFlag" uib-btn-checkbox>
                            扫码核对
                        </button>
                        <button type="button" class="btn btn-default btn-xs mt-8"
                                ng-class="{true:'btn-primary',false:''}[vm.flagStatus]" ng-model="vm.flagStatus"
                                uib-btn-checkbox ng-click="vm.changeStatus()" ng-disabled="!vm.box.frozenBoxCode">状态编辑
                        </button>
                        <button type="button" class="btn btn-default btn-xs mt-8" ng-click="vm.editSample()"
                                ng-disabled="!vm.box.frozenBoxCode || vm.flagStatus">修改
                        </button>
                        <button type="button" class="btn btn-default btn-xs mt-8" ng-click="vm.exchange()"
                                ng-disabled="!vm.box.frozenBoxCode || vm.flagStatus">换位
                        </button>
                        <button type="button" class="btn btn-default btn-xs mt-8" ng-click="vm.tubeRemark()"
                                ng-disabled="!vm.box.frozenBoxCode || vm.flagStatus">批注
                        </button>
                        <button type="button" class="btn btn-default btn-xs mt-8" ng-click="vm.reloadBoxData()"
                                ng-disabled="!vm.box.frozenBoxCode">重新导入
                        </button>
                        <!--<button type="button" class="btn btn-default btn-xs" ng-click="vm.repealTubes()"-->
                                <!--ng-disabled="!vm.box.frozenBoxCode">撤销-->
                        <!--</button>-->
                    </div>
                </div>


            </div>
            <div class="panel-body p-0" >
                <div class="row">
                    <div class="col-md-3 pr-0 pl-20">
                        <div class="row">
                            <div class="form-group col-md-6 pr-0">
                                <label>一维编码</label>
                                <input type="text" class="form-control" input-btn ng-model="vm.box.frozenBoxCode1D"
                                       ng-disabled="!vm.box" required
                                >
                            </div>
                            <div class="form-group col-md-6">
                                <label>冻存盒号<span class="required-field"></span></label>
                                  <input type="text" class="form-control" ng-model="vm.box.frozenBoxCode"
                                       ng-disabled="true" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 pr-0">
                                <label>盒类型</label>
                                <input type="text" class="form-control" ng-model="vm.box.frozenBoxTypeName"
                                       ng-disabled="true">
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-md-6 pr-0">
                                <label>样本类型<span class="required-field"></span></label>
                                <input type="text" class="form-control" ng-model="vm.box.sampleTypeName"
                                       ng-disabled="true">
                                <label class="checkbox-inline pb-10">
                                    <input type="checkbox" ng-model="vm.box.isSplit" ng-disabled="!vm.box.frozenBoxCode || vm.isMixedFlag"
                                           ng-true-value="1" ng-false-value="0">是否分装
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>样本分类</label>
                                <input type="text" class="form-control" ng-model="vm.box.sampleClassificationName"
                                       ng-disabled="true">
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">

                                    存储位置
                                </label>
                                <div class="">
                                    <div class="col-md-3 p-0">
                                        <selectize options='vm.equipmentOptions' config="vm.equipmentConfig"
                                                   ng-model="vm.box.equipmentId" ng-disabled="!vm.box"></selectize>
                                        <input type="hidden" ng-model="vm.box.equipmentId" required>
                                    </div>
                                    <div class="col-md-3 p-0 pl-10">
                                        <selectize options='vm.frozenBoxAreaOptions' config="vm.frozenBoxAreaConfig"

                                                   ng-model="vm.box.areaId" ng-disabled="!vm.box"></selectize>
                                        <input type="hidden" ng-model="vm.box.areaId" required>
                                    </div>
                                    <div class="col-md-3 p-0 pl-10">
                                        <selectize options='vm.frozenBoxShelfOptions' config="vm.frozenBoxShelfConfig"

                                                   ng-model="vm.box.supportRackId" ng-disabled="!vm.box"></selectize>
                                    </div>
                                    <div class="col-md-3 p-0 pl-10">
                                        <input type="text" class="form-control" maxlength="3" ng-model="vm.boxRowCol"
                                               ng-blur="vm.splitPlace()" ng-disabled="!vm.box">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>备注</label>
                                <textarea name="memo" class="form-control" rows="7"
                                          style="resize: none;ime-mode:disabled"
                                          ng-model="vm.box.memo" ng-disabled="!vm.box"
                                          onfocus=" this.style.imeMode='disabled' "></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 pipe-table">
                        <div>
                            <span class="">图例说明：</span><span><img class="legend-for-tube-status" src="content/images/legend-for-tube-status.svg"
                                                                  height="30px"/></span>
                        </div>
                        <div tube-box-table ht-instance="vm.htInstance" ht-settings="vm.htSettings"
                             data-box="vm.box" data-tubes="vm.tubes"></div>
                    </div>
                    <!--<div class="col-md-1" ng-show="vm.giveBackRecord.transhipState == '1001'">-->
                    <!--<div class="text-right" style="margin-top: 2px">-->

                    <!--</div>-->
                    <!--<div class="text-right" style="margin-top: 2px">-->
                    <!--<button type="button" class="btn btn-default btn-sm" ng-click="vm.delBox()" ng-disabled="!vm.box">-->
                    <!--删除盒子-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--<div class="text-right">-->
                    <!--<button type="button" class="btn btn-default btn-sm"-->
                    <!--ng-class="{true:'btn-primary',false:''}[vm.flagStatus]" ng-model="vm.flagStatus"-->
                    <!--uib-btn-checkbox ng-click="vm.editStatus()" ng-disabled="!vm.box">状态编辑-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--<div class="text-right" style="margin-top: 2px">-->
                    <!--<button type="button" class="btn btn-default btn-sm" ng-click="vm.exchange()"-->
                    <!--ng-disabled="!vm.box || vm.flagStatus">样本换位-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--<div class="text-right" style="margin-top: 2px">-->
                    <!--<button type="button" class="btn btn-default btn-sm" ng-click="vm.tubeRemark()"-->
                    <!--ng-disabled="!vm.box || vm.flagStatus">样本批注-->
                    <!--</button>-->
                    <!--</div>-->

                    <!--<div class="text-right" style="margin-top: 2px">-->
                    <!--<button type="button" class="btn btn-default btn-sm" ng-click="vm.reImportFrozenBoxData()"-->
                    <!--ng-disabled="!vm.box">重新导入-->
                    <!--</button>-->
                    <!--</div>-->

                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</div>
<!--上传附件-->
<div class="give-back-upload row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h4>附件</h4>
                    </div>
                    <div class="col-md-8 text-right" style="margin-top: 8px !important;">
                        <button class="btn btn-default btn-xs" ng-click="vm.uploadFile(1)" ngf-max-size="2MB">上传附件</button>
                    </div>
                </div>

            </div>
            <div class="panel-body" >
                <!--<img ng-src="{{vm.thumb.imgSrc}}" id="transportImage">-->
                <div  viewer
                      images-data="vm.transportRecordUploadInfo"
                      upload-file = "vm.uploadFile(status,imgData)"
                      del-file = "vm.delUploadFile(id)"
                ></div>

            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="warningModal.html">
    <div class="modal-header">
        <h3 class="modal-title">提示</h3>
    </div>
    <div class="modal-body">
        <p ng-if="vm.status == '1'">
            确定重新导入冻存盒数据？
        </p>
        <p ng-if="vm.status == '2'">
            确定作废此归还单？
        </p>
        <p ng-if="vm.status == '3'">
            确定删除此冻存盒？
        </p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">取消</button>
    </div>
</script>
