<div class="transport-record-index">
    <h2 class="pull-left">归还记录</h2>
    <div class="pull-right">
        <form class="form-inline mr-10">
            <button  ng-click="vm.stockIn()" class="btn btn-primary">开始入库</button>
            <button  ng-click="vm.add()" class="btn btn-primary">添加</button>
        </form>
    </div>
    <div class="transport-record-body">
        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class=" table table-striped table-bordered">
            <tfoot>
            <tr>
                <th></th>
                <th>归还记录单</th>
                <th>出库申请单</th>
                <th>项目编码</th>
                <th>归还单位</th>
                <th>归还人</th>
                <th>归还日期</th>
                <th>接收人</th>
                <th>状态</th>
                <th style="width: 100px"></th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
