<form>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>项目名称</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>项目负责人</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>项目编码</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>开始时间</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>结束时间</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>委托方</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>联系人</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>联系电话</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>样本空间</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>状态</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>项目名称</label>
                <textarea rows="6"  class="form-control resize-none" ></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>项目名称</label>
                <textarea rows="6"  class="form-control resize-none"></textarea>
            </div>
        </div>
    </div>
</form>
