
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySupportRackLabel" data-translate="bioBankApp.supportRack.home.createOrEditLabel">Create or edit a Support Rack</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.supportRack.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.supportRack.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.supportRack.supprotRackCode" for="field_supprotRackCode">Supprot Rack Code</label>
            <input type="text" class="form-control" name="supprotRackCode" id="field_supprotRackCode"
                    ng-model="vm.supportRack.supprotRackCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.supprotRackCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.supprotRackCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.supprotRackCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.supportRack.supportRackTypeCode" for="field_supportRackTypeCode">Support Rack Type Code</label>
            <input type="text" class="form-control" name="supportRackTypeCode" id="field_supportRackTypeCode"
                    ng-model="vm.supportRack.supportRackTypeCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.supportRackTypeCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.supportRackTypeCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.supportRackTypeCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.supportRack.areaCode" for="field_areaCode">Area Code</label>
            <input type="text" class="form-control" name="areaCode" id="field_areaCode"
                    ng-model="vm.supportRack.areaCode"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.areaCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.areaCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.areaCode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.supportRack.memo" for="field_memo">Memo</label>
            <input type="text" class="form-control" name="memo" id="field_memo"
                    ng-model="vm.supportRack.memo"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.memo.$invalid">
                <p class="help-block"
                    ng-show="editForm.memo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bioBankApp.supportRack.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.supportRack.status"
                    required ng-maxlength="20"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="bioBankApp.supportRack.supportRackType" for="field_supportRackType">Support Rack Type</label>
            <select class="form-control" id="field_supportRackType" name="supportRackType" ng-model="vm.supportRack.supportRackTypeId" ng-options="supportRackType.id as supportRackType.id for supportRackType in vm.supportracktypes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.supportRackType.$invalid">
            <p class="help-block"
                ng-show="editForm.supportRackType.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="bioBankApp.supportRack.area" for="field_area">Area</label>
            <select class="form-control" id="field_area" name="area" ng-model="vm.supportRack.areaId" ng-options="area.id as area.id for area in vm.areas"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.area.$invalid">
            <p class="help-block"
                ng-show="editForm.area.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
