<div>
    <h2 data-translate="bioBankApp.supportRack.home.title">Support Racks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="support-rack.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bioBankApp.supportRack.home.createLabel">
                        Create new Support Rack
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supprotRackCode"><span data-translate="bioBankApp.supportRack.supprotRackCode">Supprot Rack Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supportRackTypeCode"><span data-translate="bioBankApp.supportRack.supportRackTypeCode">Support Rack Type Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="areaCode"><span data-translate="bioBankApp.supportRack.areaCode">Area Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="bioBankApp.supportRack.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bioBankApp.supportRack.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supportRackTypeId"><span data-translate="bioBankApp.supportRack.supportRackType">Support Rack Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="areaId"><span data-translate="bioBankApp.supportRack.area">Area</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="supportRack in vm.supportRacks track by supportRack.id">
                    <td><a ui-sref="support-rack-detail({id:supportRack.id})">{{supportRack.id}}</a></td>
                    <td>{{supportRack.supprotRackCode}}</td>
                    <td>{{supportRack.supportRackTypeCode}}</td>
                    <td>{{supportRack.areaCode}}</td>
                    <td>{{supportRack.memo}}</td>
                    <td>{{supportRack.status}}</td>
                    <td>
                        <a ui-sref="support-rack-type-detail({id:supportRack.supportRackTypeId})">{{supportRack.supportRackTypeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="area-detail({id:supportRack.areaId})">{{supportRack.areaId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="support-rack-detail({id:supportRack.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="support-rack.edit({id:supportRack.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="support-rack.delete({id:supportRack.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
